<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head {{ HEAD_ATTRS }}>
    {{ HEAD }}
  </head>
  <body class="body loader-loading" {{ BODY_ATTRS }}>
    {{ APP }}
    <script>
      /* Google Maps */
      // var initMap = function (){
      //   // Create a new StyledMapType object, passing it an array of styles,
      //   // and the name to be displayed on the map type control.
      //   var styledMapType = new google.maps.StyledMapType(
      //       [
      //           {
      //               "elementType": "geometry",
      //               "stylers": [
      //               {
      //                   "color": "#f5f5f5"
      //               }
      //               ]
      //           },
      //           {
      //               "elementType": "labels.icon",
      //               "stylers": [
      //               {
      //                   "visibility": "off"
      //               }
      //               ]
      //           },
      //           {
      //               "elementType": "labels.text.fill",
      //               "stylers": [
      //               {
      //                   "color": "#616161"
      //               }
      //               ]
      //           },
      //           {
      //               "elementType": "labels.text.stroke",
      //               "stylers": [
      //               {
      //                   "color": "#f5f5f5"
      //               }
      //               ]
      //           },
      //           {
      //               "featureType": "administrative.land_parcel",
      //               "elementType": "labels.text.fill",
      //               "stylers": [
      //               {
      //                   "color": "#bdbdbd"
      //               }
      //               ]
      //           },
      //           {
      //               "featureType": "poi",
      //               "elementType": "geometry",
      //               "stylers": [
      //               {
      //                   "color": "#eeeeee"
      //               }
      //               ]
      //           },
      //           {
      //               "featureType": "poi",
      //               "elementType": "labels.text.fill",
      //               "stylers": [
      //               {
      //                   "color": "#757575"
      //               }
      //               ]
      //           },
      //           {
      //               "featureType": "poi.park",
      //               "elementType": "geometry",
      //               "stylers": [
      //               {
      //                   "color": "#e5e5e5"
      //               }
      //               ]
      //           },
      //           {
      //               "featureType": "poi.park",
      //               "elementType": "labels.text.fill",
      //               "stylers": [
      //               {
      //                   "color": "#9e9e9e"
      //               }
      //               ]
      //           },
      //           {
      //               "featureType": "road",
      //               "elementType": "geometry",
      //               "stylers": [
      //               {
      //                   "color": "#ffffff"
      //               }
      //               ]
      //           },
      //           {
      //               "featureType": "road.arterial",
      //               "elementType": "labels.text.fill",
      //               "stylers": [
      //               {
      //                   "color": "#757575"
      //               }
      //               ]
      //           },
      //           {
      //               "featureType": "road.highway",
      //               "elementType": "geometry",
      //               "stylers": [
      //               {
      //                   "color": "#dadada"
      //               }
      //               ]
      //           },
      //           {
      //               "featureType": "road.highway",
      //               "elementType": "labels.text.fill",
      //               "stylers": [
      //               {
      //                   "color": "#616161"
      //               }
      //               ]
      //           },
      //           {
      //               "featureType": "road.local",
      //               "elementType": "labels.text.fill",
      //               "stylers": [
      //               {
      //                   "color": "#9e9e9e"
      //               }
      //               ]
      //           },
      //           {
      //               "featureType": "transit.line",
      //               "elementType": "geometry",
      //               "stylers": [
      //               {
      //                   "color": "#e5e5e5"
      //               }
      //               ]
      //           },
      //           {
      //               "featureType": "transit.station",
      //               "elementType": "geometry",
      //               "stylers": [
      //               {
      //                   "color": "#eeeeee"
      //               }
      //               ]
      //           },
      //           {
      //               "featureType": "water",
      //               "elementType": "geometry",
      //               "stylers": [
      //               {
      //                   "color": "#c9c9c9"
      //               }
      //               ]
      //           },
      //           {
      //               "featureType": "water",
      //               "elementType": "labels.text.fill",
      //               "stylers": [
      //               {
      //                   "color": "#9e9e9e"
      //               }
      //               ]
      //           }
      //       ],
      //       {name: 'Styled Map'});

      //   // Create a map object, and include the MapTypeId to add
      //   // to the map type control.
      //   $('.gmap').each(function(i, el){
      //       var $el = $(el),
      //           data = $el.data(),
      //           mark = {lat: data.lat, lng: data.lng},
      //           center = {lat: data.centerLat || (mark.lat - 0.002), lng: data.centerLng || (mark.lng + 0.003)},
      //           map = new google.maps.Map(el, {
      //               center: center, // map center position
      //               zoom: data.zoom || 15,
      //               scrollwheel: false,
      //               zoomControl: true,
      //               zoomControlOptions: {
      //                 position: google.maps.ControlPosition.LEFT_CENTER
      //               },
      //               streetViewControl: true,
      //               streetViewControlOptions: {
      //                 position: google.maps.ControlPosition.LEFT_BOTTOM
      //               },
      //               mapTypeControlOptions: {
      //                   mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain', 'styled_map']
      //               }
      //           })
      //       ;

      //       new google.maps.Marker({
      //         position: mark,
      //         map: map,
      //         icon: data.marker || "/lib/images/parts/map-marker.png"
      //       });

      //       // Associate the styled map with the MapTypeId and set it to display.
      //       map.mapTypes.set('styled_map', styledMapType);
      //       map.setMapTypeId('styled_map');
      //       // Center map on resize
      //       $(window).on('resize', function(){
      //           google.maps.event.trigger(map, 'resize');
      //           map.setCenter(center);
      //       });
      //   });
      // };
    </script>
  </body>
</html>