<template>
  <div>
    <Headers />
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back"></div>
        <div class="container page-info">
            <div class="section-alt-head container-md">
                <h1 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Project 09</h1>
            </div>
        </div>
        <div class="section-footer">
            <div class="container" data-inview-showup="showup-translate-down">
                <ul class="page-path">
                    <li>
                      <nuxt-link :to="{ name: 'index' }">Home</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>
                      <nuxt-link :to="{ name: 'projects' }">Projects</nuxt-link>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="muted-bg solid-section">
        <div class="container">
            <div class="article clearfix">
                <div class="row rows-md cols-xl offs-xl">
                    <div class="sm-col-7" data-inview-showup="showup-translate-up">
                        <img class="image" src="https://dummyimage.com/1920x1080" alt="" />
                    </div>
                    <div class="sm-col-5" data-inview-showup="showup-translate-up">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam milo nonummy il nibh euismod tincidunt ut crson.
                            <br/> laoreet dolore magna aliquam erat volunt tpat. Ut wisi enim ad minimalis veniam, quis nostrud exerci tation ullami portomu ulim pulki kaliom orno tun malium onorty corper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            <br/> Duis autem vel eum iriure dolor in hendren.</p>
                        <div class="description-line text-upper offs-md">
                            <div class="title text-muted">client :</div>
                            <div class="value alt-color">John Doe</div>
                        </div>
                        <div class="description-line text-upper offs-md">
                            <div class="title text-muted">date :</div>
                            <div class="value alt-color">09 - 20 - 2015</div>
                        </div>
                        <div class="description-line text-upper offs-md">
                            <div class="title text-muted">location :</div>
                            <div class="value alt-color">Australia</div>
                        </div>
                        <div class="description-line text-upper offs-md">
                            <div class="title text-muted">brand :</div>
                            <div class="value alt-color">Toshiba</div>
                        </div>
                        <div class="description-line text-upper offs-md">
                            <div class="title text-muted">cost :</div>
                            <div class="value alt-color">15 $</div>
                        </div>
                    </div>
                </div>
                <h2 class="text-center text-upper" data-inview-showup="showup-translate-up">What we did</h2>
                <div class="content-text clearfix" data-inview-showup="showup-translate-up">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam milo nonummy il nibh euismod tincidunt ut crson. laoreet dolore magna aliquam erat volunt tpat. Ut wisi enim ad minimalis veniam, quis nostrud exerci tation ullami portomu ulim pulki kaliom orno tun malium onorty corper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendren.</p>
                </div>
                <div class="row cols-md pull-left share" data-inview-showup="showup-translate-up">
                    <div class="col">Share:</div>
                    <div class="col">
                        <div class="cols-list cols-sm">
                            <a href="#" class="list-item"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                            <a href="#" class="list-item"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" class="list-item"><i class="fab fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#" class="list-item"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a>
                            <a href="#" class="list-item"><i class="fab fa-dribbble" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-section">
        <div class="container">
            <div class="section-head text-center container-md">
                <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Our latest projects</h2>
            </div>
            <div class="row cols-tiny rows-tiny">
                <div class="md-col-4 sm-col-6">
                    <div class="item muted-bg" data-inview-showup="showup-scale">
                        <div class="block-link">
                            <div class="image-wrap">
                                <img class="image" src="https://dummyimage.com/720x405" alt="" />
                            </div>
                            <div class="hover">
                                <div class="hover-lines">
                                    <div class="back"></div>
                                    <div class="line-content">
                                        <h5 class="text-white">Project title</h5>
                                        <p>description of project</p>
                                        <nuxt-link
                                          :to="{ name: 'projects-item', params: { item: 'project-item-1' } }"
                                          class="text-upper simple-link line-link text-bold text-sm"
                                        >
                                          read more
                                        </nuxt-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md-col-4 sm-col-6">
                    <div class="item muted-bg" data-inview-showup="showup-scale">
                        <div class="block-link">
                            <div class="image-wrap">
                                <img class="image" src="https://dummyimage.com/720x405" alt="" />
                            </div>
                            <div class="hover">
                                <div class="hover-lines">
                                    <div class="back"></div>
                                    <div class="line-content">
                                        <h5 class="text-white">Project title</h5>
                                        <p>description of project</p>
                                        <nuxt-link
                                          :to="{ name: 'projects-item', params: { item: 'project-item-1' } }"
                                          class="text-upper simple-link line-link text-bold text-sm"
                                        >
                                          read more
                                        </nuxt-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md-col-4 sm-col-6">
                    <div class="item muted-bg" data-inview-showup="showup-scale">
                        <div class="block-link">
                            <div class="image-wrap">
                                <img class="image" src="https://dummyimage.com/720x405" alt="" />
                            </div>
                            <div class="hover">
                                <div class="hover-lines">
                                    <div class="back"></div>
                                    <div class="line-content">
                                        <h5 class="text-white">Project title</h5>
                                        <p>description of project</p>
                                        <nuxt-link
                                          :to="{ name: 'projects-item', params: { item: 'project-item-1' } }"
                                          class="text-upper simple-link line-link text-bold text-sm"
                                        >
                                          read more
                                        </nuxt-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center shift-xl">
            </div>
        </div>
    </section>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
export default {
  mounted () {
    this.$initLoad()
  }
}
</script>

<style>

</style>
