<template>
  <div>
    <Headers />
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back"></div>
        <div class="container page-info">
            <div class="section-alt-head container-md">
                <h1 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Projects</h1>
            </div>
        </div>
        <div class="section-footer">
            <div class="container" data-inview-showup="showup-translate-down">
                <ul class="page-path">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>
                        <a href="projects.html">Projects</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="content-section">
        <div class="container">
            <div class="shuffle-js">
                <div class="selectable-categories offs-lg text-center" data-inview-showup="showup-translate-up">
                    <a class="active" data-filter='all' href="#">All</a>
                    <a href="#" data-filter='["Laptop"]'>Laptop Repair</a>
                    <a href="#" data-filter='["Computer"]'>Computer Repair</a>
                    <a href="#" data-filter='["Printer"]'>Printer Repair</a>
                    <a href="#" data-filter='["Smartphone"]'>Smartphone repair</a>
                </div>
                <div class="row cols-tiny rows-tiny shuffle-items">
                    <div class="shuffle-item col-12 md-col-4 sm-col-6" data-groups='["Computer", "Laptop", "Smartphone"]'>
                        <div class="item muted-bg" data-inview-showup="showup-scale">
                            <div class="block-link">
                                <div class="image-wrap">
                                    <img class="image" src="https://dummyimage.com/720x405" alt="" />
                                </div>
                                <div class="hover">
                                    <div class="hover-lines">
                                        <div class="back"></div>
                                        <div class="line-content">
                                            <h5 class="text-white">Project title</h5>
                                            <p>description of project</p>
                                            <nuxt-link
                                              :to="{ name: 'projects-item', params: { item: 'project-item-1' } }"
                                              class="text-upper simple-link line-link text-bold text-sm"
                                            >
                                              read more
                                            </nuxt-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shuffle-item col-12 md-col-4 sm-col-6" data-groups='["Computer", "Laptop"]'>
                        <div class="item muted-bg" data-inview-showup="showup-scale">
                            <div class="block-link">
                                <div class="image-wrap">
                                    <img class="image" src="https://dummyimage.com/720x405" alt="" />
                                </div>
                                <div class="hover">
                                    <div class="hover-lines">
                                        <div class="back"></div>
                                        <div class="line-content">
                                            <h5 class="text-white">Project title</h5>
                                            <p>description of project</p>
                                            <nuxt-link
                                              :to="{ name: 'projects-item', params: { item: 'project-item-1' } }"
                                              class="text-upper simple-link line-link text-bold text-sm"
                                            >
                                              read more
                                            </nuxt-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shuffle-item col-12 md-col-4 sm-col-6" data-groups='["Smartphone"]'>
                        <div class="item muted-bg" data-inview-showup="showup-scale">
                            <div class="block-link">
                                <div class="image-wrap">
                                    <img class="image" src="https://dummyimage.com/720x405" alt="" />
                                </div>
                                <div class="hover">
                                    <div class="hover-lines">
                                        <div class="back"></div>
                                        <div class="line-content">
                                            <h5 class="text-white">Project title</h5>
                                            <p>description of project</p>
                                            <nuxt-link
                                              :to="{ name: 'projects-item', params: { item: 'project-item-1' } }"
                                              class="text-upper simple-link line-link text-bold text-sm"
                                            >
                                              read more
                                            </nuxt-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shuffle-item col-12 md-col-4 sm-col-6" data-groups='["Smartphone"]'>
                        <div class="item muted-bg" data-inview-showup="showup-scale">
                            <div class="block-link">
                                <div class="image-wrap">
                                    <img class="image" src="https://dummyimage.com/720x405" alt="" />
                                </div>
                                <div class="hover">
                                    <div class="hover-lines">
                                        <div class="back"></div>
                                        <div class="line-content">
                                            <h5 class="text-white">Project title</h5>
                                            <p>description of project</p>
                                            <nuxt-link
                                              :to="{ name: 'projects-item', params: { item: 'project-item-1' } }"
                                              class="text-upper simple-link line-link text-bold text-sm"
                                            >
                                              read more
                                            </nuxt-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shuffle-item col-12 md-col-4 sm-col-6" data-groups='["Computer", "Laptop"]'>
                        <div class="item muted-bg" data-inview-showup="showup-scale">
                            <div class="block-link">
                                <div class="image-wrap">
                                    <img class="image" src="https://dummyimage.com/720x405" alt="" />
                                </div>
                                <div class="hover">
                                    <div class="hover-lines">
                                        <div class="back"></div>
                                        <div class="line-content">
                                            <h5 class="text-white">Project title</h5>
                                            <p>description of project</p>
                                            <nuxt-link
                                              :to="{ name: 'projects-item', params: { item: 'project-item-1' } }"
                                              class="text-upper simple-link line-link text-bold text-sm"
                                            >
                                              read more
                                            </nuxt-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shuffle-item col-12 md-col-4 sm-col-6" data-groups='["Computer"]'>
                        <div class="item muted-bg" data-inview-showup="showup-scale">
                            <div class="block-link">
                                <div class="image-wrap">
                                    <img class="image" src="https://dummyimage.com/720x405" alt="" />
                                </div>
                                <div class="hover">
                                    <div class="hover-lines">
                                        <div class="back"></div>
                                        <div class="line-content">
                                            <h5 class="text-white">Project title</h5>
                                            <p>description of project</p>
                                            <nuxt-link
                                              :to="{ name: 'projects-item', params: { item: 'project-item-1' } }"
                                              class="text-upper simple-link line-link text-bold text-sm"
                                            >
                                              read more
                                            </nuxt-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shuffle-item col-12 md-col-4 sm-col-6" data-groups='["Computer", "Laptop"]'>
                        <div class="item muted-bg" data-inview-showup="showup-scale">
                            <div class="block-link">
                                <div class="image-wrap">
                                    <img class="image" src="https://dummyimage.com/720x405" alt="" />
                                </div>
                                <div class="hover">
                                    <div class="hover-lines">
                                        <div class="back"></div>
                                        <div class="line-content">
                                            <h5 class="text-white">Project title</h5>
                                            <p>description of project</p>
                                            <nuxt-link
                                              :to="{ name: 'projects-item', params: { item: 'project-item-1' } }"
                                              class="text-upper simple-link line-link text-bold text-sm"
                                            >
                                              read more
                                            </nuxt-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shuffle-item col-12 md-col-4 sm-col-6" data-groups='["Computer", "Laptop"]'>
                        <div class="item muted-bg" data-inview-showup="showup-scale">
                            <div class="block-link">
                                <div class="image-wrap">
                                    <img class="image" src="https://dummyimage.com/720x405" alt="" />
                                </div>
                                <div class="hover">
                                    <div class="hover-lines">
                                        <div class="back"></div>
                                        <div class="line-content">
                                            <h5 class="text-white">Project title</h5>
                                            <p>description of project</p>
                                            <nuxt-link
                                              :to="{ name: 'projects-item', params: { item: 'project-item-1' } }"
                                              class="text-upper simple-link line-link text-bold text-sm"
                                            >
                                              read more
                                            </nuxt-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shuffle-item col-12 md-col-4 sm-col-6" data-groups='["Computer", "Laptop", "Smartphone"]'>
                        <div class="item muted-bg" data-inview-showup="showup-scale">
                            <div class="block-link">
                                <div class="image-wrap">
                                    <img class="image" src="https://dummyimage.com/720x405" alt="" />
                                </div>
                                <div class="hover">
                                    <div class="hover-lines">
                                        <div class="back"></div>
                                        <div class="line-content">
                                            <h5 class="text-white">Project title</h5>
                                            <p>description of project</p>
                                            <nuxt-link
                                              :to="{ name: 'projects-item', params: { item: 'project-item-1' } }"
                                              class="text-upper simple-link line-link text-bold text-sm"
                                            >
                                              read more
                                            </nuxt-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shuffle-item col-12 md-col-4 sm-col-6" data-groups='["Smartphone"]'>
                        <div class="item muted-bg" data-inview-showup="showup-scale">
                            <div class="block-link">
                                <div class="image-wrap">
                                    <img class="image" src="https://dummyimage.com/720x405" alt="" />
                                </div>
                                <div class="hover">
                                    <div class="hover-lines">
                                        <div class="back"></div>
                                        <div class="line-content">
                                            <h5 class="text-white">Project title</h5>
                                            <p>description of project</p>
                                            <nuxt-link
                                              :to="{ name: 'projects-item', params: { item: 'project-item-1' } }"
                                              class="text-upper simple-link line-link text-bold text-sm"
                                            >
                                              read more
                                            </nuxt-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shuffle-item col-12 md-col-4 sm-col-6" data-groups='["Computer", "Laptop"]'>
                        <div class="item muted-bg" data-inview-showup="showup-scale">
                            <div class="block-link">
                                <div class="image-wrap">
                                    <img class="image" src="https://dummyimage.com/720x405" alt="" />
                                </div>
                                <div class="hover">
                                    <div class="hover-lines">
                                        <div class="back"></div>
                                        <div class="line-content">
                                            <h5 class="text-white">Project title</h5>
                                            <p>description of project</p>
                                            <nuxt-link
                                              :to="{ name: 'projects-item', params: { item: 'project-item-1' } }"
                                              class="text-upper simple-link line-link text-bold text-sm"
                                            >
                                              read more
                                            </nuxt-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shuffle-item col-12 md-col-4 sm-col-6" data-groups='["Computer"]'>
                        <div class="item muted-bg" data-inview-showup="showup-scale">
                            <div class="block-link">
                                <div class="image-wrap">
                                    <img class="image" src="https://dummyimage.com/720x405" alt="" />
                                </div>
                                <div class="hover">
                                    <div class="hover-lines">
                                        <div class="back"></div>
                                        <div class="line-content">
                                            <h5 class="text-white">Project title</h5>
                                            <p>description of project</p>
                                            <nuxt-link
                                              :to="{ name: 'projects-item', params: { item: 'project-item-1' } }"
                                              class="text-upper simple-link line-link text-bold text-sm"
                                            >
                                              read more
                                            </nuxt-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shuffle-empty text-center alt-color text-lg">Nothing Found!</div>
            </div>
        </div>
    </section>
    <section class="muted-bg solid-section">
        <div class="container">
            <div class="section-head text-center container-md">
                <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Can't Find What You Are Looking For?</h2>
                <p data-inview-showup="showup-translate-left">Tell us what you're looking for and we'll make a solution for it. Contact us!</p>
            </div>
            <form class="md-col-8 md-col-offs-2" data-inview-showup="showup-translate-down">
                <div class="field-group">
                    <div class="field-wrap">
                        <input class="field-control" name="name" placeholder="Name" required="required" />
                        <span class="field-back"></span>
                    </div>
                </div>
                <div class="field-group">
                    <div class="field-wrap">
                        <input class="field-control" name="email" type="email" placeholder="Email" required="required" />
                        <span class="field-back"></span>
                    </div>
                </div>
                <div class="field-group">
                    <div class="field-wrap">
                        <input class="field-control" name="subject" placeholder="Subject" required="required" />
                        <span class="field-back"></span>
                    </div>
                </div>
                <div class="field-group">
                    <div class="field-wrap">
                        <textarea class="field-control" name="message" placeholder="Ask your question here..." required="required"></textarea>
                        <span class="field-back"></span>
                    </div>
                </div>
                <div class="btn-block text-center">
                    <button class="btn sm-col-3 text-upper" type="submit">
                        submit
                    </button>
                    <div class="btn-text text-sm sides-lg text-center">or CALL
                        <span class="alt-color">(555) 555-0312</span>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
export default {
  mounted () {
    this.$initLoad()
  }
}
</script>

<style>

</style>
