<template>
  <div>
    <Headers />
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.commyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back"></div>
        <div class="container page-info">
            <div class="section-alt-head container-md">
                <h1 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Shop Item</h1>
            </div>
        </div>
        <div class="section-footer">
            <div class="container" data-inview-showup="showup-translate-down">
                <ul class="page-path">
                    <li>
                      <nuxt-link :to="{ name: 'index' }">Home</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>
                      <nuxt-link :to="{ name: 'shop' }">Shop</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>USB Hub</li>
                </ul>
            </div>
        </div>
    </section>
    <div class="clearfix page-sidebar-right container">
        <div class="page-content">
            <section class="content-section">
                <div class="product">
                    <div class="row offs-lg cols-md rows-lg offs-lg" data-inview-showup="showup-translate-up">
                        <div class="md-col-5">
                            <div class="responsive-1by1 offs-md" data-preview-image="product-preview"></div>
                            <div class="owl-carousel" data-autoplay="false" data-owl-loop="false" data-owl-responsive="3;3;3;3">
                                <div class="item">
                                    <a class="responsive-1by1" target="_blank" href="https://dummyimage.commyimage.com/500x500" data-preview-image-source="product-preview">
                                        <img src="https://dummyimage.commyimage.com/500x500" alt="" />
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="responsive-1by1" target="_blank" href="https://dummyimage.commyimage.com/500x500" data-preview-image-source="product-preview">
                                        <img src="https://dummyimage.com/500x500" alt="" />
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="responsive-1by1" target="_blank" href="https://dummyimage.com/500x500" data-preview-image-source="product-preview">
                                        <img src="https://dummyimage.com/500x500" alt="" />
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="responsive-1by1" target="_blank" href="https://dummyimage.com/500x500" data-preview-image-source="product-preview">
                                        <img src="https://dummyimage.com/500x500" alt="" />
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="responsive-1by1" target="_blank" href="https://dummyimage.com/500x500" data-preview-image-source="product-preview">
                                        <img src="https://dummyimage.com/500x500" alt="" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="md-col-7">
                            <h4 class="text-upper offs-sm">USB 3.0 HUB Combo 3 Ports Card Reader</h4>
                            <div class="user-feedback">
                                <div class="user-rating">
                                    <span class="rating-star"><i class="fas fa-star" aria-hidden="true"></i></span>
                                    <span class="rating-star"><i class="fas fa-star" aria-hidden="true"></i></span>
                                    <span class="rating-star"><i class="fas fa-star" aria-hidden="true"></i></span>
                                    <span class="rating-star"><i class="fas fa-star" aria-hidden="true"></i></span>
                                    <span class="rating-star fa-stack"><i class="far fa-star fa-stack-1x"></i><i class="fas fa-star-half fa-stack-1x"></i></span>
                                </div>
                                <div class="user-reviews">
                                    <a href="#" class="content-link" data-action-role="show-tab" data-tab-name="reviews">2 Reviews</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a href="#" class="content-link" data-action-role="show-tab" data-tab-name="reviews">Add your review</a>
                                </div>
                            </div>
                            <div class="product-price">$67.05</div>
                            <div class="product-available">Available:
                                <span class="text-colorful">In Stock</span>
                            </div>
                            <div class="product-short">13.7 inch USB extension cable extension perfect for travel USB hub / Adds 4 USB 3.0 ports to your computer / Backward compatible with USB 2.0 and 1.1 specifications Ready Out-of-Box
                            </div>
                            <form class="out-lg">
                                <div class="row cols-md rows-md">
                                    <div class="sm-col-5">
                                        <div class="field-group field-spin-sides">
                                            <div class="field-wrap">
                                                <input class="field-control montserrat-bold alt-color text-sm text-center" type="text" name="quantity" value="1" min="1" max="100" data-action-role="field-wheel-spin field-arrows-spin" autocomplete="off">
                                                <span class="field-back"></span>
                                                <span class="field-actions">
                                                    <span class="field-increment" data-action-role="field-increment"><i class="fas fa-plus" aria-hidden="true"></i></span>
                                                    <span class="field-decrement" data-action-role="field-decrement"><i class="fas fa-minus" aria-hidden="true"></i></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sm-col-7">
                                        <button class="btn text-upper col-12"><i class="fas fa-plus" aria-hidden="true"></i>&nbsp;&nbsp; add to cart</button>
                                    </div>
                                </div>
                            </form>
                            <div class="description-lines">
                                <div class="description-line">
                                    <span class="text-upper description-title">SKU:</span>
                                    <span class="description-value alt-color">54bsd654</span>
                                </div>
                                <div class="description-line">
                                    <span class="text-upper description-title">Share:</span>
                                    <span class="description-value text-muted">
                                        <span class="cols-list cols-sm">
                                            <a href="#" class="list-item content-link"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                            <a href="#" class="list-item content-link"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                            <a href="#" class="list-item content-link"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a>
                                        </span>
                                    </span>
                                </div>
                                <div class="description-line">
                                    <span class="text-upper description-title">Categories:</span>
                                    <span class="description-value colorful-text">
                                        <a href="shop-category.html">accessories</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-lined" data-action-role="tabs" data-inview-showup="showup-translate-up">
                        <ul class="tabs-head">
                            <li>
                                <a href="#" data-tab="description">Description</a>
                            </li>
                            <li>
                                <a href="#" data-tab="reviews">Reviews (2)</a>
                            </li>
                            <li>
                                <a href="#" data-tab="additionalInformation">Additional Information</a>
                            </li>
                        </ul>
                        <div class="tabs-line">
                            <div class="tab-active-line" data-action-role="active-tab-line"></div>
                        </div>
                        <div class="tabs-content">
                            <div class="tab-content" data-tab-content="description">
                                <div class="content-text">
                                    <h6>Micro USB Hub 2.0 Combo 3 Ports Card Reader High Speed USB Splitter All In One USB 3.0 Hub or PC Computer Accessories Notebook</h6>
                                    <h6>Specification:</h6>
                                    <ul>
                                        <li>- Item Name: USB Hub Combo</li>
                                        <li>- USB Ports: 3 Ports</li>
                                        <li>- Card Reader: Support MS,M2,SD/MMC,TF card</li>
                                        <li>- Cable: 3.0 for 20cm,2.0 for 40cm</li>
                                        <li>- Size: 77*45*25mm</li>
                                        <li>- Date Transfer Rate: Upto 480mbps/5Gmbps</li>
                                        <li>- Color: White</li>
                                        <li>- Compatible: Windows XP/2000/Vista/WIN 7/8/10,Mac OS,etc.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-content" data-tab-content="reviews">
                                <div class="comments">
                                    <div class="comment" data-inview-showup="showup-translate-up">
                                        <div class="icon">
                                            <i class="fas fa-user" aria-hidden="true"></i>
                                        </div>
                                        <div class="content">
                                            <div class="title"><b class="alt-color">Lie Stone</b> - <i>Web Developer</i></div>
                                            <div class="user-rating">
                                                <span class="rating-star"><i class="fas fa-star"></i></span>
                                                <span class="rating-star"><i class="fas fa-star"></i></span>
                                                <span class="rating-star"><i class="fas fa-star"></i></span>
                                                <span class="rating-star"><i class="fas fa-star"></i></span>
                                                <span class="rating-star"><i class="far fa-star"></i></span>
                                            </div>
                                            <div class="text-content">
                                                <p>Comment example here. Nulla risus lacus, vehicula id mi vitae, auctor accumsan nulla. Sed a mi quam. In euismod urna ac massa adipiscing interdum.</p>
                                            </div>
                                            <div class="text-right text-xs">Jul 15, 2017</div>
                                        </div>
                                    </div>
                                    <div class="comment" data-inview-showup="showup-translate-up">
                                        <div class="icon">
                                            <img class="image" src="https://dummyimage.com/70x70" alt="" />
                                        </div>
                                        <div class="content">
                                            <div class="title"><b class="alt-color">John Bond</b></div>
                                            <div class="user-rating">
                                                <span class="rating-star"><i class="fas fa-star"></i></span>
                                                <span class="rating-star"><i class="fas fa-star"></i></span>
                                                <span class="rating-star"><i class="fas fa-star"></i></span>
                                                <span class="rating-star"><i class="fas fa-star"></i></span>
                                                <span class="rating-star"><i class="fas fa-star"></i></span>
                                            </div>
                                            <div class="text-content">
                                                <p>Comment example here. Nulla risus lacus, vehicula id mi vitae, auctor accumsan nulla. Sed a mi quam. In euismod urna ac massa adipiscing interdum.</p>
                                            </div>
                                            <div class="text-right text-xs">Jul 17, 2017 - 15 hours ago</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="top-separator out-lg" data-inview-showup="showup-translate-up"></div>
                                <form data-inview-showup="showup-translate-up">
                                    <h4 class="text-upper">Add a review</h4>
                                    <p>Your email address will not be published. Required fields are marked *</p>
                                    <div class="field-group field-line">
                                        <label class="default-color">Your Rating</label>
                                        <div class="rating-field">
                                            <div class="pull-left">
                                                <input type="radio" id="user-rating-5" name="rating" value="5" checked="checked" />
                                                <label for="user-rating-5">
                                                    <span class="rating-active-icon"><i class="fas fa-star"></i></span>
                                                    <span class="rating-icon"><i class="far fa-star"></i></span>
                                                </label>
                                                <input type="radio" id="user-rating-4" name="rating" value="4" />
                                                <label for="user-rating-4">
                                                    <span class="rating-active-icon"><i class="fas fa-star"></i></span>
                                                    <span class="rating-icon"><i class="far fa-star"></i></span>
                                                </label>
                                                <input type="radio" id="user-rating-3" name="rating" value="3" />
                                                <label for="user-rating-3">
                                                    <span class="rating-active-icon"><i class="fas fa-star"></i></span>
                                                    <span class="rating-icon"><i class="far fa-star"></i></span>
                                                </label>
                                                <input type="radio" id="user-rating-2" name="rating" value="2" />
                                                <label for="user-rating-2">
                                                    <span class="rating-active-icon"><i class="fas fa-star"></i></span>
                                                    <span class="rating-icon"><i class="far fa-star"></i></span>
                                                </label>
                                                <input type="radio" id="user-rating-1" name="rating" value="1" />
                                                <label for="user-rating-1">
                                                    <span class="rating-active-icon"><i class="fas fa-star"></i></span>
                                                    <span class="rating-icon"><i class="far fa-star"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row cols-md rows-md offs-md">
                                        <div class="sm-col-6">
                                            <div class="field-group">
                                                <div class="field-wrap">
                                                    <input class="field-control" name="name" placeholder="Name" required="required" />
                                                    <span class="field-back"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sm-col-6">
                                            <div class="field-group">
                                                <div class="field-wrap">
                                                    <input class="field-control" name="email" type="email" placeholder="Email" required="required" />
                                                    <span class="field-back"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field-group">
                                        <div class="field-wrap">
                                            <textarea class="field-control" name="message" placeholder="Message" required="required"></textarea>
                                            <span class="field-back"></span>
                                        </div>
                                    </div>
                                    <div class="btn-block">
                                        <button class="btn text-upper" type="submit">
                                            add review
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-content" data-tab-content="additionalInformation">
                                <div class="description-table">
                                    <div class="table-line">
                                        <div class="col-title">Brand Name</div>
                                        <div class="col-value alt-color text-bold">SHENGMEIYU</div>
                                    </div>
                                    <div class="table-line">
                                        <div class="col-title">Ports</div>
                                        <div class="col-value text-colorful text-semibold">3</div>
                                    </div>
                                    <div class="table-line">
                                        <div class="col-title">Model</div>
                                        <div class="col-value">USB Hub</div>
                                    </div>
                                    <div class="table-line">
                                        <div class="col-title">Funtion</div>
                                        <div class="col-value">Reader</div>
                                    </div>
                                    <div class="table-line">
                                        <div class="col-title">System</div>
                                        <div class="col-value solid-color">Windows 7,Vista,XP,98,2000,ME and Mac OS 10.2 and Linux systems</div>
                                    </div>
                                    <div class="table-line">
                                        <div class="col-title">Size</div>
                                        <div class="col-value">77*45*25mm</div>
                                    </div>
                                    <div class="table-line">
                                        <div class="col-title">Interface Type</div>
                                        <div class="col-value">USB 2.0</div>
                                    </div>
                                    <div class="table-line">
                                        <div class="col-title">Support Ports</div>
                                        <div class="col-value text-colorful">SD/MMC/M2/MS/MS Pro Duo</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top-separator out-lg" data-inview-showup="showup-translate-up"></div>
                <div data-inview-showup="showup-translate-up">
                    <h4 class="text-upper">Related Products</h4>
                    <div class="row cols-md rows-xl">
                        <div class="lg-col-4 md-col-6">
                            <div class="item shop-item shop-item-lined text-center">
                                <div class="item-image-wrap">
                                    <div class="item-back"></div>
                                    <div class="item-lables">
                                        <a class="item-label-sale item-label" href="#">sale</a>
                                        <a class="item-label-trending item-label" href="#">trending</a>
                                    </div>
                                    <a href="shop-item.html" class="item-image responsive-1by1">
                                        <img src="https://dummyimage.com/500x500" alt="" />
                                    </a>
                                </div>
                                <div class="item-title text-upper">
                                    <a href="shop-item.html" class="content-link">Wi-Fi Router repieter</a>
                                </div>
                                <div class="item-prices">
                                    <div class="item-price">$32.15</div>
                                    <div class="item-old-price">$72.5</div>
                                </div>
                                <div class="item-links">
                                    <nuxt-link :to="{ name: 'shop-item', params: { item: 'shop-item-1' } }" class="btn text-upper btn-md btns-bordered">view</nuxt-link>
                                    <a href="#" class="btn text-upper btn-sm">add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="lg-col-4 md-col-6">
                            <div class="item shop-item shop-item-lined text-center">
                                <div class="item-image-wrap">
                                    <div class="item-back"></div>
                                    <a href="shop-item.html" class="item-image responsive-1by1">
                                        <img src="https://dummyimage.com/500x500" alt="" />
                                    </a>
                                </div>
                                <div class="item-title text-upper">
                                    <a href="shop-item.html" class="content-link">External HDD Drive</a>
                                </div>
                                <div class="item-prices">
                                    <div class="item-price">$102.05</div>
                                </div>
                                <div class="item-links">
                                    <nuxt-link :to="{ name: 'shop-item', params: { item: 'shop-item-1' } }" class="btn text-upper btn-md btns-bordered">view</nuxt-link>
                                    <a href="#" class="btn text-upper btn-sm">add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="lg-col-4 md-col-6">
                            <div class="item shop-item shop-item-lined text-center">
                                <div class="item-image-wrap">
                                    <div class="item-back"></div>
                                    <div class="item-lables">
                                        <a class="item-label-new item-label" href="#">new</a>
                                    </div>
                                    <a href="shop-item.html" class="item-image responsive-1by1">
                                        <img src="https://dummyimage.com/500x500" alt="" />
                                    </a>
                                </div>
                                <div class="item-title text-upper">
                                    <a href="shop-item.html" class="content-link">Cable Organizer</a>
                                </div>
                                <div class="item-prices">
                                    <div class="item-price">$15.25</div>
                                </div>
                                <div class="item-links">
                                    <nuxt-link :to="{ name: 'shop-item', params: { item: 'shop-item-1' } }" class="btn text-upper btn-md btns-bordered">view</nuxt-link>
                                    <a href="#" class="btn text-upper btn-sm">add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center shift-xl">
                    </div>
                </div>
            </section>
        </div>
        <aside class="page-sidebar content-section">
            <section class="side-content-section" data-inview-showup="showup-translate-up">
                <h5 class="shift-sm offs-md">Product Category</h5>
                <ul class="categories-list text-medium solid-color">
                    <li class="active">
                        <span class="category-line">
                            <a class="content-link" href="#">
                                <span class="single-line-text">Accessories</span>
                            </a>
                            <a class="open-sub-link content-link" href="#">
                                <span class="shown-icon"><i class="fas fa-minus"></i></span>
                                <span class="hidden-icon"><i class="fas fa-plus"></i></span>
                            </a>
                        </span>
                        <ul class="sub-categories-list">
                            <li>
                                <span class="category-line">
                                    <a class="content-link" href="#">
                                        <span class="single-line-text">Headphones</span>
                                    </a>
                                </span>
                            </li>
                            <li>
                                <span class="category-line">
                                    <a class="content-link" href="#">
                                        <span class="single-line-text">Audio Splitter</span>
                                    </a>
                                </span>
                            </li>
                            <li>
                                <span class="category-line active">
                                    <a class="content-link" href="#">
                                        <span class="single-line-text">Power Supply</span>
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="category-line">
                            <a class="content-link" href="#">
                                <span class="single-line-text">Components</span>
                            </a>
                            <a class="open-sub-link content-link" href="#">
                                <span class="shown-icon"><i class="fas fa-minus"></i></span>
                                <span class="hidden-icon"><i class="fas fa-plus"></i></span>
                            </a>
                        </span>
                        <ul class="sub-categories-list">
                            <li>
                                <span class="category-line">
                                    <a class="content-link" href="#">
                                        <span class="single-line-text">Category name</span>
                                    </a>
                                </span>
                            </li>
                            <li>
                                <span class="category-line">
                                    <a class="content-link" href="#">
                                        <span class="single-line-text">Category long name very very very long</span>
                                    </a>
                                </span>
                            </li>
                            <li>
                                <span class="category-line">
                                    <a class="content-link" href="#">
                                        <span class="single-line-text">Category name</span>
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="category-line">
                            <a class="content-link" href="#">
                                <span class="single-line-text">Storage</span>
                            </a>
                            <a class="open-sub-link content-link" href="#">
                                <span class="shown-icon"><i class="fas fa-minus"></i></span>
                                <span class="hidden-icon"><i class="fas fa-plus"></i></span>
                            </a>
                        </span>
                        <ul class="sub-categories-list">
                            <li>
                                <span class="category-line">
                                    <a class="content-link" href="#">
                                        <span class="single-line-text">Category name</span>
                                    </a>
                                </span>
                            </li>
                            <li>
                                <span class="category-line">
                                    <a class="content-link" href="#">
                                        <span class="single-line-text">Category name</span>
                                    </a>
                                </span>
                            </li>
                            <li>
                                <span class="category-line">
                                    <a class="content-link" href="#">
                                        <span class="single-line-text">Category name</span>
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="category-line">
                            <a class="content-link" href="#">
                                <span class="single-line-text">Tablet</span>
                            </a>
                        </span>
                    </li>
                    <li>
                        <span class="category-line">
                            <a class="content-link" href="#">
                                <span class="single-line-text">Mouse</span>
                            </a>
                        </span>
                    </li>
                </ul>
            </section>
            <div class="line-sides main-bg out-lg" data-inview-showup="showup-translate-up"></div>
            <section class="side-content-section" data-inview-showup="showup-translate-up">
                <h5 class="shift-sm offs-md">Top Rated Products</h5>
                <div class="items">
                    <div class="shop-side-item">
                        <div class="item-side-image">
                            <a href="shop-item.html" class="item-image responsive-1by1">
                                <img src="https://dummyimage.com/500x500" alt="" />
                            </a>
                        </div>
                        <div class="item-side">
                            <div class="item-title">
                                <a href="shop-item.html" class="content-link text-upper">Gamers Mouse</a>
                            </div>
                            <div class="item-categories">
                                <a href="#" class="content-link">mouse</a>
                            </div>
                            <div class="item-prices">
                                <div class="item-price">$45.05</div>
                            </div>
                        </div>
                    </div>
                    <div class="shop-side-item">
                        <div class="item-side-image">
                            <a href="shop-item.html" class="item-image responsive-1by1">
                                <img src="https://dummyimage.com/500x500" alt="" />
                            </a>
                        </div>
                        <div class="item-side">
                            <div class="item-title">
                                <a class="item-label-sm item-label-sale item-label" href="#">sale</a>
                                <a href="shop-item.html" class="content-link text-upper">USB 3.0 HUB</a>
                            </div>
                            <div class="item-categories">
                                <a href="#" class="content-link">accessories</a>
                            </div>
                            <div class="item-prices">
                                <div class="item-price">$67.05</div>
                                <div class="item-old-price">$102.5</div>
                            </div>
                        </div>
                    </div>
                    <div class="shop-side-item">
                        <div class="item-side-image">
                            <a href="shop-item.html" class="item-image responsive-1by1">
                                <img src="https://dummyimage.com/500x500" alt="" />
                            </a>
                        </div>
                        <div class="item-side">
                            <div class="item-title">
                                <a href="shop-item.html" class="content-link text-upper">Laptop Power Adapter</a>
                            </div>
                            <div class="item-categories">
                                <a href="#" class="content-link">accessories</a>
                            </div>
                            <div class="item-prices">
                                <div class="item-price">$45.05</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="line-sides main-bg out-lg" data-inview-showup="showup-translate-up"></div>
            <section class="side-content-section" data-inview-showup="showup-translate-up">
                <div class="block-md muted-bg">
                    <h5 class="text-upper">Free consultation</h5>
                    <p>Get answers and advice from people you want it from.</p>
                    <div class="buttons-block text-right">
                        <a class="btn btn-md text-upper" href="contact-us.html">contact us</a>
                    </div>
                </div>
            </section>
            <div class="line-sides main-bg out-lg" data-inview-showup="showup-translate-up"></div>
            <section class="side-content-section" data-inview-showup="showup-translate-up">
                <h5 class="shift-sm offs-md">Featured Product</h5>
                <div class="shop-item shop-side-featured">
                    <div class="item-lables">
                        <a class="item-label-sm item-label-sale item-label" href="#">sale</a>
                        <a class="item-label-sm item-label-top item-label" href="#">top seller</a>
                    </div>
                    <a href="shop-item.html" class="item-image responsive-1by1">
                        <img src="https://dummyimage.com/500x500" alt="" />
                    </a>
                    <div class="item-content shift-md">
                        <div class="item-textes">
                            <div class="item-title text-upper">
                                <a href="shop-item.html" class="content-link">128GB SSD M.2</a>
                            </div>
                            <div class="item-categories">
                                <a href="#" class="content-link">storage</a>
                            </div>
                        </div>
                        <div class="item-prices">
                            <div class="item-price">$45.05</div>
                            <div class="item-old-price">$78.5</div>
                        </div>
                    </div>
                    <div class="item-descripton">This storage compatible only Laptop in M2, new form factor called mini-SATA
                    </div>
                    <div class="item-links">
                        <a href="shop-item.html" class="btn text-upper btn-sm btns-bordered">view</a>
                        <a href="#" class="btn text-upper btn-sm"><i class="fas fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;buy</a>
                    </div>
                </div>
            </section>
        </aside>
    </div>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
export default {
  mounted () {
    this.$initLoad()
  }
}
</script>

<style>

</style>
