.chat-area {
  .chat-inner {
    display: flex;
    flex: 1;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    .chat-inner-content {
      flex: 1;
      background-color: #262B2E;
      border-left: 1px solid rgba(255, 255, 255, 0.03);
      border-right: 1px solid rgba(255, 255, 255, 0.03);
      .chat-head {
        height: 62px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.03);
        .img-profile {
          box-sizing: border-box;
          float: left;
          width: 45px;
          height: 45px;
        }
        .ic-right {
          display: inline-block;
          padding: 12px 10px 12px 10px;
        }
        .content-profile {
          padding: 3px 5px 3px 60px;
          .name {
            color: #fff;
            font-weight: bold;
            padding: 2px 0px;
          }
          .online {
            font-size: 12px;
            color: #ccc;
            padding: 3px 0px;
          }
        }
      }
      .chat-body {
        padding: 30px 30px 41px;
        height: calc(100vh - 100px);
        overflow-y: auto;
        .chat-day {
          text-align: center!important;
          margin-bottom: 1rem!important;
          >span {
            background-color: rgba(129, 167, 205, 0.1);
            color: #8294ca;
            font-weight: 600;
            padding: .25em .4em;
            font-size: 75%;
            line-height: 1;
          }
        }
        .chat-message {
          margin-bottom: 15px;
          >.chat-message-text {
            text-align: left;
            padding: 5px 10px;
            display: inline-block;
            border-radius: 3px;
            position: relative;
          }
          >.chat-message-meta {
            margin-top: 5px;
            font-size: 13px;
            color: #8A98AC;
            .fas {
              margin-left: .5rem;
            }
          }
          &.chat-message-left {
            text-align: left;
            >.chat-message-text {
              background-color: #262B2E;
              color: #ffffff;
              padding: 5px 10px;
              display: inline-block;
              border-radius: 3px;
              position: relative;
              &::after {
                content: " ";
                position: absolute;
                width: 0;
                height: 0;
                left: -10px;
                right: auto;
                top: auto;
                bottom: 0;
                border: 6px solid #262B2E;
                border-color: transparent #262B2E #262B2E transparent;
              }
            }
          }
          &.chat-message-right {
            text-align: right;
            >.chat-message-text {
              padding: 5px 10px;
              display: inline-block;
              border-radius: 3px;
              position: relative;
              background-color: #19a299;
              color: #ffffff;
              text-align: left;
              &::after {
                content: " ";
                position: absolute;
                width: 0;
                height: 0;
                left: auto;
                right: -10px;
                top: auto;
                bottom: 0;
                border: 6px solid #19a299;
                border-color: transparent transparent #19a299 #19a299;
              }
            }
            >.chat-message-meta {
              text-align: right;
            }
          }
        }
      }
      .chat-bottom {
        background-color: #262B2E;
        padding: 15px 10px 15px 30px;
        border-top: 1px solid rgba(255, 255, 255, 0.03);
        border-left: 1px solid rgba(255, 255, 255, 0.03);
        position: fixed;
        bottom: 0;
        left: 0px;
        right: 0;
        .chat-action {
          float: right;
          width: 40px;
          height: 100%;
          .ic-act {
            display: block;
            cursor: pointer;
            height: 100%;
            width: 100%;
            padding:.375rem .75rem;
            text-align: center;
          }
        }
        .input {
          position: relative;
          width: calc(100% - 40px);
          input {
            display: block;
            width: 100%;
            height: 100%;
            background-color: transparent;color: #8A98AC;
            font-size: 16px;
            padding:.375rem .75rem;
            border: none;
            border-radius: 0;
            outline: none;
          }
        }
      }
    }
  }
}