<template>
  <div>
    <Headers />
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back"></div>
        <div class="container page-info">
            <div class="section-alt-head container-md">
                <h1 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Form Elements Disabled</h1>
            </div>
        </div>
        <div class="section-footer">
            <div class="container" data-inview-showup="showup-translate-down">
                <ul class="page-path">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>Pages</li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>Form Elements Disabled</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="content-section">
        <div class="container">
            <div class="section-head text-center">
                <h2 class="text-upper">Input Fields</h2>
            </div>
            <div class="row cols-md rows-md">
                <div class="sm-col-6">
                    <div class="field-group field-disabled">
                        <label>Simple Text</label>
                        <div class="field-wrap">
                            <input class="field-control" name="text" placeholder="Text" disabled="disabled" />
                            <span class="input-group-state">
                                <span class="positioned">
                                    <span class="text">
                                        <span class="valid-text"><i class="fas fa-check"></i></span>
                                        <span class="error-text"><i class="fas fa-times"></i></span>
                                    </span>
                                </span>
                            </span>
                            <span class="field-back"></span>
                        </div>
                    </div>
                </div>
                <div class="sm-col-6">
                    <div class="field-group field-disabled">
                        <label>With Icon</label>
                        <div class="field-wrap has-icon">
                            <input class="field-control" name="text" placeholder="Text" disabled="disabled" />
                            <span class="input-group-state">
                                <span class="positioned">
                                    <span class="text">
                                        <span class="valid-text"><i class="fas fa-check"></i></span>
                                        <span class="error-text"><i class="fas fa-times"></i></span>
                                    </span>
                                </span>
                            </span>
                            <span class="field-icon"><i class="far fa-edit"></i></span>
                            <span class="field-back"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row cols-md rows-md">
                <div class="sm-col-6">
                    <div class="field-group field-disabled">
                        <label>Email</label>
                        <div class="field-wrap has-icon">
                            <input class="field-control" name="email" type="email" placeholder="Email" disabled="disabled" />
                            <span class="input-group-state">
                                <span class="positioned">
                                    <span class="text">
                                        <span class="valid-text"><i class="fas fa-check"></i></span>
                                        <span class="error-text"><i class="fas fa-times"></i></span>
                                    </span>
                                </span>
                            </span>
                            <span class="field-icon"><i class="far fa-envelope"></i></span>
                            <span class="field-back"></span>
                        </div>
                    </div>
                </div>
                <div class="sm-col-6">
                    <div class="field-group field-disabled">
                        <label>Password</label>
                        <div class="field-wrap has-icon">
                            <input class="field-control" name="password" type="password" placeholder="Password" disabled="disabled" />
                            <span class="input-group-state">
                                <span class="positioned">
                                    <span class="text">
                                        <span class="valid-text"><i class="fas fa-check"></i></span>
                                        <span class="error-text"><i class="fas fa-times"></i></span>
                                    </span>
                                </span>
                            </span>
                            <span class="field-icon"><i class="fas fa-lock"></i></span>
                            <span class="field-back"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row cols-md rows-md">
                <div class="sm-col-6">
                    <div class="field-group field-disabled">
                        <label>URL</label>
                        <div class="field-wrap has-icon">
                            <input class="field-control" name="url" type="url" placeholder="URL" disabled="disabled" />
                            <span class="input-group-state">
                                <span class="positioned">
                                    <span class="text">
                                        <span class="valid-text"><i class="fas fa-check"></i></span>
                                        <span class="error-text"><i class="fas fa-times"></i></span>
                                    </span>
                                </span>
                            </span>
                            <span class="field-icon"><i class="fas fa-globe"></i></span>
                            <span class="field-back"></span>
                        </div>
                    </div>
                </div>
                <div class="sm-col-6">
                    <div class="field-group field-disabled">
                        <label>Search</label>
                        <div class="field-wrap has-icon">
                            <input class="field-control" name="search" type="search" placeholder="Tags" disabled="disabled" />
                            <span class="input-group-state">
                                <span class="positioned">
                                    <span class="text">
                                        <span class="valid-text"><i class="fas fa-check"></i></span>
                                        <span class="error-text"><i class="fas fa-times"></i></span>
                                    </span>
                                </span>
                            </span>
                            <span class="field-icon"><i class="fas fa-search"></i></span>
                            <span class="field-back"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-section">
        <div class="container">
            <div class="section-head text-center">
                <h2 class="text-upper">Textarea Fields</h2>
            </div>
            <div class="row cols-md rows-md">
                <div class="sm-col-6">
                    <div class="field-group field-disabled">
                        <label>Simple Text</label>
                        <div class="field-wrap">
                            <textarea class="field-control" name="text" placeholder="Text" disabled="disabled"></textarea>
                            <span class="input-group-state">
                                <span class="positioned">
                                    <span class="text">
                                        <span class="valid-text"><i class="fas fa-check"></i></span>
                                        <span class="error-text"><i class="fas fa-times"></i></span>
                                    </span>
                                </span>
                            </span>
                            <span class="field-back"></span>
                        </div>
                    </div>
                </div>
                <div class="sm-col-6">
                    <div class="field-group field-disabled">
                        <label>With Icon</label>
                        <div class="field-wrap has-icon">
                            <textarea class="field-control" name="text" placeholder="Text" disabled="disabled"></textarea>
                            <span class="input-group-state">
                                <span class="positioned">
                                    <span class="text">
                                        <span class="valid-text"><i class="fas fa-check"></i></span>
                                        <span class="error-text"><i class="fas fa-times"></i></span>
                                    </span>
                                </span>
                            </span>
                            <span class="field-icon"><i class="far fa-edit"></i></span>
                            <span class="field-back"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-section">
        <div class="container">
            <div class="section-head text-center">
                <h2 class="text-upper">Select Fields</h2>
            </div>
            <div class="row cols-md rows-md">
                <div class="sm-col-6">
                    <div class="field-group field-disabled">
                        <label>Simple Select</label>
                        <div class="field-wrap">
                            <select class="field-control" name="select" disabled="disabled">
                                <option name="select">Select color</option>
                                <option name="select" value="1">red</option>
                                <option name="select" value="2">green</option>
                                <option name="select" value="3">white</option>
                                <option name="select" value="4">blue</option>
                                <option name="select" value="5">black</option>
                                <option name="select" value="6">Almond</option>
                                <option name="select" value="7">Aluminum</option>
                                <option name="select" value="8">Amazon</option>
                                <option name="select" value="9">Amber</option>
                                <option name="select" value="10">Amethyst</option>
                                <option name="select" value="11">Apricot</option>
                                <option name="select" value="12">Aqua</option>
                                <option name="select" value="13">Azure</option>
                                <option name="select" value="14">Brown</option>
                            </select>
                            <span class="select-arrow"><i class="fas fa-chevron-down"></i></span>
                            <span class="input-group-state">
                                <span class="positioned">
                                    <span class="text">
                                        <span class="valid-text"><i class="fas fa-check"></i></span>
                                        <span class="error-text"><i class="fas fa-times"></i></span>
                                    </span>
                                </span>
                            </span>
                            <span class="field-back"></span>
                        </div>
                    </div>
                </div>
                <div class="sm-col-6">
                    <div class="field-group field-disabled">
                        <label>With Icon</label>
                        <div class="field-wrap has-icon">
                            <select class="field-control" name="select" disabled="disabled">
                                <option name="select">Select color</option>
                                <option name="select" value="1">red</option>
                                <option name="select" value="2">green</option>
                                <option name="select" value="3">white</option>
                                <option name="select" value="4">blue</option>
                                <option name="select" value="5">black</option>
                                <option name="select" value="6">Almond</option>
                                <option name="select" value="7">Aluminum</option>
                                <option name="select" value="8">Amazon</option>
                                <option name="select" value="9">Amber</option>
                                <option name="select" value="10">Amethyst</option>
                                <option name="select" value="11">Apricot</option>
                                <option name="select" value="12">Aqua</option>
                                <option name="select" value="13">Azure</option>
                                <option name="select" value="14">Brown</option>
                            </select>
                            <span class="select-arrow"><i class="fas fa-chevron-down"></i></span>
                            <span class="input-group-state">
                                <span class="positioned">
                                    <span class="text">
                                        <span class="valid-text"><i class="fas fa-check"></i></span>
                                        <span class="error-text"><i class="fas fa-times"></i></span>
                                    </span>
                                </span>
                            </span>
                            <span class="field-icon"><i class="fas fa-eye-dropper"></i></span>
                            <span class="field-back"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-section">
        <div class="container">
            <div class="section-head text-center">
                <h2 class="text-upper">Custom Select Fields / Chosen</h2>
            </div>
            <div class="row cols-md rows-md">
                <div class="sm-col-6">
                    <div class="field-group chosen-field field-disabled">
                        <label>Simple Chosen Select</label>
                        <div class="field-wrap">
                            <select class="field-control" name="select" disabled="disabled">
                                <option name="select">Select color</option>
                                <option name="select" value="1">red</option>
                                <option name="select" value="2">green</option>
                                <option name="select" value="3">white</option>
                                <option name="select" value="4">blue</option>
                                <option name="select" value="5">black</option>
                                <option name="select" value="6">Almond</option>
                                <option name="select" value="7">Aluminum</option>
                                <option name="select" value="8">Amazon</option>
                                <option name="select" value="9">Amber</option>
                                <option name="select" value="10">Amethyst</option>
                                <option name="select" value="11">Apricot</option>
                                <option name="select" value="12">Aqua</option>
                                <option name="select" value="13">Azure</option>
                                <option name="select" value="14">Brown</option>
                            </select>
                            <span class="select-arrow"><i class="fas fa-chevron-down"></i></span>
                            <span class="input-group-state">
                                <span class="positioned">
                                    <span class="text">
                                        <span class="valid-text"><i class="fas fa-check"></i></span>
                                        <span class="error-text"><i class="fas fa-times"></i></span>
                                    </span>
                                </span>
                            </span>
                            <span class="field-back"></span>
                        </div>
                    </div>
                </div>
                <div class="sm-col-6">
                    <div class="field-group chosen-field field-disabled">
                        <label>With Icon</label>
                        <div class="field-wrap has-icon">
                            <select class="field-control" name="select" disabled="disabled">
                                <option name="select">Select color</option>
                                <option name="select" value="1">red</option>
                                <option name="select" value="2">green</option>
                                <option name="select" value="3">white</option>
                                <option name="select" value="4">blue</option>
                                <option name="select" value="5">black</option>
                                <option name="select" value="6">Almond</option>
                                <option name="select" value="7">Aluminum</option>
                                <option name="select" value="8">Amazon</option>
                                <option name="select" value="9">Amber</option>
                                <option name="select" value="10">Amethyst</option>
                                <option name="select" value="11">Apricot</option>
                                <option name="select" value="12">Aqua</option>
                                <option name="select" value="13">Azure</option>
                                <option name="select" value="14">Brown</option>
                            </select>
                            <span class="select-arrow"><i class="fas fa-chevron-down"></i></span>
                            <span class="input-group-state">
                                <span class="positioned">
                                    <span class="text">
                                        <span class="valid-text"><i class="fas fa-check"></i></span>
                                        <span class="error-text"><i class="fas fa-times"></i></span>
                                    </span>
                                </span>
                            </span>
                            <span class="field-icon"><i class="fas fa-eye-dropper"></i></span>
                            <span class="field-back"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row cols-md rows-md">
                <div class="sm-col-6">
                    <div class="field-group shop-line-field chosen-field field-disabled">
                        <label>Line Select</label>
                        <div class="field-wrap">
                            <select class="field-control" name="select" disabled="disabled">
                                <option name="select">Select color</option>
                                <option name="select" value="1">red</option>
                                <option name="select" value="2">green</option>
                                <option name="select" value="3">white</option>
                                <option name="select" value="4">blue</option>
                                <option name="select" value="5">black</option>
                                <option name="select" value="6">Almond</option>
                                <option name="select" value="7">Aluminum</option>
                                <option name="select" value="8">Amazon</option>
                                <option name="select" value="9">Amber</option>
                                <option name="select" value="10">Amethyst</option>
                                <option name="select" value="11">Apricot</option>
                                <option name="select" value="12">Aqua</option>
                                <option name="select" value="13">Azure</option>
                                <option name="select" value="14">Brown</option>
                            </select>
                            <span class="select-arrow"><i class="fas fa-chevron-down"></i></span>
                            <span class="input-group-state">
                                <span class="positioned">
                                    <span class="text">
                                        <span class="valid-text"><i class="fas fa-check"></i></span>
                                        <span class="error-text"><i class="fas fa-times"></i></span>
                                    </span>
                                </span>
                            </span>
                            <span class="field-back"></span>
                        </div>
                    </div>
                </div>
                <div class="sm-col-6">
                    <div class="field-group shop-line-field chosen-field field-disabled">
                        <div class="field-wrap has-icon">
                            <select class="field-control" name="select" disabled="disabled">
                                <option name="select">Select color</option>
                                <option name="select" value="1">red</option>
                                <option name="select" value="2">green</option>
                                <option name="select" value="3">white</option>
                                <option name="select" value="4">blue</option>
                                <option name="select" value="5">black</option>
                                <option name="select" value="6">Almond</option>
                                <option name="select" value="7">Aluminum</option>
                                <option name="select" value="8">Amazon</option>
                                <option name="select" value="9">Amber</option>
                                <option name="select" value="10">Amethyst</option>
                                <option name="select" value="11">Apricot</option>
                                <option name="select" value="12">Aqua</option>
                                <option name="select" value="13">Azure</option>
                                <option name="select" value="14">Brown</option>
                            </select>
                            <span class="select-arrow"><i class="fas fa-chevron-down"></i></span>
                            <span class="input-group-state">
                                <span class="positioned">
                                    <span class="text">
                                        <span class="valid-text"><i class="fas fa-check"></i></span>
                                        <span class="error-text"><i class="fas fa-times"></i></span>
                                    </span>
                                </span>
                            </span>
                            <span class="field-icon"><i class="fas fa-eye-dropper"></i></span>
                            <span class="field-back"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-section">
        <div class="container">
            <div class="section-head text-center">
                <h2 class="text-upper">Checkboxes / Radio buttons</h2>
            </div>
            <div class="row cols-md rows-md">
                <div class="sm-col-6">
                    <div class="field-groups">
                        <label>Checkbox list</label>
                        <div class="field-group field-disabled">
                            <div class="checkbox">
                                <label>
                                    <input class="field-control field-disabled" name="checklist" disabled="disabled" type="checkbox" />
                                    <span class="check-icon">
                                        <span class="check-block">
                                            <span class="check-pin"></span>
                                        </span>
                                    </span>
                                    <span class="label">option 1</span>
                                </label>
                            </div>
                        </div>
                        <div class="field-group field-disabled">
                            <div class="checkbox">
                                <label>
                                    <input class="field-control field-disabled" name="checklist" disabled="disabled" type="checkbox" />
                                    <span class="check-icon">
                                        <span class="check-block">
                                            <span class="check-pin"></span>
                                        </span>
                                    </span>
                                    <span class="label">option 2</span>
                                </label>
                            </div>
                        </div>
                        <div class="field-group field-disabled">
                            <div class="checkbox">
                                <label>
                                    <input class="field-control field-disabled" name="checklist" disabled="disabled" type="checkbox" />
                                    <span class="check-icon">
                                        <span class="check-block">
                                            <span class="check-pin"></span>
                                        </span>
                                    </span>
                                    <span class="label">option 3</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sm-col-6">
                    <div class="field-groups">
                        <label>Radio list</label>
                        <div class="field-group field-disabled">
                            <div class="radio">
                                <label>
                                    <input class="field-control field-disabled" name="checklist" type="radio" disabled="disabled" />
                                    <span class="check-icon">
                                        <span class="check-block">
                                            <span class="check-pin"></span>
                                        </span>
                                    </span>
                                    <span class="label">option 1</span>
                                </label>
                            </div>
                        </div>
                        <div class="field-group field-disabled">
                            <div class="radio">
                                <label>
                                    <input class="field-control field-disabled" name="checklist" type="radio" disabled="disabled" />
                                    <span class="check-icon">
                                        <span class="check-block">
                                            <span class="check-pin"></span>
                                        </span>
                                    </span>
                                    <span class="label">option 2</span>
                                </label>
                            </div>
                        </div>
                        <div class="field-group field-disabled">
                            <div class="radio">
                                <label>
                                    <input class="field-control field-disabled" name="checklist" type="radio" disabled="disabled" />
                                    <span class="check-icon">
                                        <span class="check-block">
                                            <span class="check-pin"></span>
                                        </span>
                                    </span>
                                    <span class="label">option 3</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-section">
        <div class="container">
            <div class="section-head text-center">
                <h2 class="text-upper">Rating</h2>
            </div>
            <div class="row cols-md rows-md">
                <div class="sm-col-6">
                    <div class="field-group field-disabled">
                        <label>Quality</label>
                        <div class="rating-field">
                            <div class="pull-left">
                                <input type="radio" id="quality-rating-5" name="quality-rating" value="5" disabled="disabled" />
                                <label for="quality-rating-5">
                                    <span class="rating-active-icon"><i class="fas fa-star"></i></span>
                                    <span class="rating-icon"><i class="far fa-star"></i></span>
                                </label>
                                <input type="radio" id="quality-rating-4" name="quality-rating" value="4" disabled="disabled" />
                                <label for="quality-rating-4">
                                    <span class="rating-active-icon"><i class="fas fa-star"></i></span>
                                    <span class="rating-icon"><i class="far fa-star"></i></span>
                                </label>
                                <input type="radio" id="quality-rating-3" name="quality-rating" value="3" disabled="disabled" />
                                <label for="quality-rating-3">
                                    <span class="rating-active-icon"><i class="fas fa-star"></i></span>
                                    <span class="rating-icon"><i class="far fa-star"></i></span>
                                </label>
                                <input type="radio" id="quality-rating-2" name="quality-rating" value="2" disabled="disabled" />
                                <label for="quality-rating-2">
                                    <span class="rating-active-icon"><i class="fas fa-star"></i></span>
                                    <span class="rating-icon"><i class="far fa-star"></i></span>
                                </label>
                                <input type="radio" id="quality-rating-1" name="quality-rating" value="1" disabled="disabled" />
                                <label for="quality-rating-1">
                                    <span class="rating-active-icon"><i class="fas fa-star"></i></span>
                                    <span class="rating-icon"><i class="far fa-star"></i></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="field-group field-disabled">
                        <label>Service (with cancel)</label>
                        <div class="rating-field text-colorful">
                            <div class="pull-left">
                                <input type="radio" class="rating-cancel" id="service-rating-cancel" name="service-rating" disabled="disabled" />
                                <label class="rating-cancel-icon" for="service-rating-cancel"><i class="fas fa-times"></i></label>
                                <input type="radio" id="service-rating-5" name="service-rating" value="5" disabled="disabled" />
                                <label for="service-rating-5">
                                    <span class="rating-icon"><i class="far fa-thumbs-up"></i></span>
                                </label>
                                <input type="radio" id="service-rating-4" name="service-rating" value="4" disabled="disabled" />
                                <label for="service-rating-4">
                                    <span class="rating-icon"><i class="far fa-thumbs-up"></i></span>
                                </label>
                                <input type="radio" id="service-rating-3" name="service-rating" value="3" disabled="disabled" />
                                <label for="service-rating-3">
                                    <span class="rating-icon"><i class="far fa-thumbs-up"></i></span>
                                </label>
                                <input type="radio" id="service-rating-2" name="service-rating" value="2" disabled="disabled" />
                                <label for="service-rating-2">
                                    <span class="rating-icon"><i class="far fa-thumbs-up"></i></span>
                                </label>
                                <input type="radio" id="service-rating-1" name="service-rating" value="1" disabled="disabled" />
                                <label for="service-rating-1">
                                    <span class="rating-icon"><i class="far fa-thumbs-up"></i></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="field-group field-disabled">
                        <label>Rating (min: 1)</label>
                        <div class="rating-field text-colorful">
                            <div class="pull-left">
                                <input type="radio" id="undefined-5" name="rating" value="5" disabled="disabled" />
                                <label for="undefined-5">
                                    <span class="rating-active-icon"><i class="far fa-smile"></i></span>
                                    <span class="rating-icon"><i class="far fa-meh"></i></span>
                                </label>
                                <input type="radio" id="undefined-4" name="rating" value="4" disabled="disabled" />
                                <label for="undefined-4">
                                    <span class="rating-active-icon"><i class="far fa-smile"></i></span>
                                    <span class="rating-icon"><i class="far fa-meh"></i></span>
                                </label>
                                <input type="radio" id="undefined-3" name="rating" value="3" disabled="disabled" />
                                <label for="undefined-3">
                                    <span class="rating-active-icon"><i class="far fa-smile"></i></span>
                                    <span class="rating-icon"><i class="far fa-meh"></i></span>
                                </label>
                                <input type="radio" id="undefined-2" name="rating" value="2" disabled="disabled" />
                                <label for="undefined-2">
                                    <span class="rating-active-icon"><i class="far fa-smile"></i></span>
                                    <span class="rating-icon"><i class="far fa-meh"></i></span>
                                </label>
                                <input type="radio" id="undefined-1" name="rating" value="1" checked="checked" disabled="disabled" />
                                <label for="undefined-1">
                                    <span class="rating-active-icon"><i class="far fa-smile"></i></span>
                                    <span class="rating-icon"><i class="far fa-meh"></i></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sm-col-6">
                    <div class="field-group field-disabled">
                        <label>Female (min: 1, max: 8)</label>
                        <div class="rating-field text-colorful">
                            <div class="pull-left">
                                <input type="radio" id="female-rating-8" name="female-rating" value="8" disabled="disabled" />
                                <label for="female-rating-8">
                                    <span class="rating-icon"><i class="fas fa-female"></i></span>
                                </label>
                                <input type="radio" id="female-rating-7" name="female-rating" value="7" disabled="disabled" />
                                <label for="female-rating-7">
                                    <span class="rating-icon"><i class="fas fa-female"></i></span>
                                </label>
                                <input type="radio" id="female-rating-6" name="female-rating" value="6" disabled="disabled" />
                                <label for="female-rating-6">
                                    <span class="rating-icon"><i class="fas fa-female"></i></span>
                                </label>
                                <input type="radio" id="female-rating-5" name="female-rating" value="5" disabled="disabled" />
                                <label for="female-rating-5">
                                    <span class="rating-icon"><i class="fas fa-female"></i></span>
                                </label>
                                <input type="radio" id="female-rating-4" name="female-rating" value="4" disabled="disabled" />
                                <label for="female-rating-4">
                                    <span class="rating-icon"><i class="fas fa-female"></i></span>
                                </label>
                                <input type="radio" id="female-rating-3" name="female-rating" value="3" disabled="disabled" />
                                <label for="female-rating-3">
                                    <span class="rating-icon"><i class="fas fa-female"></i></span>
                                </label>
                                <input type="radio" id="female-rating-2" name="female-rating" value="2" disabled="disabled" />
                                <label for="female-rating-2">
                                    <span class="rating-icon"><i class="fas fa-female"></i></span>
                                </label>
                                <input type="radio" id="female-rating-1" name="female-rating" value="1" checked="checked" disabled="disabled" />
                                <label for="female-rating-1">
                                    <span class="rating-icon"><i class="fas fa-female"></i></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="field-group field-disabled">
                        <label>Male (min: 1, max: 8)</label>
                        <div class="rating-field text-colorful">
                            <div class="pull-left">
                                <input type="radio" id="male-rating-8" name="male-rating" value="8" disabled="disabled" />
                                <label for="male-rating-8">
                                    <span class="rating-icon"><i class="fas fa-male"></i></span>
                                </label>
                                <input type="radio" id="male-rating-7" name="male-rating" value="7" disabled="disabled" />
                                <label for="male-rating-7">
                                    <span class="rating-icon"><i class="fas fa-male"></i></span>
                                </label>
                                <input type="radio" id="male-rating-6" name="male-rating" value="6" disabled="disabled" />
                                <label for="male-rating-6">
                                    <span class="rating-icon"><i class="fas fa-male"></i></span>
                                </label>
                                <input type="radio" id="male-rating-5" name="male-rating" value="5" disabled="disabled" />
                                <label for="male-rating-5">
                                    <span class="rating-icon"><i class="fas fa-male"></i></span>
                                </label>
                                <input type="radio" id="male-rating-4" name="male-rating" value="4" disabled="disabled" />
                                <label for="male-rating-4">
                                    <span class="rating-icon"><i class="fas fa-male"></i></span>
                                </label>
                                <input type="radio" id="male-rating-3" name="male-rating" value="3" disabled="disabled" />
                                <label for="male-rating-3">
                                    <span class="rating-icon"><i class="fas fa-male"></i></span>
                                </label>
                                <input type="radio" id="male-rating-2" name="male-rating" value="2" disabled="disabled" />
                                <label for="male-rating-2">
                                    <span class="rating-icon"><i class="fas fa-male"></i></span>
                                </label>
                                <input type="radio" id="male-rating-1" name="male-rating" value="1" checked="checked" disabled="disabled" />
                                <label for="male-rating-1">
                                    <span class="rating-icon"><i class="fas fa-male"></i></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="field-group field-disabled">
                        <label>Child (with cancel)</label>
                        <div class="rating-field text-colorful">
                            <div class="pull-left">
                                <input type="radio" class="rating-cancel" id="child-rating-cancel" name="child-rating" disabled="disabled" />
                                <label class="rating-cancel-icon" for="child-rating-cancel"><i class="fas fa-times"></i></label>
                                <input type="radio" id="child-rating-5" name="child-rating" value="5" disabled="disabled" />
                                <label for="child-rating-5">
                                    <span class="rating-icon"><i class="fas fa-child"></i></span>
                                </label>
                                <input type="radio" id="child-rating-4" name="child-rating" value="4" disabled="disabled" />
                                <label for="child-rating-4">
                                    <span class="rating-icon"><i class="fas fa-child"></i></span>
                                </label>
                                <input type="radio" id="child-rating-3" name="child-rating" value="3" disabled="disabled" />
                                <label for="child-rating-3">
                                    <span class="rating-icon"><i class="fas fa-child"></i></span>
                                </label>
                                <input type="radio" id="child-rating-2" name="child-rating" value="2" disabled="disabled" />
                                <label for="child-rating-2">
                                    <span class="rating-icon"><i class="fas fa-child"></i></span>
                                </label>
                                <input type="radio" id="child-rating-1" name="child-rating" value="1" disabled="disabled" />
                                <label for="child-rating-1">
                                    <span class="rating-icon"><i class="fas fa-child"></i></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
export default {
  mounted () {
    this.$initLoad()
  }
}
</script>

<style>

</style>
