<template>
  <div>
    <Headers />
    <section class="solid-section tight with-bg">
        <div class="fix-image-wrap" data-image-src="./images/parts/page-info-bg.jpg" data-parallax="scroll"></div>
        <div class="theme-back-alt"></div>
        <div class="container page-info">
            <div class="section-alt-head container-md">
                <h1 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Typography & Common Elements</h1>
            </div>
        </div>
        <div class="section-footer">
            <div class="container" data-inview-showup="showup-translate-down">
                <ul class="page-path">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>Pages</li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>Elements</li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>Typography</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="content-section" data-inview-showup="showup-translate-up">
        <div class="container">
            <div class="rows-lg cols-lg">
                <div class="table rows-lg">
                    <div class="sm-col-4 col-bottom">
                        <h1>H1 Heading</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="sm-col-4 col-bottom">
                        <h2>H2 Heading</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="sm-col-4 col-bottom">
                        <h3>H3 Heading</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <div class="table rows-lg">
                    <div class="sm-col-4 col-bottom">
                        <h4>H4 Heading</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="sm-col-4 col-bottom">
                        <h5>H5 Heading</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="sm-col-4 col-bottom">
                        <h6>H6 Heading</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="muted-bg tight solid-section" data-inview-showup="showup-translate-up">
        <div class="container">
            <div class="cols-lg">
                <div class="table rows-lg">
                    <div class="sm-col-4 col-middle">
                        <h2 class="reset-offs">Buttons</h2>
                    </div>
                    <div class="sm-col-8">
                        <div class="rows-md">
                            <div class="row cols-md rows-md">
                                <div class="sm-col-4">
                                    <button class="btn text-upper">default</button>
                                </div>
                                <div class="sm-col-4">
                                    <button class="btn text-upper btns-bordered">default</button>
                                </div>
                            </div>
                            <div class="row cols-md rows-md">
                                <div class="sm-col-4">
                                    <button class="btn btn-sm">small</button>
                                </div>
                                <div class="sm-col-4">
                                    <button class="btn btns-bordered btn-sm">small</button>
                                </div>
                            </div>
                            <div class="row cols-md rows-md">
                                <div class="sm-col-4">
                                    <button class="btn text-upper btn-md">medium</button>
                                </div>
                                <div class="sm-col-4">
                                    <button class="btn text-upper btns-bordered btn-md">medium</button>
                                </div>
                            </div>
                            <div class="row cols-md rows-md">
                                <div class="sm-col-4">
                                    <button class="btn text-upper btn-lg">large</button>
                                </div>
                                <div class="sm-col-4">
                                    <button class="btn text-upper btns-bordered btn-lg">large</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-section" data-inview-showup="showup-translate-up">
        <div class="container">
            <div class="offs-lg">
                <h2 class="text-center text-upper">Full width</h2>
                <div class="col-12">
                    <p class="text-justify">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                </div>
            </div>
            <div class="offs-lg">
                <h2 class="text-center text-upper">Two columns</h2>
                <div class="row cols-lg">
                    <div class="col-6">
                        <p class="text-justify">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    </div>
                    <div class="col-6">
                        <p class="text-justify">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    </div>
                </div>
            </div>
            <div class="offs-lg">
                <h2 class="text-center text-upper">Three columns</h2>
                <div class="row cols-lg">
                    <div class="col-4">
                        <p class="text-justify">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur</p>
                    </div>
                    <div class="col-4">
                        <p class="text-justify">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur</p>
                    </div>
                    <div class="col-4">
                        <p class="text-justify">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur</p>
                    </div>
                </div>
            </div>
            <div class="offs-lg">
                <h2 class="text-center text-upper">Four columns</h2>
                <div class="row cols-lg">
                    <div class="col-3">
                        <ul class="list">
                            <li>
                                <span class="list-mark">1.</span>When your device is need to be fixed please no panic and relaxed</li>
                            <li>
                                <span class="list-mark">2.</span>Send the device to us which you need to be fixed and stay calm</li>
                            <li>
                                <span class="list-mark">3.</span>We will take care of it and work with it to fix it smooth and accurately</li>
                            <li>
                                <span class="list-mark">4.</span>After a quick fix, we just return it to your destination fast and securely</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="list">
                            <li>
                                <span class="list-mark"><i class="fas fa-chevron-right" aria-hidden="true"></i></span>When your device is need to be fixed please no panic and relaxed</li>
                            <li>
                                <span class="list-mark"><i class="fas fa-chevron-right" aria-hidden="true"></i></span>Send the device to us which you need to be fixed and stay calm</li>
                            <li>
                                <span class="list-mark"><i class="fas fa-chevron-right" aria-hidden="true"></i></span>We will take care of it and work with it to fix it smooth and accurately</li>
                            <li>
                                <span class="list-mark"><i class="fas fa-chevron-right" aria-hidden="true"></i></span>After a quick fix, we just return it to your destination fast and securely</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="list">
                            <li>
                                <span class="list-mark"><i class="fas fa-check" aria-hidden="true"></i></span>When your device is need to be fixed please no panic and relaxed</li>
                            <li>
                                <span class="list-mark"><i class="fas fa-check" aria-hidden="true"></i></span>Send the device to us which you need to be fixed and stay calm</li>
                            <li>
                                <span class="list-mark"><i class="fas fa-check" aria-hidden="true"></i></span>We will take care of it and work with it to fix it smooth and accurately</li>
                            <li>
                                <span class="list-mark"><i class="fas fa-check" aria-hidden="true"></i></span>After a quick fix, we just return it to your destination fast and securely</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="list">
                            <li>
                                <span class="list-mark"><i class="fas fa-play" aria-hidden="true"></i></span>When your device is need to be fixed please no panic and relaxed</li>
                            <li>
                                <span class="list-mark"><i class="fas fa-play" aria-hidden="true"></i></span>Send the device to us which you need to be fixed and stay calm</li>
                            <li>
                                <span class="list-mark"><i class="fas fa-play" aria-hidden="true"></i></span>We will take care of it and work with it to fix it smooth and accurately</li>
                            <li>
                                <span class="list-mark"><i class="fas fa-play" aria-hidden="true"></i></span>After a quick fix, we just return it to your destination fast and securely</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-section" data-inview-showup="showup-translate-up">
        <div class="container">
            <h2 class="text-center text-upper">Blockquote</h2>
            <p class="text-justify">The most comprehensive repairs available at Profix. Any device, mobile, tablet or laptop can be repaired or upgraded by us, learn more about us and see why we are the best choice for device repairs and upgrades. We have a fully trained, experienced service department ready to handle all of your service needs. We have been in the repair and service business since 2006.</p>
            <blockquote class="hard-line-right text-right">10+ Years Of Working Experience In Quality Repair Services.</blockquote>
            <p class="text-justify">The most comprehensive repairs available at Profix. Any device, mobile, tablet or laptop can be repaired or upgraded by us, learn more about us and see why we are the best choice for device repairs and upgrades. We have a fully trained, experienced service department ready to handle all of your service needs. We have been in the repair and service business since 2006.
                <q class="hard-line-left pull-left text-left col-5">10+ Years Of Working Experience In Quality Repair Services.</q>The most comprehensive repairs available at Profix.Any device, mobile, tablet or laptop can be repaired or upgraded by us, learn more about us and see why we are the best choice for device repairs and upgrades.The most comprehensive repairs available at Profix. Any device, mobile, tablet or laptop can be repaired or upgraded by us, learn more about us and see why we are the best choice for device repairs and upgrades. We have a fully trained, experienced service department ready to handle all of your service needs. We have been in the repair and service business since 2006. The most comprehensive repairs available at Profix. Any device, mobile, tablet or laptop can be repaired or upgraded by us, learn more about us and see why we are the best choice for device repairs and upgrades. The most comprehensive repairs available at Profix. Any device, mobile, tablet or laptop can be repaired or upgraded by us, learn more about us and see why we are the best choice for device repairs and upgrades. We have a fully trained,
                <q class="pull-right col-5 text-right">10+ Years Of Working Experience In Quality Repair Services.</q> experienced service department ready to handle all of your service needs. We have been in the repair and service business since 2006. The most comprehensive repairs available at Profix. Any device, mobile, tablet or laptop can be repaired or upgraded by us, learn more about us and see why we are the best choice for device repairs and upgrades. The most comprehensive repairs available at Profix. Any device, mobile, tablet or laptop can be repaired or upgraded by us, learn more about us and see why we are the best choice for device repairs and upgrades.The most comprehensive repairs available at Profix. Any device, mobile, tablet or laptop can be repaired or upgraded by us, learn more about us and see why we are the best choice for device repairs and upgrades.</p>
        </div>
    </section>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
export default {
  mounted () {
    this.$initLoad()
  }
}
</script>

<style>

</style>