<template>
  <div>
    <Headers />
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back"></div>
        <div class="container page-info">
            <div class="section-alt-head container-md">
                <h1 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Forgot Password</h1>
                <p data-inview-showup="showup-translate-left">A little something about our company</p>
            </div>
        </div>
        <div class="section-footer">
            <div class="container" data-inview-showup="showup-translate-down">
                <ul class="page-path">
                    <li>
                      <nuxt-link :to="{ name: 'index' }">Home</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>Forgot Password</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="content-section">
        <div class="container">
            <div class="section-head text-center container-md">
                <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Forgot Your Password?</h2>
                <p data-inview-showup="showup-translate-left">Tell us your email and we will send you new password</p>
            </div>
<!--            <form class="sign-in-form">-->
                <div class="medium-container">
                    <div class="row cols-lg rows-md">
                        <div class="sm-col-9" data-inview-showup="showup-translate-right">
                          <div class="field-group">
                            <div class="field-wrap">
                              <input @keypress.enter="resetPassword" v-model="email" class="field-control" type="email" name="email" placeholder="Email" />
                              <span class="field-back"></span>
                            </div>
                            <span v-if="isError === false" class="field-sub-text"><i class="fas fa-times error-text"></i> {{statusMessage}}</span>
                            <span v-else-if="isError === true" class="field-sub-text"><i class="fas fa-check valid-text"></i> {{statusMessage}}</span>
                          </div>
<!--                            <div class="field-group">-->
<!--                                <div class="field-wrap">-->
<!--                                    <input @keypress.enter="resetPassword" v-model="email" class="field-control" name="email" type="email" placeholder="Email" required="required" />-->
<!--                                    <span class="field-back"></span>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <div class="sm-col-3" data-inview-showup="showup-translate-left">
                            <button @click="resetPassword" class="btn col-12 text-upper" type="submit">
                                Send
                            </button>
                        </div>
                    </div>
                </div>
<!--            </form>-->
        </div>
    </section>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
const slugify = require('slugify')
export default {
  mounted () {
    this.$initLoad()
  },
  data: () => ({
    email: '',
    isError: null,
    statusMessage: '',
    btnText: ''
  }),
  methods: {
    resetPassword(){
      this.btnText = 'loading...'
      this.$store.dispatch('auth/resetPassword', this.email)
        .then((res) => {
          // console.log(res)
          this.statusMessage = res.message
          if (res.success){
            this.isError = res.success
            this.$nuxt.$router.push({name: 'accounts-notification-reset', query: {p: slugify(res.password,
                  {
                    replacement: '-',    // replace spaces with replacement
                    remove: /[$*+~.()'"!:@/]/g,        // regex to remove characters
                    lower: true,         // result in lower case
                  }
                )}})
          }else{
            this.isError = res.success
            setTimeout(() => {
              this.btnText = 'send'
              this.isError = null
            }, 5000);

          }

        })
    }
  }
}
</script>

<style>

</style>
