<template>
  <div>
    <Headers />
    <section class="text-center content-section">
        <div class="container">
<!--            <img class="image offs-md" src="/lib/images/error/under-construction.png" alt="" data-inview-showup="showup-scale" />-->
            <div class="section-head text-center container-md">
                <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Password has been reset!</h2>
                <p data-inview-showup="showup-translate-left">Please check your {{email}} inbox email!</p>
            </div>
            <nuxt-link :to="{ name: 'index' }" class="btn text-upper" data-inview-showup="showup-translate-up">back to homepage</nuxt-link>
        </div>
    </section>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
export default {
  validate({store}){
    // console.log(store.state.auth.resetEmail)
    return store.state.auth.resetEmail !== 'example@ex.com'
  },
  mounted () {
    this.$initLoad()
    // console.log(this.$route.name)
  },
  async asyncData(context){
    return {
      email: context.store.state.auth.resetEmail
    }
  },
  beforeDestroy() {
    this.$store.commit('auth/deleteEmail')
  }
}
</script>

<style>

</style>
