<template>
  <div>
    <Headers />
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back"></div>
        <div class="container page-info">
            <div class="section-alt-head container-md">
                <h1 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Sign Up</h1>
                <p data-inview-showup="showup-translate-left">A little something about our company</p>
            </div>
        </div>
        <div class="section-footer">
            <div class="container" data-inview-showup="showup-translate-down">
                <ul class="page-path">
                    <li>
                      <nuxt-link :to="{ name: 'index' }">Home</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>Sign Up</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="content-section">
        <div class="container">
            <form class="sign-up-form">
                <h4 class="text-upper" data-inview-showup="showup-translate-right">Personal information</h4>
                <div class="row cols-lg rows-md">
                    <div class="sm-col-6" data-inview-showup="showup-translate-right">
                        <div class="field-group">
                            <div class="field-wrap">
                                <input class="field-control" name="firstName" placeholder="First Name" required="required" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                    </div>
                    <div class="sm-col-6" data-inview-showup="showup-translate-left">
                        <div class="field-group">
                            <div class="field-wrap">
                                <input class="field-control" name="lastName" placeholder="Last Name" required="required" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                    </div>
                    <div class="sm-col-6" data-inview-showup="showup-translate-right">
                        <div class="field-group">
                            <div class="field-wrap">
                                <input class="field-control" name="email" type="email" placeholder="Email" required="required" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                    </div>
                    <div class="sm-col-6" data-inview-showup="showup-translate-left">
                        <div class="field-group">
                            <div class="field-wrap">
                                <input class="field-control" name="phone" placeholder="Phone" required="required" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="text-upper shift-lg" data-inview-showup="showup-translate-right">Billing address</h4>
                <div class="row cols-lg rows-md">
                    <div class="sm-col-6" data-inview-showup="showup-translate-right">
                        <div class="field-group">
                            <div class="field-wrap">
                                <input class="field-control" name="company" placeholder="Company" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="field-wrap">
                                <textarea class="field-control" name="address" placeholder="Address" required="required"></textarea>
                                <span class="field-back"></span>
                            </div>
                        </div>
                    </div>
                    <div class="sm-col-6" data-inview-showup="showup-translate-left">
                        <div class="field-group">
                            <div class="field-wrap">
                                <input class="field-control" name="town" placeholder="Town / City" required="required" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="field-wrap">
                                <input class="field-control" name="zip" placeholder="Postcode / ZIP" required="required" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="field-wrap">
                                <input class="field-control" name="country" placeholder="Country" required="required" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="text-upper shift-lg" data-inview-showup="showup-translate-right">Account security</h4>
                <div class="row cols-lg rows-md">
                    <div class="sm-col-6" data-inview-showup="showup-translate-right">
                        <div class="field-group">
                            <div class="field-wrap">
                                <input class="field-control" name="password" type="password" placeholder="Password" required="required" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                    </div>
                    <div class="sm-col-6" data-inview-showup="showup-translate-left">
                        <div class="field-group">
                            <div class="field-wrap">
                                <input class="field-control" name="confirmPassword" type="password" placeholder="Confirm Password" required="required" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shift-lg offs-lg" data-inview-showup="showup-translate-right">
                    <div class="field-group">
                        <div class="checkbox">
                            <label>
                                <input class="field-control" name="terms" type="checkbox" />
                                <span class="check-icon">
                                    <span class="check-block">
                                        <span class="check-pin"></span>
                                    </span>
                                </span>
                                <span class="label">I've read &amp; accept the
                                    <nuxt-link :to="{ name: 'termscondition' }">terms &amp; conditions</nuxt-link>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div data-inview-showup="showup-translate-right">
                    <button class="btn md-col-2 text-upper" type="submit">
                        Sign Up
                    </button>
                </div>
            </form>
        </div>
    </section>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
export default {
  mounted () {
    this.$initLoad()
  }
}
</script>

<style>

</style>
