<template>
  <div>
    <Headers />
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back"></div>
        <div class="container page-info">
            <div class="section-alt-head container-md">
                <h1 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Sign In</h1>
                <p data-inview-showup="showup-translate-left">A little something about our company</p>
            </div>
        </div>
        <div class="section-footer">
            <div class="container" data-inview-showup="showup-translate-down">
                <ul class="page-path">
                    <li>
                      <nuxt-link :to="{ name: 'index' }">Home</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>Sign In</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="content-section">
        <div class="container">
            <div class="section-head text-center container-md">
                <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Sign in</h2>
                <p data-inview-showup="showup-translate-left">Sign in to your account to discover all great features in this template.</p>
            </div>
<!--            <form class="sign-in-form">-->
                <div class="medium-container">
                    <div class="row rows-lg cols-lg rows-lg">
                        <div class="sm-col-7">
                            <div class="item-form" data-inview-showup="showup-translate-right">
                                <div class="offs-lg">
                                  <div v-if="isError === false" class="alert alert-error ">
                                    <strong><i class="fas fa-times"></i> Error:</strong> {{loginMessage}}
                                  </div>
                                  <div v-else-if="isError === true" class="alert alert-valid">
                                    <strong><i class="fas fa-check"></i> Valid:</strong> {{loginMessage}}
                                  </div>
                                    <div class="field-group">
                                        <div class="field-wrap">
                                            <input @keypress.enter="signIn" v-model="user.email" class="field-control" name="login" placeholder="Your Login or email" required="required" />
                                            <span class="field-back"></span>
                                        </div>
                                    </div>
                                    <div class="field-group">
                                        <div class="field-wrap">
                                            <input @keypress.enter="signIn" v-model="user.password" class="field-control" name="password" type="password" placeholder="Password" required="required" />
                                            <span class="field-back"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row cols-md offs-md">
                                    <div class="col-6">
                                        <div class="field-group">
                                            <div class="checkbox">
                                                <label>
                                                    <input class="field-control" name="keepLogged" type="checkbox" />
                                                    <span class="check-icon">
                                                        <span class="check-block">
                                                            <span class="check-pin"></span>
                                                        </span>
                                                    </span>
                                                    <span class="label">Keep me logged in</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 text-right shift-xs">
                                        <nuxt-link :to="{ name: 'accounts-forgotpassword' }">Forgot your password?</nuxt-link>
                                    </div>
                                </div>
                                <div class="text-right" :class="{'field-disabled': btnText === 'loading...'}">
                                    <button @click="signIn" class="btn text-upper">
                                        {{btnText}}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="sm-col-5">
                            <div class="item-side" data-inview-showup="showup-translate-left">
                                <div class="item-subtitle offs-lg">
                                    <div class="row">
                                        <div class="col-7">Don't have an account?</div>
                                        <div class="col-5 text-right">
                                        <nuxt-link :to="{ name: 'accounts-signup' }" class="text-medium"><i class="fas fa-edit"></i>&nbsp;&nbsp;Register</nuxt-link>
                                        </div>
                                    </div>
                                </div>
<!--                                <a class="btn btns-facebook text-left offs-md col-12" href="./sign-up.html"><i class="fab fa-fw fa-facebook-f" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Sign In with Facebook</a>-->
<!--                                <a class="btn btns-twitter text-left offs-md col-12" href="./sign-up.html"><i class="fab fa-fw fa-twitter" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Sign In with Twitter</a>-->
                                <a class="btn btns-google-plus text-left col-12" @click="signInWithGoogle" href="javascript:;"><i class="fab fa-fw fa-google-plus-g" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Sign In with Google</a>
                            </div>
                        </div>
                    </div>
                </div>
<!--            </form>-->
        </div>
    </section>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
import firebase from 'firebase'

export default {
  mounted () {
    this.$initLoad()
  },
  data: () => ({
    btnText: 'sign in',
    isError: null,
    loginMessage: '',
    user: {
      email: '',
      password: ''
    }
  }),
  methods: {
    signInWithGoogle(){
      this.provider = new firebase.auth.GoogleAuthProvider()
      firebase.auth().signInWithPopup(this.provider).then(async result => {
        // store the user ore wathever
        // this.$router.push('/home')
        // console.log('login with google success')
        // console.log(result.additionalUserInfo.profile)
        let data = {
          name: result.additionalUserInfo.profile.name,
          email: result.additionalUserInfo.profile.email,
          img_url: result.additionalUserInfo.profile.picture,
          register_type: 'google',
          social_token: result.additionalUserInfo.profile.id,
        }
        await this.$store.dispatch('auth/loginUserWithGoogle', data)
        this.$nuxt.$router.push('/')
      }).catch(e => {
        // this.$snotify.error(e.message)
        console.log(e)
      })
    },
    signIn(){
      this.btnText = 'loading...'
      this.$store.dispatch('auth/loginUser', this.user)
        .then((res) => {
          this.loginMessage = res.message
          if (res.success){
            this.$nuxt.$router.push('/')
          }else{
            this.isError = res.success
            setTimeout(() => {
              this.btnText = 'sign in'
              this.isError = null
            }, 5000);
          }
        })
    }
  }
}
</script>

<style>

</style>
