// SIMPLE GRID - SASS/SCSS

// @import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

// fonts
// $font-family: 'Lato', Helvetica, sans-serif;
// $font-weight-light: 300;
// $font-weight-regular: 400;
// $font-weight-heavy: 700;
// $font-height: 1.5;
