<template>
  <div>
    <Headers />
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back"></div>
        <div class="container page-info">
            <div class="section-alt-head container-md">
                <h1 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Dashboard</h1>
                <p data-inview-showup="showup-translate-left">A little something about our company</p>
            </div>
        </div>
        <div class="section-footer">
            <div class="container" data-inview-showup="showup-translate-down">
                <ul class="page-path">
                    <li>
                      <nuxt-link :to="{ name: 'index' }">Home</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>
                      <nuxt-link :to="{ name: 'profile' }">Profile</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>Dashboard</li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
          <ProfileNav />
        </div>
    </section>
    <section class="shift-lg offs-lg">
        <div class="container">
            <div class="user-dashboard-personal-info">
                <div class="rows-md cols-md row">
                    <div class="md-col-7">
                        <div class="user-dashboard-user">
                            <div class="user-dashboard-user-image">
                                <div class="responsive-1by1">
                                    <img src="https://dummyimage.com/70x70" alt="" />
                                </div>
                            </div>
                            <div class="user-dashboard-user-content">
                                <h6 class="user-dashboard-user-title text-upper">Andy Smith</h6>
                                <div class="user-dashboard-user-subtitle">CO Founder Endless Dev.</div>
                            </div>
                        </div>
                    </div>
                    <div class="md-col-5">
                        <div class="cols-md row">
                            <div class="sm-col-6">
                                <div class="user-dashboard-info-line">
                                    <div class="user-dashboard-info-icon"><i class="fas fa-envelope fa-fw"></i></div>
                                    <div class="user-order-info-value">andysm@mail.com</div>
                                </div>
                                <div class="user-dashboard-info-line">
                                    <div class="user-dashboard-info-icon"><i class="fas fa-mobile-alt fa-fw"></i></div>
                                    <div class="user-order-info-value">+4 (032) 555 - 22 - 13
                                        <br/>+4 (032) 555 - 22 - 13</div>
                                </div>
                            </div>
                            <div class="sm-col-6">
                                <div class="user-dashboard-info-line">
                                    <div class="user-dashboard-info-icon"><i class="fas fa-map-marker-alt fa-fw"></i></div>
                                    <div class="user-order-info-value">Kocaaga Sok. No.10, Istambul, Turkey, 34433</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="shift-lg offs-lg">
        <div class="container">
            <div class="user-dashboard-list user-dashboard-orders-list">
                <h4 class="reset-offs text-upper">My orders</h4>
                <div class="user-dashboard-item text-upper">
                    <div class="user-dashboard-item-number">#972523776a</div>
                    <div class="user-dashboard-item-title">Gamers Mouse
                    </div>
                    <div class="user-dashboard-item-date">17.05.2018</div>
                    <div class="user-dashboard-item-price">
                        <span class="currency">$</span>55.4
                    </div>
                    <div class="user-dashboard-item-status pending">pending</div>
                </div>
                <div class="user-dashboard-item text-upper">
                    <div class="user-dashboard-item-number">#93254776ab</div>
                    <div class="user-dashboard-item-title">Gamers Mouse
                    </div>
                    <div class="user-dashboard-item-date">17.05.2018</div>
                    <div class="user-dashboard-item-price">
                        <span class="currency">$</span>55.4
                    </div>
                    <div class="user-dashboard-item-status failed">failed</div>
                </div>
                <div class="user-dashboard-item text-upper">
                    <div class="user-dashboard-item-number">#972523776a</div>
                    <div class="user-dashboard-item-title">Gamers Mouse, USB 3.0 HUB
                    </div>
                    <div class="user-dashboard-item-date">17.05.2018</div>
                    <div class="user-dashboard-item-price">
                        <span class="currency">$</span>122.45
                    </div>
                    <div class="user-dashboard-item-status processing">processing</div>
                </div>
                <div class="user-dashboard-list-btns">
                    <nuxt-link :to="{ name: 'profile-orders' }" class="btns-bordered btn text-upper">view details</nuxt-link>
                </div>
            </div>
        </div>
    </section>
    <section class="shift-lg offs-lg">
        <div class="container">
            <div class="user-dashboard-list user-dashboard-tickets-list">
                <h4 class="reset-offs text-upper">My tickets</h4>
                <div class="user-dashboard-item text-upper">
                    <div class="user-dashboard-item-number">#1017</div>
                    <div class="user-dashboard-item-title">laptop Asus N552</div>
                    <div class="user-dashboard-item-date">17.05.2018</div>
                    <div class="user-dashboard-item-price">
                        -
                    </div>
                    <div class="user-dashboard-item-status pending">pending</div>
                </div>
                <div class="user-dashboard-item text-upper">
                    <div class="user-dashboard-item-number">#1016</div>
                    <div class="user-dashboard-item-title">printer Samsung C410</div>
                    <div class="user-dashboard-item-date">01.04.2018</div>
                    <div class="user-dashboard-item-price">
                        <span class="currency">$</span>47.35
                    </div>
                    <div class="user-dashboard-item-status diagnostic">diagnostic</div>
                </div>
                <div class="user-dashboard-item text-upper">
                    <div class="user-dashboard-item-number">#1015</div>
                    <div class="user-dashboard-item-title">laptop HP ProBook 47305</div>
                    <div class="user-dashboard-item-date">22.03.2018</div>
                    <div class="user-dashboard-item-price">
                        <span class="currency">$</span>75.45
                    </div>
                    <div class="user-dashboard-item-status repair">repair</div>
                </div>
                <div class="user-dashboard-list-btns">
                    <nuxt-link :to="{ name: 'profile-ticketsnew' }" class="btn text-upper">New Ticket</nuxt-link>
                    <nuxt-link :to="{ name: 'profile-tickets' }" class="btns-bordered btn text-upper">view details</nuxt-link>
                </div>
            </div>
        </div>
    </section>
    <section class="shift-lg offs-xxl">
        <div class="container">
            <div data-inview-showup="showup-translate-up">
                <h4 class="text-upper">Top sale products</h4>
                <div class="row cols-md rows-xl">
                    <div class="lg-col-3 md-col-6">
                        <div class="item shop-item shop-item-lined text-center">
                            <div class="item-image-wrap">
                                <div class="item-back"></div>
                                <div class="item-lables">
                                    <a class="item-label-sale item-label" href="#">sale</a>
                                    <a class="item-label-trending item-label" href="#">trending</a>
                                </div>
                                <nuxt-link :to="{ name: 'shop-item', params: { item: 'shop-item-1' } }" class="item-image responsive-1by1">
                                    <img src="https://dummyimage.com/500x500" alt="" />
                                </nuxt-link>
                            </div>
                            <div class="item-title text-upper">
                                <nuxt-link :to="{ name: 'shop-item', params: { item: 'shop-item-1' } }" class="content-link">Wi-Fi Router repieter</nuxt-link>
                            </div>
                            <div class="item-prices">
                                <div class="item-price">$32.15</div>
                                <div class="item-old-price">$72.5</div>
                            </div>
                            <div class="item-links">
                                <nuxt-link :to="{ name: 'shop-item', params: { item: 'shop-item-1' } }" class="btn text-upper btn-sm btns-bordered">view</nuxt-link>
                                <a href="#" class="btn text-upper btn-sm">add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="lg-col-3 md-col-6">
                        <div class="item shop-item shop-item-lined text-center">
                            <div class="item-image-wrap">
                                <div class="item-back"></div>
                                <nuxt-link :to="{ name: 'shop-item', params: { item: 'shop-item-1' } }" class="item-image responsive-1by1">
                                    <img src="https://dummyimage.com/500x500" alt="" />
                                </nuxt-link>
                            </div>
                            <div class="item-title text-upper">
                                <nuxt-link :to="{ name: 'shop-item', params: { item: 'shop-item-1' } }" class="content-link">External HDD Drive</nuxt-link>
                            </div>
                            <div class="item-prices">
                                <div class="item-price">$102.05</div>
                            </div>
                            <div class="item-links">
                                <nuxt-link :to="{ name: 'shop-item', params: { item: 'shop-item-1' } }" class="btn text-upper btn-sm btns-bordered">view</nuxt-link>
                                <a href="#" class="btn text-upper btn-sm">add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="lg-col-3 md-col-6">
                        <div class="item shop-item shop-item-lined text-center">
                            <div class="item-image-wrap">
                                <div class="item-back"></div>
                                <div class="item-lables">
                                    <a class="item-label-new item-label" href="#">new</a>
                                </div>
                                <nuxt-link :to="{ name: 'shop-item', params: { item: 'shop-item-1' } }" class="item-image responsive-1by1">
                                    <img src="https://dummyimage.com/500x500" alt="" />
                                </nuxt-link>
                            </div>
                            <div class="item-title text-upper">
                                <nuxt-link :to="{ name: 'shop-item', params: { item: 'shop-item-1' } }" class="content-link">Cable Organizer</nuxt-link>
                            </div>
                            <div class="item-prices">
                                <div class="item-price">$15.25</div>
                            </div>
                            <div class="item-links">
                                <nuxt-link :to="{ name: 'shop-item', params: { item: 'shop-item-1' } }" class="btn text-upper btn-sm btns-bordered">view</nuxt-link>
                                <a href="#" class="btn text-upper btn-sm">add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="lg-col-3 md-col-6">
                        <div class="item shop-item shop-item-lined text-center">
                            <div class="item-image-wrap">
                                <div class="item-back"></div>
                                <nuxt-link :to="{ name: 'shop-item', params: { item: 'shop-item-1' } }" class="item-image responsive-1by1">
                                    <img src="https://dummyimage.com/500x500" alt="" />
                                </nuxt-link>
                            </div>
                            <div class="item-title text-upper">
                                <nuxt-link :to="{ name: 'shop-item', params: { item: 'shop-item-1' } }" class="content-link">Laptop Power Adapter</nuxt-link>
                            </div>
                            <div class="item-prices">
                                <div class="item-price">$45.05</div>
                            </div>
                            <div class="item-links">
                                <nuxt-link :to="{ name: 'shop-item', params: { item: 'shop-item-1' } }" class="btn text-upper btn-sm btns-bordered">view</nuxt-link>
                                <a href="#" class="btn text-upper btn-sm">add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center shift-xl">
                </div>
            </div>
        </div>
    </section>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
export default {
  mounted () {
    this.$initLoad()
  }
}
</script>

<style>

</style>
