<template>
  <div>
    <Headers />
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back"></div>
        <div class="container page-info">
            <div class="section-alt-head container-md">
                <h1 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Profile</h1>
                <p data-inview-showup="showup-translate-left">A little something about our company</p>
            </div>
        </div>
        <div class="section-footer">
            <div class="container" data-inview-showup="showup-translate-down">
                <ul class="page-path">
                    <li>
                      <nuxt-link :to="{ name: 'index' }">Home</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>
                      <nuxt-link :to="{ name: 'profile' }">Profile</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>Me</li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
          <ProfileNav />
        </div>
    </section>
    <section class="shift-lg content-section">
        <div class="container">
<!--            <form class="user-profile">-->
                <h4 class="text-upper" data-inview-showup="showup-translate-right">Personal information</h4>
                <div class="row cols-lg rows-md">
                    <div class="sm-col-12" data-inview-showup="showup-translate-right">
                        <div class="field-group">
                            <div class="field-wrap">
                                <input v-model="name" class="field-control" name="firstName" placeholder="Name" required="required" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                    </div>
<!--                    <div class="sm-col-6" data-inview-showup="showup-translate-left">-->
<!--                        <div class="field-group">-->
<!--                            <div class="field-wrap">-->
<!--                                <input class="field-control" name="lastName" placeholder="Last Name" required="required" />-->
<!--                                <span class="field-back"></span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="sm-col-6" data-inview-showup="showup-translate-right">
                        <div class="field-group field-disabled">
                            <div class="field-wrap">
                                <input class="field-control" v-model="email" name="email" type="email" placeholder="Email" required="required" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                    </div>
                    <div class="sm-col-6" data-inview-showup="showup-translate-left">
                        <div class="field-group">
                            <div class="field-wrap">
                                <input class="field-control" v-model="phone" name="phone" placeholder="Phone" required="required" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                    </div>
                    <div class="sm-col-6" data-inview-showup="showup-translate-right">
                        <div class="field-group field-type-image">
                            <label>Upload new avatar - JPEG 70x70</label>
                            <div class="field-wrap">
                                <input class="field-file-control" name="avatar" type="file" />
                                <input class="field-control" name="avatarPlaceholder" placeholder="No file choosen" />
                                <span class="field-addon-btn">
                                    <a class="field-file-btn text-upper btn" href="#">Choose file</a>
                                </span>
                                <span class="field-back"></span>
                                <div class="file-preview">
                                    <div class="file-preview-image">
                                        <img src="https://dummyimage.com/70x70" alt="" />
                                    </div>
                                    <div class="file-no-preview"><i class="fas fa-user"></i></div>
                                    <div class="file-preview-bg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <h4 class="text-upper shift-lg" data-inview-showup="showup-translate-right">Billing address</h4>-->
<!--                <div class="row cols-lg rows-md">-->
<!--                    <div class="sm-col-6" data-inview-showup="showup-translate-right">-->
<!--                        <div class="field-group">-->
<!--                            <div class="field-wrap">-->
<!--                                <input class="field-control" name="company" placeholder="Company" />-->
<!--                                <span class="field-back"></span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="field-group">-->
<!--                            <div class="field-wrap">-->
<!--                                <textarea class="field-control" name="address" placeholder="Address" required="required"></textarea>-->
<!--                                <span class="field-back"></span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="sm-col-6" data-inview-showup="showup-translate-left">-->
<!--                        <div class="field-group">-->
<!--                            <div class="field-wrap">-->
<!--                                <input class="field-control" name="town" placeholder="Town / City" required="required" />-->
<!--                                <span class="field-back"></span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="field-group">-->
<!--                            <div class="field-wrap">-->
<!--                                <input class="field-control" name="zip" placeholder="Postcode / ZIP" required="required" />-->
<!--                                <span class="field-back"></span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="field-group">-->
<!--                            <div class="field-wrap">-->
<!--                                <input class="field-control" name="country" placeholder="Country" required="required" />-->
<!--                                <span class="field-back"></span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <h4 class="text-upper shift-lg" data-inview-showup="showup-translate-right">Account security</h4>
                <div class="row cols-lg rows-md">
                    <div class="sm-col-3" data-inview-showup="showup-translate-right">
                        <div class="field-group">
                            <div class="field-wrap">
                                <input v-model="pass.oldPassword" class="field-control" name="oldpassword" type="password" placeholder="Old Password" required="required" />
                                <span class="field-back"></span>
                            </div>
                          <span v-if="isError === false" class="field-sub-text"><i class="fas fa-times error-text"></i> {{changePassMessage}}</span>
                          <span v-else-if="isError === true" class="field-sub-text"><i class="fas fa-check valid-text"></i> {{changePassMessage}}</span>
                        </div>
                    </div>
                    <div class="sm-col-3" data-inview-showup="showup-translate-right">
                      <div class="field-group">
                        <div class="field-wrap">
                          <input v-model="pass.newPassword" class="field-control" name="newpassword" type="password" placeholder="New Password" required="required" />
                          <span class="field-back"></span>
                        </div>
                      </div>
                    </div>
                    <div class="sm-col-3" data-inview-showup="showup-translate-left">
                        <div class="field-group">
                            <div class="field-wrap">
                                <input v-model="pass.confirmNewPassword" class="field-control" name="confirmPassword" type="password" placeholder="Confirm New `Password" required="required" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                    </div>
                    <div class="sm-col-3" data-inview-showup="showup-translate-right">
                      <div class="field-group">
                        <div class="field-wrap">
                          <div data-inview-showup="showup-translate-right">
                            <button @click="submitChangePassword" class="btn md-col-12 text-upper" type="submit">
                              {{btnChangePassword}}
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="shift-lg offs-lg" data-inview-showup="showup-translate-right">
                    <div class="field-group">
                        <div class="checkbox">
                            <label>
                                <input class="field-control" name="terms" type="checkbox" />
                                <span class="check-icon">
                                    <span class="check-block">
                                        <span class="check-pin"></span>
                                    </span>
                                </span>
                                <span class="label">I've read &amp; accept the
                                    <nuxt-link :to="{ name: 'termscondition' }">terms &amp; conditions</nuxt-link>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div data-inview-showup="showup-translate-right">
                    <button class="btn md-col-2 text-upper" type="submit">
                        Update
                    </button>
                </div>
<!--            </form>-->
        </div>
    </section>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
export default {
  async asyncData(context){
    return {
      name: context.store.state.auth.user.name,
      email: context.store.state.auth.user.email,
      phone: context.store.state.auth.user.phone
    }
  },
  data: () => ({
    btnChangePassword: 'change password',
    changePassMessage: 'change password',
    isError: null,
    pass: {
      oldPassword: '',
      newPassword: '',
      confirmNewPassword: ''
    }
  }),
  middleware: 'router-auth',
  mounted () {
    this.$initLoad()
  },
  methods: {
    submitChangePassword(){
      this.pass.email = this.email
      this.btnChangePassword = 'loading...'
      this.$store.dispatch('auth/changePassword', this.pass)
        .then((res) => {
          this.changePassMessage = res.message
          this.isError = res.success
          if(res.success){
            this.pass = {
              oldPassword: '',
              newPassword: '',
              confirmNewPassword: ''
            }
            this.btnChangePassword = 'change password'
            setTimeout(() => {
              this.isError = null
            }, 5000);
          }else{
            setTimeout(() => {
              this.isError = null
            }, 5000);
          }
          // console.log(res)
        })
    }
  }
}
</script>

<style>

</style>
