<template>
  <div>
    <Headers />
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back"></div>
        <div class="container page-info">
            <div class="section-alt-head container-md">
                <h1 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Orders</h1>
                <p data-inview-showup="showup-translate-left">A little something about our order</p>
            </div>
        </div>
        <div class="section-footer">
            <div class="container" data-inview-showup="showup-translate-down">
                <ul class="page-path">
                    <li>
                      <nuxt-link :to="{ name: 'index' }">Home</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>
                      <nuxt-link :to="{ name: 'profile' }">Profile</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>Orders</li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
          <ProfileNav />
        </div>
    </section>
    <section class="offs-xxl">
        <div class="container">
            <div class="user-orders">
                <div v-for="(orders, index) in listOrders" v-if="orders.status !== 'canceled'" :key="index" class="user-order" data-inview-showup="showup-translate-up" ref="orders">
                    <div class="item-header text-upper" @click="showDetailOrder(orders.order_detail_id, orders)">
                        <div class="user-order-show-more">
                            <div class="user-order-show-more-icon"><i class="fas fa-angle-double-down"></i></div>
                        </div>
                        <div class="user-order-number">#{{orders.no_order}}</div>
                        <div class="user-order-title">{{orders.device_brand}} - {{orders.device_type}}
                        </div>
                        <div class="user-order-date">{{dateDotsFormat(orders.order_at)}}</div>
                        <div class="user-order-price">
<!--                            <span class="currency"></span>{{currencyFormat2(orders.total_price, 'Rp ')}}-->
                                                      {{orders.service_type === 'on_site' ? 'ON SITE' : 'ON SC'}}
                        </div>
                        <div :class="statusOrder(orders.status)" class="user-order-status">{{orders.status}}</div>
                    </div>
                    <div class="item-content">
                        <div class="user-order-items">
                            <div v-if="listServiceUser.length > 0">
                              <div class="user-order-items-head text-upper">
                                <div class="user-order-items-head-title">Biaya Service</div>
                                <div class="user-order-items-head-price"></div>
                                <div class="user-order-items-head-quantity"></div>
                                <div class="user-order-items-head-total">Price</div>
                              </div>
                              <div v-for="(listServUser, index) in listServiceUser" :key="index" class="user-order-item">
                                <!--                                <div class="user-order-item-image">-->
                                <!--                                    <div class="responsive-1by1">-->
                                <!--                                        <img src="https://dummyimage.com/500x500" alt="" />-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                                <div class="user-order-item-title text-upper">{{index+1}}. {{listServUser.name}}</div>
                                <!--                                <div class="user-order-item-price">-->
                                <!--                                    <span class="currency">$</span>45.05-->
                                <!--                                </div>-->
                                <!--                                <div class="user-order-item-quantity">1</div>-->
                                <div class="user-order-item-total">
                                  <span class="currency"></span>{{currencyFormat2(listServUser.price, 'Rp')}}
                                </div>
                              </div>
                            </div>
                          <div v-else class="user-order-item">
                            <!--                                <div class="user-order-item-image">-->
                            <!--                                    <div class="responsive-1by1">-->
                            <!--                                        <img src="https://dummyimage.com/500x500" alt="" />-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <div class="user-order-item-title text-upper text-center">menunggu di periksa teknisi terlebih dahulu...</div>
                            <!--                                <div class="user-order-item-price">-->
                            <!--                                    <span class="currency">$</span>45.05-->
                            <!--                                </div>-->
                            <!--                                <div class="user-order-item-quantity">1</div>-->
<!--                            <div class="user-order-item-total">-->
<!--                              <span class="currency"></span>-->
<!--                            </div>-->
                          </div>
                        </div>
                        <div class="user-order-summary">
                            <div class="row">
                                <div class="sm-col-9">
                                    <h5 class="offs-sm text-upper">Order information</h5>
                                    <div class="cols-md">
                                        <div class="rows-sm table">
                                            <div class="sm-col-5">
                                                <div class="user-order-info-line">
                                                    <div class="user-order-info-title text-upper">Receiver:&nbsp;</div>
                                                    <div class="user-order-info-value">{{capitalFormat($store.state.auth.user.name)}}</div>
                                                </div>
                                                <div class="user-order-info-line">
                                                    <div class="user-order-info-title text-upper">Email:&nbsp;</div>
                                                    <div class="user-order-info-value">{{$store.state.auth.user.email}}</div>
                                                </div>
                                                <div class="user-order-info-line">
                                                  <div class="user-order-info-title text-upper">Phone:&nbsp;</div>
                                                  <div class="user-order-info-value">{{$store.state.auth.user.phone}}</div>
                                                </div>
                                                <div class="row">
                                                  <div v-if="orders.status === 'progress'" class="sm-col-4">
                                                    <div class="user-order-info-line text-upper">
                                                      <!--                                                      <a href="javascript:void(0)" @click="tester" class="btn text-upper">Chat</a>-->
                                                      <a href="javascript:;" @click="cancelOrder(orders)" class="btn text-upper">Cancel</a>
                                                    </div>
                                                  </div>
                                                  <div v-if="orders.payment_status !== 'paid' && orders.status !== 'pending'" class="sm-col-4">
                                                    <div class="user-order-info-line text-upper">
<!--                                                      <a href="javascript:void(0)" @click="tester" class="btn text-upper">Chat</a>-->
                                                      <a href="javascript:void(0)" @click="startConversation(orders)" data-show-block="chat" class="btn text-upper">Chat</a>
                                                    </div>
                                                  </div>
                                                  <div v-if="orders.payment_status === 'pending' && orders.status === 'complete'" class="sm-col-4">
                                                    <div class="user-order-info-line text-upper">
                                                      <a @click="checkout(orders)" href="javascript:void(0)" class="btn text-upper">Pay Now</a>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                            <div class="sm-col-7">
                                                <div class="user-order-info-line">
                                                    <div class="user-order-info-title text-upper">Issues Name:&nbsp;</div>
                                                    <div class="user-order-info-value">{{orders.mst_damage_name}}</div>
                                                </div>
                                                <div class="user-order-info-line">
                                                    <div class="user-order-info-title text-upper">Payment Status:&nbsp;</div>
                                                    <div class="user-order-info-value text-upper completed">{{orders.payment_status}}</div>
                                                </div>
                                                <div class="user-order-info-line">
                                                    <div class="user-order-info-title text-upper">Service Center:&nbsp;</div>
                                                    <div class="user-order-info-value">{{orders.service_center}} - {{orders.service_center_address}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sm-col-3">
                                    <div class="user-order-totals">
<!--                                        <div class="user-order-cost-line">-->
<!--                                            <div class="user-order-cost-title text-upper">Sub total</div>-->
<!--                                            <div class="user-order-cost-value">-->
<!--                                                <span class="currency">$</span>45.05-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="user-order-cost-line">-->
<!--                                            <div class="user-order-cost-title text-upper">Delivery</div>-->
<!--                                            <div class="user-order-cost-value">-->
<!--                                                <span class="currency">$</span>10.35-->
<!--                                            </div>-->
<!--                                        </div>-->
                                        <div class="user-order-cost-line user-order-total">
                                            <div class="user-order-cost-title text-upper">total</div>
                                            <div class="user-order-cost-value">
                                                <span class="currency"></span>{{currencyFormat2(totalOrder, 'Rp')}}
                                            </div>
                                        </div>
                                        <div class="user-order-cost-line text-right">
<!--                                          <a href="javascript:void(0)" class="btn text-upper">Chat</a>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div class="user-order" data-inview-showup="showup-translate-up active">-->
<!--                    <div class="item-header text-upper">-->
<!--                        <div class="user-order-show-more">-->
<!--                            <div class="user-order-show-more-icon"><i class="fas fa-angle-double-down"></i></div>-->
<!--                        </div>-->
<!--                        <div class="user-order-number">#93254776ab</div>-->
<!--                        <div class="user-order-title">Gamers Mouse-->
<!--                        </div>-->
<!--                        <div class="user-order-date">17.05.2018</div>-->
<!--                        <div class="user-order-price">-->
<!--                            <span class="currency">$</span>55.4-->
<!--                        </div>-->
<!--                        <div class="failed user-order-status">failed</div>-->
<!--                    </div>-->
<!--                    <div class="item-content">-->
<!--                        <div class="user-order-items">-->
<!--                            <div class="user-order-items-head text-upper">-->
<!--                                <div class="user-order-items-head-title">Item</div>-->
<!--                                <div class="user-order-items-head-price">Price</div>-->
<!--                                <div class="user-order-items-head-quantity">Quantity</div>-->
<!--                                <div class="user-order-items-head-total">Total</div>-->
<!--                            </div>-->
<!--                            <div class="user-order-item">-->
<!--                                <div class="user-order-item-image">-->
<!--                                    <div class="responsive-1by1">-->
<!--                                        <img src="https://dummyimage.com/500x500" alt="" />-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="user-order-item-title text-upper">Gamers Mouse</div>-->
<!--                                <div class="user-order-item-price">-->
<!--                                    <span class="currency">$</span>45.05-->
<!--                                </div>-->
<!--                                <div class="user-order-item-quantity">1</div>-->
<!--                                <div class="user-order-item-total">-->
<!--                                    <span class="currency">$</span>45.05-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="user-order-summary">-->
<!--                            <div class="row">-->
<!--                                <div class="sm-col-8">-->
<!--                                    <h5 class="offs-sm text-upper">Order information</h5>-->
<!--                                    <div class="cols-md">-->
<!--                                        <div class="rows-sm table">-->
<!--                                            <div class="sm-col-6">-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Receiver:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">Andy Smith</div>-->
<!--                                                </div>-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Address:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">Lonestreet 20, Sydney, Australia</div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="sm-col-6">-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Tracking number:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">LZ251526618CN</div>-->
<!--                                                </div>-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Logistics company:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">ePacket</div>-->
<!--                                                </div>-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Shipment date:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">20.05.2018</div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="sm-col-4">-->
<!--                                    <div class="user-order-totals">-->
<!--                                        <div class="user-order-cost-line">-->
<!--                                            <div class="user-order-cost-title text-upper">Sub total</div>-->
<!--                                            <div class="user-order-cost-value">-->
<!--                                                <span class="currency">$</span>45.05-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="user-order-cost-line">-->
<!--                                            <div class="user-order-cost-title text-upper">Delivery</div>-->
<!--                                            <div class="user-order-cost-value">-->
<!--                                                <span class="currency">$</span>10.35-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="user-order-cost-line user-order-total">-->
<!--                                            <div class="user-order-cost-title text-upper">total</div>-->
<!--                                            <div class="user-order-cost-value">-->
<!--                                                <span class="currency">$</span>55.4-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="user-order" data-inview-showup="showup-translate-up">-->
<!--                    <div class="item-header text-upper">-->
<!--                        <div class="user-order-show-more">-->
<!--                            <div class="user-order-show-more-icon"><i class="fas fa-angle-double-down"></i></div>-->
<!--                        </div>-->
<!--                        <div class="user-order-number">#972523776a</div>-->
<!--                        <div class="user-order-title">Gamers Mouse, USB 3.0 HUB-->
<!--                        </div>-->
<!--                        <div class="user-order-date">17.05.2018</div>-->
<!--                        <div class="user-order-price">-->
<!--                            <span class="currency">$</span>122.45-->
<!--                        </div>-->
<!--                        <div class="processing user-order-status">processing</div>-->
<!--                    </div>-->
<!--                    <div class="item-content">-->
<!--                        <div class="user-order-items">-->
<!--                            <div class="user-order-items-head text-upper">-->
<!--                                <div class="user-order-items-head-title">Item</div>-->
<!--                                <div class="user-order-items-head-price">Price</div>-->
<!--                                <div class="user-order-items-head-quantity">Quantity</div>-->
<!--                                <div class="user-order-items-head-total">Total</div>-->
<!--                            </div>-->
<!--                            <div class="user-order-item">-->
<!--                                <div class="user-order-item-image">-->
<!--                                    <div class="responsive-1by1">-->
<!--                                        <img src="https://dummyimage.com/500x500" alt="" />-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="user-order-item-title text-upper">Gamers Mouse</div>-->
<!--                                <div class="user-order-item-price">-->
<!--                                    <span class="currency">$</span>45.05-->
<!--                                </div>-->
<!--                                <div class="user-order-item-quantity">1</div>-->
<!--                                <div class="user-order-item-total">-->
<!--                                    <span class="currency">$</span>45.05-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="user-order-item">-->
<!--                                <div class="user-order-item-image">-->
<!--                                    <div class="responsive-1by1">-->
<!--                                        <img src="https://dummyimage.com/500x500" alt="" />-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="user-order-item-title text-upper">USB 3.0 HUB</div>-->
<!--                                <div class="user-order-item-price">-->
<!--                                    <span class="currency">$</span>67.05-->
<!--                                </div>-->
<!--                                <div class="user-order-item-quantity">1</div>-->
<!--                                <div class="user-order-item-total">-->
<!--                                    <span class="currency">$</span>67.05-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="user-order-summary">-->
<!--                            <div class="row">-->
<!--                                <div class="sm-col-8">-->
<!--                                    <h5 class="offs-sm text-upper">Order information</h5>-->
<!--                                    <div class="cols-md">-->
<!--                                        <div class="rows-sm table">-->
<!--                                            <div class="sm-col-6">-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Receiver:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">Andy Smith</div>-->
<!--                                                </div>-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Address:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">Lonestreet 20, Sydney, Australia</div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="sm-col-6">-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Tracking number:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">LZ251526618CN</div>-->
<!--                                                </div>-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Logistics company:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">ePacket</div>-->
<!--                                                </div>-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Shipment date:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">20.05.2018</div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="sm-col-4">-->
<!--                                    <div class="user-order-totals">-->
<!--                                        <div class="user-order-cost-line">-->
<!--                                            <div class="user-order-cost-title text-upper">Sub total</div>-->
<!--                                            <div class="user-order-cost-value">-->
<!--                                                <span class="currency">$</span>112.1-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="user-order-cost-line">-->
<!--                                            <div class="user-order-cost-title text-upper">Delivery</div>-->
<!--                                            <div class="user-order-cost-value">-->
<!--                                                <span class="currency">$</span>10.35-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="user-order-cost-line user-order-total">-->
<!--                                            <div class="user-order-cost-title text-upper">total</div>-->
<!--                                            <div class="user-order-cost-value">-->
<!--                                                <span class="currency">$</span>122.45-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="user-order" data-inview-showup="showup-translate-up">-->
<!--                    <div class="item-header text-upper">-->
<!--                        <div class="user-order-show-more">-->
<!--                            <div class="user-order-show-more-icon"><i class="fas fa-angle-double-down"></i></div>-->
<!--                        </div>-->
<!--                        <div class="user-order-number">#972523776a</div>-->
<!--                        <div class="user-order-title">Laptop Power Adapter, Wi-Fi Router repieter, 128GB SSD M.2-->
<!--                        </div>-->
<!--                        <div class="user-order-date">11.04.2018</div>-->
<!--                        <div class="user-order-price">-->
<!--                            <span class="currency">$</span>312.8-->
<!--                        </div>-->
<!--                        <div class="completed user-order-status">completed</div>-->
<!--                    </div>-->
<!--                    <div class="item-content">-->
<!--                        <div class="user-order-items">-->
<!--                            <div class="user-order-items-head text-upper">-->
<!--                                <div class="user-order-items-head-title">Item</div>-->
<!--                                <div class="user-order-items-head-price">Price</div>-->
<!--                                <div class="user-order-items-head-quantity">Quantity</div>-->
<!--                                <div class="user-order-items-head-total">Total</div>-->
<!--                            </div>-->
<!--                            <div class="user-order-item">-->
<!--                                <div class="user-order-item-image">-->
<!--                                    <div class="responsive-1by1">-->
<!--                                        <img src="https://dummyimage.com/500x500" alt="" />-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="user-order-item-title text-upper">Laptop Power Adapter</div>-->
<!--                                <div class="user-order-item-price">-->
<!--                                    <span class="currency">$</span>45.05-->
<!--                                </div>-->
<!--                                <div class="user-order-item-quantity">2</div>-->
<!--                                <div class="user-order-item-total">-->
<!--                                    <span class="currency">$</span>90.1-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="user-order-item">-->
<!--                                <div class="user-order-item-image">-->
<!--                                    <div class="responsive-1by1">-->
<!--                                        <img src="https://dummyimage.com/500x500" alt="" />-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="user-order-item-title text-upper">Wi-Fi Router repieter</div>-->
<!--                                <div class="user-order-item-price">-->
<!--                                    <span class="currency">$</span>32.15-->
<!--                                </div>-->
<!--                                <div class="user-order-item-quantity">1</div>-->
<!--                                <div class="user-order-item-total">-->
<!--                                    <span class="currency">$</span>32.15-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="user-order-item">-->
<!--                                <div class="user-order-item-image">-->
<!--                                    <div class="responsive-1by1">-->
<!--                                        <img src="https://dummyimage.com/500x500" alt="" />-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="user-order-item-title text-upper">128GB SSD M.2</div>-->
<!--                                <div class="user-order-item-price">-->
<!--                                    <span class="currency">$</span>45.05-->
<!--                                </div>-->
<!--                                <div class="user-order-item-quantity">4</div>-->
<!--                                <div class="user-order-item-total">-->
<!--                                    <span class="currency">$</span>180.2-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="user-order-summary">-->
<!--                            <div class="row">-->
<!--                                <div class="sm-col-8">-->
<!--                                    <h5 class="offs-sm text-upper">Order information</h5>-->
<!--                                    <div class="cols-md">-->
<!--                                        <div class="rows-sm table">-->
<!--                                            <div class="sm-col-6">-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Receiver:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">Andy Smith</div>-->
<!--                                                </div>-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Address:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">Lonestreet 20, Sydney, Australia</div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="sm-col-6">-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Tracking number:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">LZ251526618CN</div>-->
<!--                                                </div>-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Logistics company:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">ePacket</div>-->
<!--                                                </div>-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Shipment date:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">13.04.2018</div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="sm-col-4">-->
<!--                                    <div class="user-order-totals">-->
<!--                                        <div class="user-order-cost-line">-->
<!--                                            <div class="user-order-cost-title text-upper">Sub total</div>-->
<!--                                            <div class="user-order-cost-value">-->
<!--                                                <span class="currency">$</span>302.45-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="user-order-cost-line">-->
<!--                                            <div class="user-order-cost-title text-upper">Delivery</div>-->
<!--                                            <div class="user-order-cost-value">-->
<!--                                                <span class="currency">$</span>10.35-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="user-order-cost-line user-order-total">-->
<!--                                            <div class="user-order-cost-title text-upper">total</div>-->
<!--                                            <div class="user-order-cost-value">-->
<!--                                                <span class="currency">$</span>312.8-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="user-order" data-inview-showup="showup-translate-up">-->
<!--                    <div class="item-header text-upper">-->
<!--                        <div class="user-order-show-more">-->
<!--                            <div class="user-order-show-more-icon"><i class="fas fa-angle-double-down"></i></div>-->
<!--                        </div>-->
<!--                        <div class="user-order-number">#972523776a</div>-->
<!--                        <div class="user-order-title">Gamers Mouse, USB 3.0 HUB-->
<!--                        </div>-->
<!--                        <div class="user-order-date">01.01.2018</div>-->
<!--                        <div class="user-order-price">-->
<!--                            <span class="currency">$</span>122.45-->
<!--                        </div>-->
<!--                        <div class="on-hold user-order-status">on-hold</div>-->
<!--                    </div>-->
<!--                    <div class="item-content">-->
<!--                        <div class="user-order-items">-->
<!--                            <div class="user-order-items-head text-upper">-->
<!--                                <div class="user-order-items-head-title">Item</div>-->
<!--                                <div class="user-order-items-head-price">Price</div>-->
<!--                                <div class="user-order-items-head-quantity">Quantity</div>-->
<!--                                <div class="user-order-items-head-total">Total</div>-->
<!--                            </div>-->
<!--                            <div class="user-order-item">-->
<!--                                <div class="user-order-item-image">-->
<!--                                    <div class="responsive-1by1">-->
<!--                                        <img src="https://dummyimage.com/500x500" alt="" />-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="user-order-item-title text-upper">Gamers Mouse</div>-->
<!--                                <div class="user-order-item-price">-->
<!--                                    <span class="currency">$</span>45.05-->
<!--                                </div>-->
<!--                                <div class="user-order-item-quantity">1</div>-->
<!--                                <div class="user-order-item-total">-->
<!--                                    <span class="currency">$</span>45.05-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="user-order-item">-->
<!--                                <div class="user-order-item-image">-->
<!--                                    <div class="responsive-1by1">-->
<!--                                        <img src="https://dummyimage.com/500x500" alt="" />-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="user-order-item-title text-upper">USB 3.0 HUB</div>-->
<!--                                <div class="user-order-item-price">-->
<!--                                    <span class="currency">$</span>67.05-->
<!--                                </div>-->
<!--                                <div class="user-order-item-quantity">1</div>-->
<!--                                <div class="user-order-item-total">-->
<!--                                    <span class="currency">$</span>67.05-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="user-order-summary">-->
<!--                            <div class="row">-->
<!--                                <div class="sm-col-8">-->
<!--                                    <h5 class="offs-sm text-upper">Order information</h5>-->
<!--                                    <div class="cols-md">-->
<!--                                        <div class="rows-sm table">-->
<!--                                            <div class="sm-col-6">-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Receiver:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">Andy Smith</div>-->
<!--                                                </div>-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Address:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">Lonestreet 20, Sydney, Australia</div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="sm-col-6">-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Tracking number:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">LZ251526618CN</div>-->
<!--                                                </div>-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Logistics company:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">ePacket</div>-->
<!--                                                </div>-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Shipment date:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">05.01.2018</div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="sm-col-4">-->
<!--                                    <div class="user-order-totals">-->
<!--                                        <div class="user-order-cost-line">-->
<!--                                            <div class="user-order-cost-title text-upper">Sub total</div>-->
<!--                                            <div class="user-order-cost-value">-->
<!--                                                <span class="currency">$</span>112.1-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="user-order-cost-line">-->
<!--                                            <div class="user-order-cost-title text-upper">Delivery</div>-->
<!--                                            <div class="user-order-cost-value">-->
<!--                                                <span class="currency">$</span>10.35-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="user-order-cost-line user-order-total">-->
<!--                                            <div class="user-order-cost-title text-upper">total</div>-->
<!--                                            <div class="user-order-cost-value">-->
<!--                                                <span class="currency">$</span>122.45-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="user-order" data-inview-showup="showup-translate-up">-->
<!--                    <div class="item-header text-upper">-->
<!--                        <div class="user-order-show-more">-->
<!--                            <div class="user-order-show-more-icon"><i class="fas fa-angle-double-down"></i></div>-->
<!--                        </div>-->
<!--                        <div class="user-order-number">#972523776a</div>-->
<!--                        <div class="user-order-title">Cable Organizer-->
<!--                        </div>-->
<!--                        <div class="user-order-date">08.07.2017</div>-->
<!--                        <div class="user-order-price">-->
<!--                            <span class="currency">$</span>162.85-->
<!--                        </div>-->
<!--                        <div class="cancelled user-order-status">cancelled</div>-->
<!--                    </div>-->
<!--                    <div class="item-content">-->
<!--                        <div class="user-order-items">-->
<!--                            <div class="user-order-items-head text-upper">-->
<!--                                <div class="user-order-items-head-title">Item</div>-->
<!--                                <div class="user-order-items-head-price">Price</div>-->
<!--                                <div class="user-order-items-head-quantity">Quantity</div>-->
<!--                                <div class="user-order-items-head-total">Total</div>-->
<!--                            </div>-->
<!--                            <div class="user-order-item">-->
<!--                                <div class="user-order-item-image">-->
<!--                                    <div class="responsive-1by1">-->
<!--                                        <img src="https://dummyimage.com/500x500" alt="" />-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="user-order-item-title text-upper">Cable Organizer</div>-->
<!--                                <div class="user-order-item-price">-->
<!--                                    <span class="currency">$</span>15.25-->
<!--                                </div>-->
<!--                                <div class="user-order-item-quantity">10</div>-->
<!--                                <div class="user-order-item-total">-->
<!--                                    <span class="currency">$</span>152.5-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="user-order-summary">-->
<!--                            <div class="row">-->
<!--                                <div class="sm-col-8">-->
<!--                                    <h5 class="offs-sm text-upper">Order information</h5>-->
<!--                                    <div class="cols-md">-->
<!--                                        <div class="rows-sm table">-->
<!--                                            <div class="sm-col-6">-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Receiver:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">Andy Smith</div>-->
<!--                                                </div>-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Address:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">Lonestreet 20, Sydney, Australia</div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="sm-col-6">-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Tracking number:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">LZ251526618CN</div>-->
<!--                                                </div>-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Logistics company:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">ePacket</div>-->
<!--                                                </div>-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Shipment date:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">12.07.2017</div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="sm-col-4">-->
<!--                                    <div class="user-order-totals">-->
<!--                                        <div class="user-order-cost-line">-->
<!--                                            <div class="user-order-cost-title text-upper">Sub total</div>-->
<!--                                            <div class="user-order-cost-value">-->
<!--                                                <span class="currency">$</span>152.5-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="user-order-cost-line">-->
<!--                                            <div class="user-order-cost-title text-upper">Delivery</div>-->
<!--                                            <div class="user-order-cost-value">-->
<!--                                                <span class="currency">$</span>10.35-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="user-order-cost-line user-order-total">-->
<!--                                            <div class="user-order-cost-title text-upper">total</div>-->
<!--                                            <div class="user-order-cost-value">-->
<!--                                                <span class="currency">$</span>162.85-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="user-order" data-inview-showup="showup-translate-up">-->
<!--                    <div class="item-header text-upper">-->
<!--                        <div class="user-order-show-more">-->
<!--                            <div class="user-order-show-more-icon"><i class="fas fa-angle-double-down"></i></div>-->
<!--                        </div>-->
<!--                        <div class="user-order-number">#972523776a</div>-->
<!--                        <div class="user-order-title">External HDD Drive-->
<!--                        </div>-->
<!--                        <div class="user-order-date">16.11.2016</div>-->
<!--                        <div class="user-order-price">-->
<!--                            <span class="currency">$</span>112.4-->
<!--                        </div>-->
<!--                        <div class="refunded user-order-status">refunded</div>-->
<!--                    </div>-->
<!--                    <div class="item-content">-->
<!--                        <div class="user-order-items">-->
<!--                            <div class="user-order-items-head text-upper">-->
<!--                                <div class="user-order-items-head-title">Item</div>-->
<!--                                <div class="user-order-items-head-price">Price</div>-->
<!--                                <div class="user-order-items-head-quantity">Quantity</div>-->
<!--                                <div class="user-order-items-head-total">Total</div>-->
<!--                            </div>-->
<!--                            <div class="user-order-item">-->
<!--                                <div class="user-order-item-image">-->
<!--                                    <div class="responsive-1by1">-->
<!--                                        <img src="https://dummyimage.com/500x500" alt="" />-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="user-order-item-title text-upper">External HDD Drive</div>-->
<!--                                <div class="user-order-item-price">-->
<!--                                    <span class="currency">$</span>102.05-->
<!--                                </div>-->
<!--                                <div class="user-order-item-quantity">1</div>-->
<!--                                <div class="user-order-item-total">-->
<!--                                    <span class="currency">$</span>102.05-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="user-order-summary">-->
<!--                            <div class="row">-->
<!--                                <div class="sm-col-8">-->
<!--                                    <h5 class="offs-sm text-upper">Order information</h5>-->
<!--                                    <div class="cols-md">-->
<!--                                        <div class="rows-sm table">-->
<!--                                            <div class="sm-col-6">-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Receiver:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">Andy Smith</div>-->
<!--                                                </div>-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Address:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">Lonestreet 20, Sydney, Australia</div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="sm-col-6">-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Tracking number:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">LZ251526618CN</div>-->
<!--                                                </div>-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Logistics company:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">ePacket</div>-->
<!--                                                </div>-->
<!--                                                <div class="user-order-info-line">-->
<!--                                                    <div class="user-order-info-title text-upper">Shipment date:&nbsp;</div>-->
<!--                                                    <div class="user-order-info-value">18.11.2016</div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="sm-col-4">-->
<!--                                    <div class="user-order-totals">-->
<!--                                        <div class="user-order-cost-line">-->
<!--                                            <div class="user-order-cost-title text-upper">Sub total</div>-->
<!--                                            <div class="user-order-cost-value">-->
<!--                                                <span class="currency">$</span>102.05-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="user-order-cost-line">-->
<!--                                            <div class="user-order-cost-title text-upper">Delivery</div>-->
<!--                                            <div class="user-order-cost-value">-->
<!--                                                <span class="currency">$</span>10.35-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="user-order-cost-line user-order-total">-->
<!--                                            <div class="user-order-cost-title text-upper">total</div>-->
<!--                                            <div class="user-order-cost-value">-->
<!--                                                <span class="currency">$</span>112.4-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
<!--            <div class="text-center shift-lg" data-inview-showup="showup-translate-up">-->
<!--&lt;!&ndash;                <div class="paginator">&ndash;&gt;-->
<!--              <paginate-->
<!--                :page-count="20"-->
<!--                :page-range="3"-->
<!--                :margin-pages="2"-->
<!--                :click-handler="clickCallback"-->
<!--                :prev-text="prevText"-->
<!--                :next-text="nextText"-->
<!--                :container-class="'paginator'"-->
<!--              >-->
<!--              </paginate>-->
<!--&lt;!&ndash;                    <a href="#" class="previous"><i class="fas fa-angle-left" aria-hidden="true"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="active">2</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="#">3</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span>...</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="#">12</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="#" class="next"><i class="fas fa-angle-right" aria-hidden="true"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--            </div>-->
        </div>
    </section>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
    <modal name="hello-world">
      hello, world!
    </modal>
    <v-dialog/>
  </div>
</template>

<script>
/* eslint-disable */
export default {
  head () {
    return {
      title: 'My Order',
      // titleTemplate: 'Edutore by Gramedia | '+this.metaTitle,
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        { hid: 'description', name: 'description', content: 'ini adalah sesion deskripsi dari my order di our profile, lets check this out | with hid' },
        { property: 'og:title', content: 'My Order | by Raja Repair' },
        { property: 'og:description', content: 'ini adalah sesion deskripsi dari my order di our profile, lets check this out | with hid | with og desc' },
        { property: 'og:url', content: 'https://rajarepair.id' },
        { property: 'og:site_name', content: 'Raja Repair' },
        { property: 'og:image', content: 'https://cdn.rimember.id/iklan/logo-web.png' },
      ],
    }
  },
  middleware: 'router-auth',
  async asyncData(context){
    if (context.store.state.order.listOrder === null){
      // const listOrder = await context.store.dispatch('order/setListOrderUser')
      const listOrder = await context.$axios.get('users/get/order/page=1/limit=10/sort=desc', {headers: context.store.state.auth.headers})
      return {
        listOrders: listOrder.data.data,
      }
    }else{
      return {
        listOrders: context.store.state.order.listOrder,
      }
    }
    // const listOrder = await context.$axios.get('users/get/order/page=1/limit=10/sort=desc', {headers: context.store.state.auth.headers})
  },
  // async fetch({ store, params }){
  //   // console.log(store.state.order.listOrder)
  // },
  data: () => ({
    listServiceUser: [],
    totalOrder: 0,
  }),
  mounted () {
    this.$initLoad()
    // console.log(this.$moment.unix(1580332341).format())
    // console.log(this.$moment().format('X'))
  },
  computed: {
    nextText(){
      return '<i class="fas fa-angle-right"/>'
    },
    prevText(){
      return '<i class="fas fa-angle-left"/>'
    },
  },
  methods: {
    // show () {
    //
    // },
    cancelOrder(order){
      // console.log(order)
      // this.$modal.show('hello-world');
      this.$modal.show('dialog', {
        title: 'Info!',
        text: `Apa kamu yakin ingin membatalkan pesanan <b>${order.device_brand} ${order.device_type}</b> ?`,
        buttons: [
          {
            title: 'OK',
            handler: async () => {
              let data = {
                no_order: order.no_order,
                order_detail_id: order.order_detail_id,
                status: 'canceled'
              }
              await this.$store.dispatch('order/cancelOrder', data)
                .then((res) => {
                  console.log(res)
                  this.$refs.orders.forEach((element, index) => {
                    if (element.className.includes('active')) {
                      this.$refs.orders[index].className = this.$refs.orders[index].className.replace('active', '')
                      // console.log('we got active class on array '+ index)
                    }
                  })
                })
              this.listOrders = this.listOrders.filter(e => e.id !== order.id)
              this.$modal.hide('dialog')
              // alert('Woot!')
            }
          },
          {
            title: 'Cancel',       // Button title
            default: true,    // Will be triggered by default if 'Enter' pressed.
            handler: () => {
              this.$modal.hide('dialog')
            } // Button click handler
          },
          // {
          //   title: 'Close'
          // }
        ]
      })
      // console.log(order)
      // if (this.$refs.orders[0].className === 'user-order showup-translate-up active'){
      //   this.$refs.orders[0].className = 'user-order showup-translate-up'
      // }
      // let filteredAry = this.listOrders.filter(e => e.id !== order.id)
    },
    startConversation(no_order){
      this.$store.commit('chat/startConversation', no_order)
      this.$store.commit('chat/openChat', true)
    },
    async showDetailOrder(order_detail_id, detOrder){
      this.totalOrder = 0
      this.listServiceUser = []
      const listServiceUser = await this.$axios.get(`masterdata/problems/type=sparepart_id/order_detail_id=${order_detail_id}`, {headers: this.$store.state.auth.headers})
      this.listServiceUser = listServiceUser.data.data
      this.listServiceUser.forEach((element) => {
        // console.log(element.price)
        this.totalOrder += element.price
      })
      if (detOrder.status !== 'pending'){
        this.$store.dispatch('chat/parsingMessage', detOrder)
      }
      // if (this.$store.state.order.listDetailOrder.length === 0 || this.$store.state.order.listDetailOrder.some((x) => x.id === order_detail_id) === false){
      //   const listServiceUser = await this.$axios.get(`masterdata/problems/type=sparepart_id/order_detail_id=${order_detail_id}`, {headers: this.$store.state.auth.headers})
      //   this.listServiceUser = listServiceUser.data.data
      //   let data = {
      //     id: order_detail_id,
      //     serviceData: listServiceUser.data.data
      //   }
      //   this.$store.commit('order/setListDetailOrderUser', data)
      //   // console.log(this.$store.state.order.listDetailOrder)
      // }else{
      //   this.listServiceUser = this.$store.state.order.listDetailOrder.filter((x) => x.id === order_detail_id)[0].serviceData
      // }
      // this.listServiceUser.forEach((element) => {
      //   this.totalOrder += element.price
      // })
    },
    async checkout(item){
      let data = {
        "id_order": item.id,
        "no_order": item.no_order,
        "total": this.totalOrder
      }
      // console.log(data)
      this.$store.dispatch('order/checkout', data)
        .then((res) => {
          console.log(res)
          // window.open(res.data[0].redirect_url);
          window.location.href = res.data[0].redirect_url
        })
    }
  }
}
</script>

<style scoped>
/*.paginator{*/
/*  display: block;*/
/*}*/
</style>
