<template>
  <div>
    <Headers />
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back"></div>
        <div class="container page-info">
            <div class="section-alt-head container-md">
                <h1 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">New Ticket</h1>
                <p data-inview-showup="showup-translate-left">A little something about our company</p>
            </div>
        </div>
        <div class="section-footer">
            <div class="container" data-inview-showup="showup-translate-down">
                <ul class="page-path">
                    <li>
                      <nuxt-link :to="{ name: 'index' }">Home</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>
                      <nuxt-link :to="{ name: 'profile' }">Profile</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>New Ticket</li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
          <ProfileNav />
        </div>
    </section>
    <section class="shift-xl content-section">
        <div class="container">
            <div class="section-head text-center container-md">
                <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">New Ticket</h2>
                <p data-inview-showup="showup-translate-left">Fill out the application now and save time when taking the equipment to service</p>
            </div>
            <div class="medium-container">
                <form class="new-ticket">
                    <div class="offs-lg" data-inview-showup="showup-translate-bottom">
                        <div class="field-group">
                            <div class="field-wrap">
                                <input class="field-control" name="deviceName" placeholder="Device name" required="required" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                        <div class="field-group chosen-field">
                            <div class="field-wrap">
                                <select class="field-control" name="brand" placeholder="Brand" required="required">
                                    <option name="brand">Intek</option>
                                    <option name="brand" value="1">Samsug</option>
                                    <option name="brand" value="2">Nmovie</option>
                                    <option name="brand" value="3">Appless</option>
                                    <option name="brand" value="4">Insert</option>
                                </select>
                                <span class="select-arrow"><i class="fas fa-chevron-down"></i></span>
                                <span class="field-back"></span>
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="field-wrap">
                                <input class="field-control" name="model" placeholder="Model" required="required" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="field-wrap">
                                <input class="field-control" name="serialNumber" placeholder="Serial number" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="field-wrap">
                                <textarea class="field-control" name="description" placeholder="Description of Malfunction" required="required"></textarea>
                                <span class="field-back"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row cols-lg">
                        <div class="col-6 sm-col-3 sm-col-offs-3" data-inview-showup="showup-translate-right">
                            <button class="btn col-12 text-upper" type="submit">
                                Submit
                            </button>
                        </div>
                        <div class="col-6 sm-col-3" data-inview-showup="showup-translate-left">
                            <button class="btn col-12 btns-bordered text-upper" type="reset">
                                Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
export default {
  mounted () {
    this.$initLoad()
  }
}
</script>

<style>

</style>
