<template>
  <div>
    <Headers />
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back"></div>
        <div class="container page-info">
            <div class="section-alt-head container-md">
                <h1 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Tickets</h1>
                <p data-inview-showup="showup-translate-left">A little something about our company</p>
            </div>
        </div>
        <div class="section-footer">
            <div class="container" data-inview-showup="showup-translate-down">
                <ul class="page-path">
                    <li>
                      <nuxt-link :to="{ name: 'index' }">Home</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>
                      <nuxt-link :to="{ name: 'profile' }">Profile</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>Tickets</li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
          <ProfileNav />
        </div>
    </section>
    <section class="offs-xxl">
        <div class="container">
            <div class="user-tickets">
                <div class="user-ticket active" data-inview-showup="showup-translate-up">
                    <div class="item-header text-upper">
                        <div class="user-ticket-show-more">
                            <div class="user-ticket-show-more-icon"><i class="fas fa-angle-double-down"></i></div>
                        </div>
                        <div class="user-ticket-number">#1017</div>
                        <div class="user-ticket-device">laptop Asus N552</div>
                        <div class="user-ticket-title">Repair Motherboard</div>
                        <div class="user-ticket-date">17.05.2018</div>
                        <div class="user-ticket-price">
                            -
                        </div>
                        <div class="pending user-ticket-status">pending</div>
                    </div>
                    <div class="item-content">
                        <div class="user-ticket-info rows-sm cols-md row">
                            <div class="sm-col-4">
                                <div class="user-ticket-info-line">
                                    <div class="user-ticket-info-title text-upper">Brand:&nbsp;</div>
                                    <div class="user-ticket-info-value">Asus</div>
                                </div>
                                <div class="user-ticket-info-line">
                                    <div class="user-ticket-info-title text-upper">Model:&nbsp;</div>
                                    <div class="user-ticket-info-value">N552</div>
                                </div>
                                <div class="user-ticket-info-line">
                                    <div class="user-ticket-info-title text-upper">Serial Number:&nbsp;</div>
                                    <div class="user-ticket-info-value">-</div>
                                </div>
                            </div>
                            <div class="sm-col-8">
                                <div class="user-ticket-info-line text-upper">
                                    <div class="user-ticket-info-title">Claimed Malfunction:&nbsp;</div>
                                    <div class="user-ticket-info-text">
                                        <div class="user-ticket-field-like">When working, the device makes a lot of noise. After an hour of operation it may turn off</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user-ticket-steps-wrap">
                            <h5 class="text-upper">Service Status</h5>
                            <div class="user-ticket-steps">
                                <div class="active user-ticket-step">
                                    <div class="user-ticket-step-number">1.</div>
                                    <div class="user-ticket-step-title">pending</div>
                                    <div class="user-ticket-step-date">17.05.2018</div>
                                </div>
                                <div class="user-ticket-step-separator"><i class="fas fa-angle-double-right"></i></div>
                                <div class="user-ticket-step">
                                    <div class="user-ticket-step-number">2.</div>
                                    <div class="user-ticket-step-title">diagnostic</div>
                                    <div class="user-ticket-step-date"></div>
                                </div>
                                <div class="user-ticket-step-separator"><i class="fas fa-angle-double-right"></i></div>
                                <div class="user-ticket-step">
                                    <div class="user-ticket-step-number">3.</div>
                                    <div class="user-ticket-step-title">repair</div>
                                    <div class="user-ticket-step-date"></div>
                                </div>
                                <div class="user-ticket-step-separator"><i class="fas fa-angle-double-right"></i></div>
                                <div class="user-ticket-step">
                                    <div class="user-ticket-step-number">4.</div>
                                    <div class="user-ticket-step-title">complete</div>
                                    <div class="user-ticket-step-date"></div>
                                </div>
                            </div>
                        </div>
                        <div class="user-ticket-summary row">
                            <div class="sm-col-7 md-col-8">
                                <div class="user-ticket-commentary">
                                    <div class="user-ticket-commentary-title text-upper">Engineer commentary</div>
                                    <div class="user-ticket-commentary-date">17.05.2018</div>
                                    <div class="user-ticket-commentary-text">
                                        <div class="user-ticket-field-like">After the replacement of the ventilator and the purification of the cooling system, the device started to work stably and ceased to rustle.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="sm-col-5 md-col-4">
                                <div class="user-ticket-totals">
                                    <div class="user-ticket-cost-line">
                                        <div class="user-ticket-cost-title text-upper">parts cost</div>
                                        <div class="user-ticket-cost-value">
                                            -
                                        </div>
                                    </div>
                                    <div class="user-ticket-cost-line">
                                        <div class="user-ticket-cost-title text-upper">repair cost</div>
                                        <div class="user-ticket-cost-value">
                                            -
                                        </div>
                                    </div>
                                    <div class="user-ticket-cost-line user-ticket-total">
                                        <div class="user-ticket-cost-title text-upper">total</div>
                                        <div class="user-ticket-cost-value">
                                            -
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-ticket" data-inview-showup="showup-translate-up">
                    <div class="item-header text-upper">
                        <div class="user-ticket-show-more">
                            <div class="user-ticket-show-more-icon"><i class="fas fa-angle-double-down"></i></div>
                        </div>
                        <div class="user-ticket-number">#1016</div>
                        <div class="user-ticket-device">printer Samsung C410</div>
                        <div class="user-ticket-title">Imaging Drum reset</div>
                        <div class="user-ticket-date">01.04.2018</div>
                        <div class="user-ticket-price">
                            <span class="currency">$</span>47.35
                        </div>
                        <div class="diagnostic user-ticket-status">diagnostic</div>
                    </div>
                    <div class="item-content">
                        <div class="user-ticket-info rows-sm cols-md row">
                            <div class="sm-col-4">
                                <div class="user-ticket-info-line">
                                    <div class="user-ticket-info-title text-upper">Brand:&nbsp;</div>
                                    <div class="user-ticket-info-value">Samsung</div>
                                </div>
                                <div class="user-ticket-info-line">
                                    <div class="user-ticket-info-title text-upper">Model:&nbsp;</div>
                                    <div class="user-ticket-info-value">C410</div>
                                </div>
                                <div class="user-ticket-info-line">
                                    <div class="user-ticket-info-title text-upper">Serial Number:&nbsp;</div>
                                    <div class="user-ticket-info-value">-</div>
                                </div>
                            </div>
                            <div class="sm-col-8">
                                <div class="user-ticket-info-line text-upper">
                                    <div class="user-ticket-info-title">Claimed Malfunction:&nbsp;</div>
                                    <div class="user-ticket-info-text">
                                        <div class="user-ticket-field-like">When working, the device makes a lot of noise. After an hour of operation it may turn off</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user-ticket-steps-wrap">
                            <h5 class="text-upper">Service Status</h5>
                            <div class="user-ticket-steps">
                                <div class="user-ticket-step">
                                    <div class="user-ticket-step-number">1.</div>
                                    <div class="user-ticket-step-title">pending</div>
                                    <div class="user-ticket-step-date">01.04.2018</div>
                                </div>
                                <div class="user-ticket-step-separator"><i class="fas fa-angle-double-right"></i></div>
                                <div class="active user-ticket-step">
                                    <div class="user-ticket-step-number">2.</div>
                                    <div class="user-ticket-step-title">diagnostic</div>
                                    <div class="user-ticket-step-date">08.04.2018</div>
                                </div>
                                <div class="user-ticket-step-separator"><i class="fas fa-angle-double-right"></i></div>
                                <div class="user-ticket-step">
                                    <div class="user-ticket-step-number">3.</div>
                                    <div class="user-ticket-step-title">repair</div>
                                    <div class="user-ticket-step-date"></div>
                                </div>
                                <div class="user-ticket-step-separator"><i class="fas fa-angle-double-right"></i></div>
                                <div class="user-ticket-step">
                                    <div class="user-ticket-step-number">4.</div>
                                    <div class="user-ticket-step-title">complete</div>
                                    <div class="user-ticket-step-date"></div>
                                </div>
                            </div>
                        </div>
                        <div class="user-ticket-summary row">
                            <div class="sm-col-7 md-col-8">
                                <div class="user-ticket-commentary">
                                    <div class="user-ticket-commentary-title text-upper">Engineer commentary</div>
                                    <div class="user-ticket-commentary-date">08.04.2018</div>
                                    <div class="user-ticket-commentary-text">
                                        <div class="user-ticket-field-like">After the replacement of the ventilator and the purification of the cooling system, the device started to work stably and ceased to rustle.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="sm-col-5 md-col-4">
                                <div class="user-ticket-totals">
                                    <div class="user-ticket-cost-line">
                                        <div class="user-ticket-cost-title text-upper">parts cost</div>
                                        <div class="user-ticket-cost-value">
                                            <span class="currency">$</span>25.1
                                        </div>
                                    </div>
                                    <div class="user-ticket-cost-line">
                                        <div class="user-ticket-cost-title text-upper">repair cost</div>
                                        <div class="user-ticket-cost-value">
                                            <span class="currency">$</span>22.25
                                        </div>
                                    </div>
                                    <div class="user-ticket-cost-line user-ticket-total">
                                        <div class="user-ticket-cost-title text-upper">total</div>
                                        <div class="user-ticket-cost-value">
                                            <span class="currency">$</span>47.35
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-ticket" data-inview-showup="showup-translate-up">
                    <div class="item-header text-upper">
                        <div class="user-ticket-show-more">
                            <div class="user-ticket-show-more-icon"><i class="fas fa-angle-double-down"></i></div>
                        </div>
                        <div class="user-ticket-number">#1015</div>
                        <div class="user-ticket-device">laptop HP ProBook 47305</div>
                        <div class="user-ticket-title">Diagnostic and Repair</div>
                        <div class="user-ticket-date">22.03.2018</div>
                        <div class="user-ticket-price">
                            <span class="currency">$</span>75.45
                        </div>
                        <div class="repair user-ticket-status">repair</div>
                    </div>
                    <div class="item-content">
                        <div class="user-ticket-info rows-sm cols-md row">
                            <div class="sm-col-4">
                                <div class="user-ticket-info-line">
                                    <div class="user-ticket-info-title text-upper">Brand:&nbsp;</div>
                                    <div class="user-ticket-info-value">HP</div>
                                </div>
                                <div class="user-ticket-info-line">
                                    <div class="user-ticket-info-title text-upper">Model:&nbsp;</div>
                                    <div class="user-ticket-info-value">ProBook 47305</div>
                                </div>
                                <div class="user-ticket-info-line">
                                    <div class="user-ticket-info-title text-upper">Serial Number:&nbsp;</div>
                                    <div class="user-ticket-info-value">-</div>
                                </div>
                            </div>
                            <div class="sm-col-8">
                                <div class="user-ticket-info-line text-upper">
                                    <div class="user-ticket-info-title">Claimed Malfunction:&nbsp;</div>
                                    <div class="user-ticket-info-text">
                                        <div class="user-ticket-field-like">When working, the device makes a lot of noise. After an hour of operation it may turn off</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user-ticket-steps-wrap">
                            <h5 class="text-upper">Service Status</h5>
                            <div class="user-ticket-steps">
                                <div class="user-ticket-step">
                                    <div class="user-ticket-step-number">1.</div>
                                    <div class="user-ticket-step-title">pending</div>
                                    <div class="user-ticket-step-date">22.03.2018</div>
                                </div>
                                <div class="user-ticket-step-separator"><i class="fas fa-angle-double-right"></i></div>
                                <div class="user-ticket-step">
                                    <div class="user-ticket-step-number">2.</div>
                                    <div class="user-ticket-step-title">diagnostic</div>
                                    <div class="user-ticket-step-date">23.03.2018</div>
                                </div>
                                <div class="user-ticket-step-separator"><i class="fas fa-angle-double-right"></i></div>
                                <div class="active user-ticket-step">
                                    <div class="user-ticket-step-number">3.</div>
                                    <div class="user-ticket-step-title">repair</div>
                                    <div class="user-ticket-step-date">30.03.2018</div>
                                </div>
                                <div class="user-ticket-step-separator"><i class="fas fa-angle-double-right"></i></div>
                                <div class="user-ticket-step">
                                    <div class="user-ticket-step-number">4.</div>
                                    <div class="user-ticket-step-title">complete</div>
                                    <div class="user-ticket-step-date"></div>
                                </div>
                            </div>
                        </div>
                        <div class="user-ticket-summary row">
                            <div class="sm-col-7 md-col-8">
                                <div class="user-ticket-commentary">
                                    <div class="user-ticket-commentary-title text-upper">Engineer commentary</div>
                                    <div class="user-ticket-commentary-date">29.03.2018</div>
                                    <div class="user-ticket-commentary-text">
                                        <div class="user-ticket-field-like">After the replacement of the ventilator and the purification of the cooling system, the device started to work stably and ceased to rustle.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="sm-col-5 md-col-4">
                                <div class="user-ticket-totals">
                                    <div class="user-ticket-cost-line">
                                        <div class="user-ticket-cost-title text-upper">parts cost</div>
                                        <div class="user-ticket-cost-value">
                                            <span class="currency">$</span>50.1
                                        </div>
                                    </div>
                                    <div class="user-ticket-cost-line">
                                        <div class="user-ticket-cost-title text-upper">repair cost</div>
                                        <div class="user-ticket-cost-value">
                                            <span class="currency">$</span>25.35
                                        </div>
                                    </div>
                                    <div class="user-ticket-cost-line user-ticket-total">
                                        <div class="user-ticket-cost-title text-upper">total</div>
                                        <div class="user-ticket-cost-value">
                                            <span class="currency">$</span>75.45
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-ticket" data-inview-showup="showup-translate-up">
                    <div class="item-header text-upper">
                        <div class="user-ticket-show-more">
                            <div class="user-ticket-show-more-icon"><i class="fas fa-angle-double-down"></i></div>
                        </div>
                        <div class="user-ticket-number">#1014</div>
                        <div class="user-ticket-device">printer Samsung SCX-4200</div>
                        <div class="user-ticket-title">Imaging Drum reset</div>
                        <div class="user-ticket-date">11.03.2018</div>
                        <div class="user-ticket-price">
                            <span class="currency">$</span>47.55
                        </div>
                        <div class="complete user-ticket-status">complete</div>
                    </div>
                    <div class="item-content">
                        <div class="user-ticket-info rows-sm cols-md row">
                            <div class="sm-col-4">
                                <div class="user-ticket-info-line">
                                    <div class="user-ticket-info-title text-upper">Brand:&nbsp;</div>
                                    <div class="user-ticket-info-value">Samsung</div>
                                </div>
                                <div class="user-ticket-info-line">
                                    <div class="user-ticket-info-title text-upper">Model:&nbsp;</div>
                                    <div class="user-ticket-info-value">SCX-4200</div>
                                </div>
                                <div class="user-ticket-info-line">
                                    <div class="user-ticket-info-title text-upper">Serial Number:&nbsp;</div>
                                    <div class="user-ticket-info-value">-</div>
                                </div>
                            </div>
                            <div class="sm-col-8">
                                <div class="user-ticket-info-line text-upper">
                                    <div class="user-ticket-info-title">Claimed Malfunction:&nbsp;</div>
                                    <div class="user-ticket-info-text">
                                        <div class="user-ticket-field-like">When working, the device makes a lot of noise. After an hour of operation it may turn off</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user-ticket-steps-wrap">
                            <h5 class="text-upper">Service Status</h5>
                            <div class="user-ticket-steps">
                                <div class="user-ticket-step">
                                    <div class="user-ticket-step-number">1.</div>
                                    <div class="user-ticket-step-title">pending</div>
                                    <div class="user-ticket-step-date">11.03.2018</div>
                                </div>
                                <div class="user-ticket-step-separator"><i class="fas fa-angle-double-right"></i></div>
                                <div class="user-ticket-step">
                                    <div class="user-ticket-step-number">2.</div>
                                    <div class="user-ticket-step-title">diagnostic</div>
                                    <div class="user-ticket-step-date">12.03.2018</div>
                                </div>
                                <div class="user-ticket-step-separator"><i class="fas fa-angle-double-right"></i></div>
                                <div class="user-ticket-step">
                                    <div class="user-ticket-step-number">3.</div>
                                    <div class="user-ticket-step-title">repair</div>
                                    <div class="user-ticket-step-date">14.03.2018</div>
                                </div>
                                <div class="user-ticket-step-separator"><i class="fas fa-angle-double-right"></i></div>
                                <div class="active user-ticket-step">
                                    <div class="user-ticket-step-number">4.</div>
                                    <div class="user-ticket-step-title">complete</div>
                                    <div class="user-ticket-step-date">14.03.2018</div>
                                </div>
                            </div>
                        </div>
                        <div class="user-ticket-summary row">
                            <div class="sm-col-7 md-col-8">
                                <div class="user-ticket-commentary">
                                    <div class="user-ticket-commentary-title text-upper">Engineer commentary</div>
                                    <div class="user-ticket-commentary-date">14.03.2018</div>
                                    <div class="user-ticket-commentary-text">
                                        <div class="user-ticket-field-like">After the replacement of the ventilator and the purification of the cooling system, the device started to work stably and ceased to rustle.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="sm-col-5 md-col-4">
                                <div class="user-ticket-totals">
                                    <div class="user-ticket-cost-line">
                                        <div class="user-ticket-cost-title text-upper">parts cost</div>
                                        <div class="user-ticket-cost-value">
                                            <span class="currency">$</span>22.15
                                        </div>
                                    </div>
                                    <div class="user-ticket-cost-line">
                                        <div class="user-ticket-cost-title text-upper">repair cost</div>
                                        <div class="user-ticket-cost-value">
                                            <span class="currency">$</span>25.4
                                        </div>
                                    </div>
                                    <div class="user-ticket-cost-line user-ticket-total">
                                        <div class="user-ticket-cost-title text-upper">total</div>
                                        <div class="user-ticket-cost-value">
                                            <span class="currency">$</span>47.55
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center shift-lg" data-inview-showup="showup-translate-up">
                <div class="paginator">
                    <a href="#" class="previous"><i class="fas fa-angle-left" aria-hidden="true"></i></a>
                    <span class="active">2</span>
                    <a href="#">3</a>
                    <span>...</span>
                    <a href="#">12</a>
                    <a href="#" class="next"><i class="fas fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </section>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
export default {
  mounted () {
    this.$initLoad()
  }
}
</script>

<style>

</style>
