<template>
  <div>
    <Headers />
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.com/1920x1080" data-parallax="scroll"></div>
<!--        <div class="fix-image-wrap" :data-image-src="require('../../assets/img/abcde.png')" data-parallax="scroll"></div>-->
        <div class="theme-back"></div>
        <div class="container page-info">
            <div class="section-alt-head container-md">
                <h1 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Orders</h1>
                <p data-inview-showup="showup-translate-left">Lets your broken smartphone repaired</p>
            </div>
        </div>
        <div class="section-footer">
            <div class="container" data-inview-showup="showup-translate-down">
                <ul class="page-path">
                    <li>
                      <nuxt-link :to="{ name: 'index' }">Home</nuxt-link>
                    </li>
<!--                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>-->
<!--                    <li>-->
<!--                      <nuxt-link :to="{ name: 'profile' }">Profile</nuxt-link>-->
<!--                    </li>-->
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>Orders</li>
                </ul>
            </div>
        </div>
    </section>
    <MapsOrder content-position='side' :mapx="map4" ref="form" />
    <!--        DETAIL LOKASI-->
    <section class="content-section">
      <div class="container">
        <div class="section-head text-center">
          <h2 class="text-upper">Detail Lokasi</h2>
        </div>
        <div class="row cols-md rows-md">
          <div class="sm-col-4">
<!--            <div class="field-group chosen-field">-->
            <div class="field-group" >
              <label>Service Center</label>
<!--              <label>{{selected_sc}}</label>-->
              <div class="field-wrap has-icon">
                <select class="field-control" @change="scOnChange()" v-model="selected_sc">
                  <option disabled value="">Pilih service center terdekat...</option>
                  <option v-for="(sc, index) in listSc" :key="index" :value="sc.id">{{sc.name}}</option>
                </select>
                <span class="select-arrow"><i class="fas fa-chevron-down"></i></span>
                <span class="input-group-state">
                                    <span class="positioned">
                                        <span class="text">
                                            <span class="valid-text"><i class="fas fa-check"></i></span>
                                            <span class="error-text"><i class="fas fa-times"></i></span>
                                        </span>
                                    </span>
                                </span>
                <span class="field-icon"><i class="fas fa-map-marker" aria-hidden="true"></i></span>
                <span class="field-back"></span>
              </div>
            </div>
          </div>
          <div class="sm-col-4">
            <div class="field-group" :class="{'field-disabled': selected_sc === ''}">
              <label>Lokasi Pickup</label>
              <div class="field-wrap has-icon">
                <GmapAutocomplete :value="autocompleteVal"
                                  placeholder="Pilih lokasi terdekat..."
                                  :select-first-on-enter="true"
                                  class="field-control"
                                  @place_changed="setPlace"
                                  :options="autocompleteOptions"
                >
                </GmapAutocomplete>
                <span class="input-group-state">
                                    <span class="positioned">
                                        <span class="text">
                                            <span class="valid-text"><i class="fas fa-check"></i></span>
                                            <span class="error-text"><i class="fas fa-times"></i></span>
                                        </span>
                                    </span>
                                </span>
                <span class="field-icon"><i class="fas fa-map-marker"></i></span>
                <span class="field-back"></span>
              </div>
<!--              <span class="field-sub-text"><a href="javascript:void(0)" class="fas fa-map-marker"> Get my direction</a></span>-->
            </div>
          </div>
          <div class="sm-col-4">
            <client-only>
              <ValidationProvider name="text" rules="required" v-slot="{ errors }">
                <div>
                  <div class="field-group">
                    <label>Detail Lokasi</label>
                    <div class="field-wrap has-icon">
                      <input v-model="textDetailLokasi" type="text" :class="{'req-validate': errors.length > 0, 'field-control': true}" name="text" placeholder="Detail lokasi anda..." />
                      <span class="input-group-state">
                      <span class="positioned">
                          <span class="text">
                              <span class="valid-text"><i class="fas fa-check"></i></span>
                              <span class="error-text"><i class="fas fa-times"></i></span>
                          </span>
                      </span>
                  </span>
                      <span class="field-icon"><i class="far fa-edit"></i></span>
                      <span class="field-back"></span>
                    </div>
                    <span v-if="errors.length > 0" class="field-sub-text"><i class="fas fa-times error-text"></i> {{errors[0]}}</span>
                  </div>
                </div>
              </ValidationProvider>
            </client-only>

          </div>
        </div>
      </div>
    </section>
    <!--SPESIFIKASI PERANGKAT-->
    <section class="content-section">
      <div class="container">
        <div class="section-head text-center">
          <h2 class="text-upper">Spesifikasi Perangkat</h2>

        </div>
        <div class="row cols-md rows-md">
          <div class="sm-col-6">
            <div class="field-group">
              <label>Device Brand</label>
              <div class="field-wrap has-icon">
                <select id="mySelect" class="field-control" name="select" @change="dBrandOnChange" v-model="selected_dBrand">
                  <option disabled value="">Pilih Device Brand</option>
                  <option v-for="(dBrand, index) in listDeviceBrand" :key="index" :value="dBrand.id">{{dBrand.name}}</option>
                </select>
                <span class="select-arrow"><i class="fas fa-chevron-down"></i></span>
                <span class="input-group-state">
                                    <span class="positioned">
                                        <span class="text">
                                            <span class="valid-text"><i class="fas fa-check"></i></span>
                                            <span class="error-text"><i class="fas fa-times"></i></span>
                                        </span>
                                    </span>
                                </span>
                <span class="field-icon"><i class="fas fa-map-marker" aria-hidden="true"></i></span>
                <span class="field-back"></span>
              </div>
            </div>
          </div>
          <div class="sm-col-6">
            <div class="field-group" :class="{'field-disabled': selected_dBrand === ''}">
              <label>Device Type</label>
              <div class="field-wrap has-icon">
                <select id="mySelect2" class="field-control" @change="dTypeOnChange" name="mySelect2" v-model="selected_dType">
                  <option disabled value="">Pilih Device Type</option>
                  <option v-for="(dType, index) in listDeviceType" :key="index" :value="dType.id">{{dType.name}}</option>
                </select>
                <span class="select-arrow"><i class="fas fa-chevron-down"></i></span>
                <span class="input-group-state">
                                    <span class="positioned">
                                        <span class="text">
                                            <span class="valid-text"><i class="fas fa-check"></i></span>
                                            <span class="error-text"><i class="fas fa-times"></i></span>
                                        </span>
                                    </span>
                                </span>
                <span class="field-icon"><i class="fas fa-map-marker" aria-hidden="true"></i></span>
                <span class="field-back"></span>
              </div>
            </div>
          </div>
<!--          <div class="sm-col-4">-->
<!--            <div class="field-group">-->
<!--              <label>Detail Perangkat</label>-->
<!--              <div class="field-wrap has-icon">-->
<!--                <input class="field-control" name="text" placeholder="Text" />-->
<!--                <span class="input-group-state">-->
<!--                                    <span class="positioned">-->
<!--                                        <span class="text">-->
<!--                                            <span class="valid-text"><i class="fas fa-check"></i></span>-->
<!--                                            <span class="error-text"><i class="fas fa-times"></i></span>-->
<!--                                        </span>-->
<!--                                    </span>-->
<!--                                </span>-->
<!--                <span class="field-icon"><i class="far fa-edit"></i></span>-->
<!--                <span class="field-back"></span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>

      </div>
    </section>
    <!--KERUSAKAN ATAU KELUHAN-->
    <section class="content-section">
      <div class="container">
        <div class="section-head text-center">
          <h2 class="text-upper">Kerusakan atau Keluhan</h2>
        </div>
        <div class="row cols-md rows-md">
<!--          <div class="sm-col-4"></div>-->
          <div class="sm-col-12">
            <div class="field-group" :class="{'field-disabled': selected_dType === ''}">
              <label>Kerusakan</label>
              <div class="field-wrap has-icon">
                <select id="mySelect" class="field-control" name="select" @change="dDamageOnChange" v-model="selected_mstDamage">
                  <option disabled value="">Pilih Kerusakan</option>
                  <option v-for="(mstDmg, index) in listMstDamage" :key="index" :value="mstDmg.mst_damage_id">{{mstDmg.mst_damage_type_name}}</option>
                </select>
                <span class="select-arrow"><i class="fas fa-chevron-down"></i></span>
                <span class="input-group-state">
                                    <span class="positioned">
                                        <span class="text">
                                            <span class="valid-text"><i class="fas fa-check"></i></span>
                                            <span class="error-text"><i class="fas fa-times"></i></span>
                                        </span>
                                    </span>
                                </span>
                <span class="field-icon"><i class="fas fa-map-marker" aria-hidden="true"></i></span>
                <span class="field-back"></span>
              </div>
            </div>
          </div>
<!--          <div class="sm-col-4"></div>-->
<!--          <div class="sm-col-4">-->
<!--            <div class="field-group" :class="{'field-disabled': selected_mstDamage === ''}">-->
<!--              <label>Detail Kerusakan</label>-->
<!--              <div class="field-wrap has-icon">-->
<!--                <select id="mySelect2" class="field-control" name="mySelect2" v-model="selected_dmgDetail" @change="detailDmgOnChange">-->
<!--                  <option name="select" value="">Pilih Detail Kerusakan</option>-->
<!--                  <option v-for="(dmgDetail, index) in listDetailDamage" :key="index" :value="dmgDetail.id">{{dmgDetail.damage_type_detail}}</option>-->
<!--                </select>-->
<!--                <span class="select-arrow"><i class="fas fa-chevron-down"></i></span>-->
<!--                <span class="input-group-state">-->
<!--                                    <span class="positioned">-->
<!--                                        <span class="text">-->
<!--                                            <span class="valid-text"><i class="fas fa-check"></i></span>-->
<!--                                            <span class="error-text"><i class="fas fa-times"></i></span>-->
<!--                                        </span>-->
<!--                                    </span>-->
<!--                                </span>-->
<!--                <span class="field-icon"><i class="fas fa-map-marker" aria-hidden="true"></i></span>-->
<!--                <span class="field-back"></span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="sm-col-4">-->
<!--            <div class="field-group">-->
<!--              <label>Note Kerusakan</label>-->
<!--              <div class="field-wrap has-icon">-->
<!--                <input v-model="mPrice" class="field-control" name="text" placeholder="Text" />-->
<!--                <span class="input-group-state">-->
<!--                                    <span class="positioned">-->
<!--                                        <span class="text">-->
<!--                                            <span class="valid-text"><i class="fas fa-check"></i></span>-->
<!--                                            <span class="error-text"><i class="fas fa-times"></i></span>-->
<!--                                        </span>-->
<!--                                    </span>-->
<!--                                </span>-->
<!--                <span class="field-icon"><i class="far fa-edit"></i></span>-->
<!--                <span class="field-back"></span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
        <div class="offs-lg">
<!--          <h4 class="text-center text-upper">Kemungkinan kerusakan</h4>-->
          <div class="row cols-lg">
            <div class="col-12">
              <ul class="list" v-for="(dmgDetail, index) in listDetailDamage" :key="index">
                <li v-for="(list, index2) in reformatHtml(dmgDetail.damage_type_detail)" :key="index2">
                  <span class="list-mark"><i class="fas fa-check" aria-hidden="true"></i></span>{{list}}</li>
<!--                <li>-->
<!--                  <span class="list-mark">2.</span>Send the device to us which you need to be fixed and stay calm</li>-->
<!--                <li>-->
<!--                  <span class="list-mark">3.</span>We will take care of it and work with it to fix it smooth and accurately</li>-->
<!--                <li>-->
<!--                  <span class="list-mark">4.</span>After a quick fix, we just return it to your destination fast and securely</li>-->
                Perkiraan Harga : <strong>{{currencyFormat2(dmgDetail.damage_price, 'Rp ')}}</strong>
              </ul>

            </div>
<!--            <div class="col-3">-->
<!--              <ul class="list">-->
<!--                <li>-->
<!--                  <span class="list-mark"><i class="fas fa-chevron-right" aria-hidden="true"></i></span>When your device is need to be fixed please no panic and relaxed</li>-->
<!--                <li>-->
<!--                  <span class="list-mark"><i class="fas fa-chevron-right" aria-hidden="true"></i></span>Send the device to us which you need to be fixed and stay calm</li>-->
<!--                <li>-->
<!--                  <span class="list-mark"><i class="fas fa-chevron-right" aria-hidden="true"></i></span>We will take care of it and work with it to fix it smooth and accurately</li>-->
<!--                <li>-->
<!--                  <span class="list-mark"><i class="fas fa-chevron-right" aria-hidden="true"></i></span>After a quick fix, we just return it to your destination fast and securely</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="col-3">-->
<!--              <ul class="list">-->
<!--                <li>-->
<!--                  <span class="list-mark"><i class="fas fa-check" aria-hidden="true"></i></span>When your device is need to be fixed please no panic and relaxed</li>-->
<!--                <li>-->
<!--                  <span class="list-mark"><i class="fas fa-check" aria-hidden="true"></i></span>Send the device to us which you need to be fixed and stay calm</li>-->
<!--                <li>-->
<!--                  <span class="list-mark"><i class="fas fa-check" aria-hidden="true"></i></span>We will take care of it and work with it to fix it smooth and accurately</li>-->
<!--                <li>-->
<!--                  <span class="list-mark"><i class="fas fa-check" aria-hidden="true"></i></span>After a quick fix, we just return it to your destination fast and securely</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="col-3">-->
<!--              <ul class="list">-->
<!--                <li>-->
<!--                  <span class="list-mark"><i class="fas fa-play" aria-hidden="true"></i></span>When your device is need to be fixed please no panic and relaxed</li>-->
<!--                <li>-->
<!--                  <span class="list-mark"><i class="fas fa-play" aria-hidden="true"></i></span>Send the device to us which you need to be fixed and stay calm</li>-->
<!--                <li>-->
<!--                  <span class="list-mark"><i class="fas fa-play" aria-hidden="true"></i></span>We will take care of it and work with it to fix it smooth and accurately</li>-->
<!--                <li>-->
<!--                  <span class="list-mark"><i class="fas fa-play" aria-hidden="true"></i></span>After a quick fix, we just return it to your destination fast and securely</li>-->
<!--              </ul>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </section>
    <!-- UPLOAD FILE AND VIDEO-->
    <section class="content-section">
      <div class="container">
        <div class="section-head text-center">
          <h2 class="text-upper">Upload Photo and Video</h2>
        </div>
        <div class="row cols-md rows-md">
          <div class="sm-col-6">
<!--            <client-only>-->
<!--            <ValidationProvider rules="size:100" v-slot="{ errors, validate }">-->
              <div class="field-group field-type-image">
                <!--              <label>Upload new photo - JPEG 70x70</label>-->
                <label>Upload new photo - Maks 2 MB</label>
                <div class="field-wrap">
                  <input class="field-file-control" name="text" ref="photox" type="file" @change="photoChange" accept="image/*"/>
                  <input class="field-control" name="avatarPlaceholder" placeholder="No photo chosen" v-model="textPhoto" />
                  <span class="field-addon-btn">
                                    <a class="field-file-btn text-upper btn" href="#">Choose photo</a>
                                </span>
                  <span class="field-back"></span>
                  <div class="file-preview">
                    <div class="file-preview-image">
                      <img src="https://dummyimage.com/70x70" alt="" />
                    </div>
                    <div class="file-no-preview"><i class="fas fa-user"></i></div>
                    <!--                  <div class="file-no-preview"></div>-->
                    <div class="file-preview-bg"></div>
                  </div>
                </div>
              </div>
<!--            </ValidationProvider>-->
<!--            </client-only>-->
          </div>
          <div class="sm-col-6">
            <div class="field-group field-type-image">
              <label>Upload new video - Maks 5 MB</label>
              <div class="field-wrap">
                <input class="field-file-control" name="avatar" ref="videox" type="file" @change="videoChange" accept="video/*"/>
                <input class="field-control" name="avatarPlaceholder" placeholder="No video chosen" />
                <span class="field-addon-btn">
                                    <a class="field-file-btn text-upper btn" href="#">Choose video</a>
                                </span>
                <span class="field-back"></span>
                <div class="file-preview">
                  <div class="file-preview-image">
                    <img src="https://dummyimage.com/70x70" alt="" />
                  </div>
                  <div class="file-no-preview"><i class="fas fa-user"></i></div>
                  <div class="file-preview-bg"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<!--    BUTTON SUBMIT ORDER-->
    <section class="content-section">
      <div class="container">
        <div class="text-center" :class="{'field-disabled': ifEmptyField}">
          <a href="javascript:void(0)" @click="submitOrder" class="btn text-upper" data-inview-showup="showup-translate-up">submit order</a>
        </div>
<!--        <div class="text-center">-->
<!--          <a href="javascript:void(0)" @click="testFirebase" class="btn text-upper" data-inview-showup="showup-translate-up">test Firebase</a>-->
<!--        </div>-->
      </div>
<!--      <form @submit.prevent="submit" class="vld-parent" ref="formContainer">-->
        <!-- your form inputs goes here-->
<!--        <label><input type="checkbox" v-model="fullPage">Full page?</label>-->
<!--        <button @click="startLoading" type="submit">Login</button>-->
    </section>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
import { storage } from '~/plugins/firebase.js'
import firebase from 'firebase'
const striptags = require('striptags');
import RippleLoader from '~/components/loader/ripple.vue'

export default {
  middleware: 'router-auth',
  components: {
    RippleLoader
  },
  head () {
    return {
      title: `Order `+this.orderType,
      // titleTemplate: 'Edutore by Gramedia | '+this.metaTitle,
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        { hid: 'description', name: `description', content: 'Selamat datang di order repair on ${this.orderType.replace('-', ' ')}, silahkan lakukan order sesuai kolom yang ada di bawah ini | with hid` },
        { property: 'og:title', content: `Order `+this.orderType },
        { property: 'og:description', content: `Selamat datang di order repair on ${this.orderType.replace('-', ' ')}, silahkan lakukan order sesuai kolom yang ada di bawah ini | with og desc` },
        { property: 'og:url', content: `https://rajarepair.id/order?m=${this.orderType.replace('-', '_')}` },
        { property: 'og:site_name', content: 'Raja Repair' },
        { property: 'og:image', content: 'https://dummyimage.com/150' },
      ],
    }
  },
  async validate ({ params, store, query }) {
    // console.log(query.m === 'on-site' || query.m === 'service-center')

    // if (query.m === 'on-site' || query.m === 'service_center'){
    //   return true
    // }else{
    //   return false
    // }
    return query.m === 'on-site' || query.m === 'service-center'
  },
  async asyncData(context) {
    const listSc = await context.$axios.get('masterdata/service-center/list/page=1/limit=10/column-sort=name/sort=asc')
    const listDeviceBrand = await context.$axios.get('masterdata/device/brand/list/page=1/limit=100/column-sort=name/sort=asc')
    // const listMstDamage = await context.$axios.get(`damage-type/list/type-of-damage/where=${context.route.query.m.replace('-', '_')}/page=1/limit=100/column-sort=id/sort=desc`)

    // console.log(listMstDamage.data.data)
    // console.log(context.route.query.m)
    // this.$nuxt.$router.push('lklk')
    return {
      listSc: listSc.data.data,
      listDeviceBrand: listDeviceBrand.data.data,
      orderType: context.route.query.m
      // listMstDamage: listMstDamage.data.data,
    }
  },
  data: () => ({
    loader: null,
    fullPage: false,
    isLoading: false,
    textDetailLokasi: '',
    textPhoto: '',
    url: 'http://localhost:3011/api/v1/upload-file/photo',
    // headers: {'access-token': '<your-token>'},
    filesUploaded: [],
    mPrice: '',
    selected_sc: '',
    selected_dBrand: '',
    selected_dType: '',
    selected_mstDamage: '',
    selected_dmgDetail: '',
    listDeviceType: [],
    listMstDamage: [],
    listDetailDamage: [],
    autocompleteOptions: {
      componentRestrictions: {
        country: [
          'id',
        ],
      },
    },
    map2: {
      center: {
        lat: 6.166220899999999,
        lng: 106.81857519999994
      },
      zoom: 13
    },
    map4: {
      center: {
        lat: 41.9027835,
        lng: 12.4963655
      },
      zoom: 13
    },
    autocompleteVal: ''
  }),
  created(){

    // let ref = fb.collection('message').orderBy('timestamp')
    // this.$nuxt.$router.push('?sample')
  },
  computed: {
    ifEmptyField(){
      // console.log(!(this.selected_dmgDetail !== ''))
      return !(this.selected_dType !== '')
    }
  },
  mounted () {
    this.$initLoad()
    // this.startLoading()
  },
  methods: {
    startLoading() {
      // this.$store.commit('loaders/addProgress', 10)
      this.loader = this.$loading.show({
        // Optional parameters
        container: this.$refs.formContainer,
        // container: this.fullPage ? null : this.$refs.formContainer,
        canCancel: false,
        onCancel: this.onCancel,
        transition: 'fade'
      },{
          // Pass slots by their names
          default: this.$createElement(RippleLoader),
        }
      );

      // simulate AJAX
      // setTimeout(() => {
      //   loader.hide()
      // },500000)
    },
    onCancel() {
      console.log('User cancelled the loader.')
    },
    reformatHtml(data){
      // console.log(striptags(data, [], '\n').split('\n').filter(n => n))
      return striptags(data, [], '\n').split('\n').filter(n => n)
    },
    async handleFileChange(e) {
      const { valid } = await this.$refs.provider.validate(e);

      if (valid) {
        // TODO: Upload the file
        console.log('Uploaded the file...');
      }
    },
    photoChange(){
      if (this.$refs.photox.files[0].size > 200000){
        console.log('file is higher than 2mb', this.$refs.photox.files[0].size)
      }else{

      }
    },
    videoChange(){
      // this.textPhoto = 'nama file photo.jpg'
      // console.log(this.$refs.photox.files)
      // console.log(this.$refs.videox.files[0].size)
      // if(this.$refs.photox.files[0].size > 100000){
      //   console.log('to big')
      // }else{
      //   console.log('to small')
      // }
    },
    async uploadphoto(){
      // let files = this.$refs.photox.files
      // let videos = this.$refs.videox.files
      // let formData = new FormData()
      // formData.append('files', files[0])
      // formData.append('files', videos[0])
      // await this.$store.dispatch('order/uploadFiles', formData)
      // let req = await this.$axios.post(`upload-file/multiple`, formData)
      // console.log(req)
    },
    detailDmgOnChange(){
      // console.log(this.listDetailDamage.filter(item => item.id === this.selected_dmgDetail)[0].damage_price)
      this.mPrice = this.listDetailDamage.filter(item => item.id === this.selected_dmgDetail)[0].damage_price
      // let coordinat = this.listSc.filter(item => item.id === this.selected_sc)[0].coordinat
    },
    async uploadFileFirebase(files, type){
      let _this = this
      return new Promise(async function (resolve, reject) {
        let storageRef = storage.ref();
        let path = 'images'
        if (type === 'video') {
          path = 'video'
        }
        // Create a reference to 'mountains.jpg'
        // let mountainsRef = storageRef.child('mountains.jpg');

        // Create a reference to 'images/mountains.jpg'
        // let mountainImagesRef = storageRef.child('images/mountains.jpg');

        // let uploadTask = mountainImagesRef.put(files[0]).then(function(snapshot) {
        //   console.log('Uploaded a blob or file!', snapshot);
        // });

        // let uploadTask = storageRef.child(path + '/' + files[0].name).put(files[0]);
        // console.log(path + '/' + _this.generateUUID() + '.'+files[0].name.split('.').pop()).put(files[0])
        let filename = _this.generateUUID()
        let uploadTask = storageRef.child(path + '/' + filename).put(files[0]);
        // let uploadTask = storageRef.child(path + '/' + _this.generateUUID().put(files[0]));
        uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
          function (snapshot) {
            // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
            let progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
            _this.$store.commit('loaders/addProgress', {progress: progress.toFixed(2), type})
            //console.log('Upload is ' + progress + '% done');
            switch (snapshot.state) {
              case firebase.storage.TaskState.PAUSED: // or 'paused'
                console.log('Upload is paused');
                break;
              case firebase.storage.TaskState.RUNNING: // or 'running'
                // console.log('Upload is running');
                break;
            }
          }, function (error) {

            // A full list of error codes is available at
            // https://firebase.google.com/docs/storage/web/handle-errors
            switch (error.code) {
              case 'storage/unauthorized':
                // User doesn't have permission to access the object
                break;

              case 'storage/canceled':
                // User canceled the upload
                break;

              //...

              case 'storage/unknown':
                // Unknown error occurred, inspect error.serverResponse
                break;
            }
            reject()
          }, function () {
            uploadTask.snapshot.ref.getMetadata().then(function(metadata) {
              // console.log(metadata)
              resolve(metadata.fullPath)
              // Metadata now contains the metadata for 'images/forest.jpg'
            })
              .catch(function(error) {
              // Uh-oh, an error occurred!
            });
            // Upload completed successfully, now we can get the download URL
            // uploadTask.snapshot.ref.getDownloadURL().then(function (downloadURL) {
            //   console.log('File available at', filename);
            //   resolve(downloadURL)
            // });
            // _this.loader.hide()
            // _this.$nuxt.$router.push(`/order/confirmation?n=${no_order}`)
          });
      })
    },
    async submitOrder() {
      try {
        if (!this.$store.state.auth.isLoggedIn) {
          this.$nuxt.$router.push({name: 'accounts-signin'})
        } else {
          // console.log(this.$moment().utc().format('YYYY-MM-DD HH:mm:ss'))
          let unixTime = this.$moment().format('X')
          let orderDate = this.$moment().utc().format('YYYY-MM-DD HH:mm:ss')
          let files = this.$refs.photox.files
          let videos = this.$refs.videox.files
          let formData = new FormData()
          // formData.append('files', files[0])
          // formData.append('files', videos[0])
          // console.log(files[0])
          let objFile = {
            photo: files,
            video: videos,
          }
          let fillData = {
            photo: null,
            video: null,
          }
          this.startLoading()
          const entries = Object.entries(objFile)
            for await (const [file, values] of entries) {
              if (values.length !== 0) {
                let x = await this.uploadFileFirebase(values, file)
                // console.log(x)
                if (file === 'photo'){
                  fillData.photo = x
                }else{
                  fillData.video = x
                }
                // console.log(fillData)
              }
                // console.log('im the last iteration')
            }
          let data = {
            "order": {
              "service_center_id": this.selected_sc,
              "no_order": unixTime,
              "payment_status": "pending",
              "service_type": this.$route.query.m.replace('-', '_'),
              "order_date": orderDate
            },
            "orderDetails": {
              "device_type_id": this.selected_dType,
              "damage_type_id": this.listDetailDamage[0].id,
              "payment_provider_id": null,
              "payment_type_id": null,
              "total_price": this.listDetailDamage[0].damage_price,
              "location": {
                "lat": this.map4.center.lat,
                "lng": this.map4.center.lng,
                "detail": this.textDetailLokasi
              },
              "files": {
                "photo": fillData.photo,
                "video": fillData.video
              },
              "status": "pending",
              // "isFilesAdded": files.length > 0 || videos.length > 0
            }
          }
          // console.log(data)
          await this.$store.dispatch('order/order', data)
            .then((res) => {
              // console.log(res)
              if (res.success) {
                this.loader.hide()
                this.$nuxt.$router.push(`/order/confirmation?n=${res.data.no_order}`)
              }
            })
            // console.log(`There are ${count} ${file}`)
          }
          // await this.$store.dispatch('order/uploadFiles', formData)
          //   .then(async (res) => {
          //     if (res.success){
          //       let data = {
          //         "order": {
          //           "service_center_id": this.selected_sc,
          //           "no_order": unixTime,
          //           "payment_status": "pending",
          //           "service_type": this.$route.query.m.replace('-', '_'),
          //           "order_date": orderDate
          //         },
          //         "orderDetails": {
          //           "device_type_id": this.selected_dType,
          //           "damage_type_id": this.listDetailDamage[0].id,
          //           "payment_provider_id": null,
          //           "payment_type_id": null,
          //           "total_price": this.listDetailDamage[0].damage_price,
          //           "location": {
          //             "lat": this.map4.center.lat,
          //             "lng": this.map4.center.lng,
          //             "detail": this.textDetailLokasi
          //           },
          //           "files": {
          //             "photo": res.data.photo,
          //             "video": res.data.video
          //           },
          //           "status": "pending",
          //           "isFilesAdded": files.length > 0 || videos.length > 0
          //         }
          //       }
          //       // console.log(data)
          //       await this.$store.dispatch('order/order', data)
          //         .then((res) => {
          //           // console.log(res)
          //           if (res.success) {
          //
          //             // this.$nuxt.$router.push(`/order/confirmation?n=${res.data.no_order}`)
          //           }
          //         })
          //     }else{
          //       console.log(res)
          //     }
          //   })
        // }
      } catch (ex) {
        console.log('error ' + ex)
      }
    },
    async dTypeOnChange(){
      let params = this.$route.query.m.replace('-', '_')
      const listMstDamage = await this.$axios.get(`damage-type/list/device-type-id=${this.selected_dType}/where=${params}/page=1/limit=5/column-sort=name/sort=asc`)
      this.listMstDamage = listMstDamage.data.data
      // console.log(this.$route.query.m.replace('-', '_'), this.selected_dType)
    },
    async dDamageOnChange(){
      const listDetailDamage = await this.$axios.get(`damage-type/list/mst-dmg-type-id=${this.selected_mstDamage}/device-type-id=${this.selected_dType}/page=1/limit=5/column-sort=id/sort=desc`)
      this.listDetailDamage = listDetailDamage.data.data
      // console.log(this.listDetailDamage)
    },
    scOnChange(){
      let coordinat = this.listSc.filter(item => item.id === this.selected_sc)[0].coordinat
      const scName = this.listSc.filter(item => item.id === this.selected_sc)[0].name
      this.$refs.form.setPlaceServiceCenter(coordinat)
      // console.log(scName)
      this.$store.commit('order/setScName', scName)
    },
    async dBrandOnChange(){
      const listDeviceType = await this.$axios.get(`masterdata/device/type/list/brand_id=${this.selected_dBrand}/page=1/limit=100/column-sort=name/sort=asc`)
      this.listDeviceType = listDeviceType.data.data
      // console.log(this.listDeviceType)
      // console.log('event')
      // console.log(this.listSc.filter(item => item.id === this.selected_sc)[0].coordinat)
      // let coordinat = this.listSc.filter(item => item.id === this.selected_sc)[0].coordinat
      // this.$refs.form.setPlaceServiceCenter(coordinat)
    },
    setPlace (place) {
      if(place) {
        // console.log(place)
        this.map4.center.lat = place.geometry.location.lat();
        this.map4.center.lng = place.geometry.location.lng();
        this.$refs.form.getRoute(this.map4.center)
        // console.log(this.map4.center)
      }
    }
  }
}
</script>

<style scoped>
</style>
