<template>
  <div>
    <Headers />
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back"></div>
        <div class="container page-info">
            <div class="section-alt-head container-md">
                <h1 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Payment Confirmation</h1>
            </div>
        </div>
        <div class="section-footer">
            <div class="container" data-inview-showup="showup-translate-down">
                <ul class="page-path">
                    <li>
                        <nuxt-link to="/">Home</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>
                        <nuxt-link to='/order?m=service-center'>Order</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>Payment Confirmation</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="content-section">
        <div class="container">
<!--            <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Request a Callback</h2>-->
            <h3 v-if="statusPayment === 'pending'" class="reset-offs text-upper">Payment Pending</h3>
            <h3 v-else-if="statusPayment === 'settlement'" class="reset-offs text-upper">Payment Successfully</h3>
            <h3 v-else class="reset-offs text-upper">Payment Error</h3>
            <div class="content-text clearfix offs-md" data-inview-showup="showup-translate-up">
                <p>Thank you, we've received your payment. Our team will contact you soon.</p>
            </div>
            <nuxt-link to="/profile/orders" class="btn text-upper" data-inview-showup="showup-translate-up">view order</nuxt-link>
        </div>
    </section>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
export default {
  middleware: 'router-auth',
  async asyncData(context){
    // console.log(context.route)
    return {
      statusPayment: context.route.query.transaction_status
    }
  },
  async validate(){
    return true
  },
  mounted () {
    this.$initLoad()
  },
}
</script>

<style>

</style>
