<template>
  <div>
    <Headers />
    <section class="text-center content-section">
      <div class="container">
        <img class="image offs-md" src="/lib/images/error/404.png" alt="" data-inview-showup="showup-scale" />
        <div class="section-head text-center container-md">
          <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Error</h2>
          <p data-inview-showup="showup-translate-left">This page could not be found!</p>
        </div>
        <a class="btn text-upper" href="#" data-inview-showup="showup-translate-up" @click.prevent="goToHome()">back to homepage</a>
      </div>
    </section>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
export default {
  middleware: 'router-auth',
  mounted () {
    this.$showLoading()
  },
  methods: {
    goToHome () {
      window.location.href = window.location.protocol + '//' + window.location.host
    }
  }
}
</script>
