<template>
  <div>
    <Headers />
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back"></div>
        <div class="container page-info">
            <div class="section-alt-head container-md">
                <h1 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Blog</h1>
            </div>
        </div>
        <div class="section-footer">
            <div class="container" data-inview-showup="showup-translate-down">
                <ul class="page-path">
                    <li>
                      <nuxt-link :to="{ name: 'index' }">Home</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>Blog</li>
                </ul>
            </div>
        </div>
    </section>
    <div class="clearfix page-sidebar-right container">
        <div class="page-content">
            <section class="content-section">
                <div class="articles">
                    <article class="article" data-inview-showup="showup-translate-up">
                        <nuxt-link :to="{ name: 'blog-item', params: { item: 'article-1' } }" class="block-link text-center offs-lg">
                            <span class="image-wrap">
                                <img class="image" src="https://dummyimage.com/960x540" alt="" />
                            </span>
                            <span class="hover">
                                <span class="hover-show">
                                    <span class="back"></span>
                                    <span class="content"><i class="fas fa-search" aria-hidden="true"></i></span>
                                </span>
                            </span>
                            <span class="date-square main-bg text-center pos-bottom pos-right">
                                <span class="middle-block">
                                    <span class="month">July</span>
                                    <span class="day">15</span>
                                    <span class="year">2017</span>
                                </span>
                            </span>
                        </nuxt-link>
                        <h3 class="offs-sm">
                            <nuxt-link :to="{ name: 'blog-item', params: { item: 'article-1' } }" class="content-link">What is BGA</nuxt-link>
                        </h3>
                        <div class="category">Category:
                            <nuxt-link :to="{ name: 'blog' }" class="text-upper">micro chip repair</nuxt-link>,
                            <nuxt-link :to="{ name: 'blog' }" class="text-upper">technology</nuxt-link>
                        </div>
                        <p>A ball grid array (BGA) is a type of surface-mount packaging (a chip carrier) used for integrated circuits. BGA packages are used to permanently mount devices such as microprocessors. A BGA can provide more interc... pins than can be put on a dual in-line or flat package. The whole bottom surface of the device can be used, instead of just the perimeter. The leads are also on average shorter than with a perimeter-only type, leading to better performance at high speeds. Soldering of BGA devices requires precise control and is usually done by automated processes. BGA devices are not suitable for socket mounting, normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                        <div class="table">
                            <div class="col col-middle">
                                <div class="author">Posted by
                                    <span class="text-colorful">admin</span>
                                </div>
                            </div>
                            <div class="col text-right">
                                <nuxt-link :to="{ name: 'blog-item', params: { item: 'article-1' } }" class="btn btn-md btns-bordered text-upper">read more</nuxt-link>
                            </div>
                        </div>
                    </article>
                    <article class="article" data-inview-showup="showup-translate-up">
                        <nuxt-link :to="{ name: 'blog-item', params: { item: 'article-1' } }" class="block-link text-center offs-lg">
                            <span class="image-wrap">
                                <img class="image" src="https://dummyimage.com/960x540" alt="" />
                            </span>
                            <span class="hover">
                                <span class="hover-hidden">
                                    <span class="content op"><i class="fas fa-3x fa-play-circle" aria-hidden="true"></i></span>
                                </span>
                                <span class="hover-show">
                                    <span class="back"></span>
                                    <span class="content"><i class="fas fa-play" aria-hidden="true"></i></span>
                                </span>
                            </span>
                            <span class="date-square main-bg text-center pos-bottom pos-right">
                                <span class="middle-block">
                                    <span class="month">July</span>
                                    <span class="day">12</span>
                                    <span class="year">2017</span>
                                </span>
                            </span>
                        </nuxt-link>
                        <h3 class="offs-sm">
                            <nuxt-link :to="{ name: 'blog-item', params: { item: 'article-1' } }" class="content-link">Calibrating the Home button in iPhone, iPad and iPod touch</nuxt-link>
                        </h3>
                        <div class="category">Category:
                            <nuxt-link :to="{ name: 'blog' }" class="content-link">iphone</nuxt-link>,
                            <nuxt-link :to="{ name: 'blog' }" class="content-link">technology</nuxt-link>
                        </div>
                        <p>Over time, most owners of iOS-devices can have a small, but rather unpleasant problem with the Home button, which starts responding to the presses through time. Usually this does not happen immediately, but after about 1.5-2 years from the date of purchase.pins than can be put on a dual in-line or flat package. The whole bottom surface of the device can be used, instead of just the perimeter. The leads are also on average shorter than with a perimeter-only type, leading to better performance at high speeds. Soldering of BGA devices requires precise control and is usually done by automated processes. BGA devices are not suitable for socket mounting.normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                        <div class="table">
                            <div class="col col-middle">
                                <div class="author">Posted by
                                    <span class="text-colorful">admin</span>
                                </div>
                            </div>
                            <div class="col text-right">
                                <nuxt-link :to="{ name: 'blog-item', params: { item: 'article-1' } }" class="btn btn-md btns-bordered text-upper">read more</nuxt-link>
                            </div>
                        </div>
                    </article>
                    <article class="article" data-inview-showup="showup-translate-up">
                        <nuxt-link :to="{ name: 'blog-item', params: { item: 'article-1' } }" class="block-link text-center offs-lg">
                            <span class="image-wrap">
                                <img class="image" src="https://dummyimage.com/960x540" alt="" />
                            </span>
                            <span class="hover">
                                <span class="hover-show">
                                    <span class="back"></span>
                                    <span class="content"><i class="fas fa-search" aria-hidden="true"></i></span>
                                </span>
                            </span>
                            <span class="date-square main-bg text-center pos-bottom pos-right">
                                <span class="middle-block">
                                    <span class="month">July</span>
                                    <span class="day">11</span>
                                    <span class="year">2017</span>
                                </span>
                            </span>
                        </nuxt-link>
                        <h3 class="offs-sm">
                            <nuxt-link :to="{ name: 'blog-item', params: { item: 'article-1' } }" class="content-link">Replace videochip</nuxt-link>
                        </h3>
                        <div class="category">Category:
                            <nuxt-link :to="{ name: 'blog' }" class="content-link">BGA</nuxt-link>,
                            <nuxt-link :to="{ name: 'blog' }" class="content-link">technology</nuxt-link>,
                            <nuxt-link :to="{ name: 'blog' }" class="content-link">replace</nuxt-link>
                        </div>
                        <p>Over time, most owners of iOS-devices can have a small, but rather unpleasant problem with the Home button, which starts responding to the presses through time. Usually this does not happen immediately, but after about 1.5-2 years from the date of purchase.pins than can be put on a dual in-line or flat package. The whole bottom surface of the device can be used, instead of just the perimeter. The leads are also on average shorter than with a perimeter-only type, leading to better performance at high speeds. Soldering of BGA devices requires precise control and is usually done by automated processes. BGA devices are not suitable for socket mounting.normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                        <div class="table">
                            <div class="col col-middle">
                                <div class="author">Posted by
                                    <span class="text-colorful">admin</span>
                                </div>
                            </div>
                            <div class="col text-right">
                                <nuxt-link :to="{ name: 'blog-item', params: { item: 'article-1' } }" class="btn btn-md btns-bordered text-upper">read more</nuxt-link>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="text-center shift-lg" data-inview-showup="showup-translate-up">
                    <div class="paginator">
                        <a href="#" class="previous"><i class="fas fa-angle-left" aria-hidden="true"></i></a>
                        <span class="active">2</span>
                        <a href="#">3</a>
                        <span>...</span>
                        <a href="#">12</a>
                        <a href="#" class="next"><i class="fas fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </section>
        </div>
        <aside class="page-sidebar content-section">
            <section class="side-content-section" data-inview-showup="showup-translate-up">
                <h5 class="shift-sm offs-md">Our Services</h5>
                <ul class="spaced-list text-medium solid-color">
                    <li>
                        <a class="muted-solid-link block-md" href="#">Data becup & recovery</a>
                    </li>
                    <li>
                        <a class="muted-solid-link block-md" href="#">Repair smartphone</a>
                    </li>
                    <li>
                        <a class="muted-solid-link block-md" href="#">Laptop & Mac upgrade</a>
                    </li>
                    <li>
                        <a class="muted-solid-link block-md" href="#">Tablet repair</a>
                    </li>
                    <li>
                        <a class="muted-solid-link block-md" href="#">Network solution</a>
                    </li>
                </ul>
            </section>
            <div class="line-sides main-bg out-lg" data-inview-showup="showup-translate-up"></div>
            <section class="side-content-section" data-inview-showup="showup-translate-up">
                <h5 class="shift-sm offs-md">Categories</h5>
                <ul class="list text-medium solid-color text-upper">
                    <li>
                        <a href="#"><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;computer</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;micro chip repair</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;technology</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;iphone</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;replace</a>
                    </li>
                </ul>
            </section>
            <div class="line-sides main-bg out-lg" data-inview-showup="showup-translate-up"></div>
            <section class="side-content-section" data-inview-showup="showup-translate-up">
                <div class="block-md muted-bg">
                    <h5 class="text-upper">Free consultation</h5>
                    <p>Get answers and advice from people you want it from.</p>
                    <div class="buttons-block text-right">
                        <a class="btn btn-md text-upper" href="contact-us.html">contact us</a>
                    </div>
                </div>
            </section>
        </aside>
    </div>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
export default {
  mounted () {
    this.$initLoad()
  }
}
</script>

<style>

</style>
