<template>
  <div>
    <Headers />
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.commyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back"></div>
        <div class="container page-info">
            <div class="section-alt-head container-md">
                <h1 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Cart</h1>
            </div>
        </div>
        <div class="section-footer">
            <div class="container" data-inview-showup="showup-translate-down">
                <ul class="page-path">
                    <li>
                      <nuxt-link :to="{ name: 'index' }">Home</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>
                      <nuxt-link :to="{ name: 'shop' }">Shop</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>Cart</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="content-section">
        <div class="container">
            <h2 class="text-upper" data-inview-showup="showup-translate-up">Your cart items</h2>
            <form action="cart.html" method="POST">
                <div class="cart-line-items offs-lg" data-inview-showup="showup-translate-up">
                    <div class="items-head text-upper">
                        <div class="item-image">Product</div>
                        <div class="item-name">Name</div>
                        <div class="item-price">Price</div>
                        <div class="item-quantity">Quantity</div>
                        <div class="item-total">Total</div>
                        <div class="item-remove">&nbsp;</div>
                    </div>
                    <div class="items">
                        <div class="item cart-item-line" data-inview-showup="showup-translate-up">
                            <div class="item-image">
                                <div class="responsive-1by1">
                                    <img src="https://dummyimage.commyimage.com/500x500" alt="" />
                                </div>
                            </div>
                            <div class="item-name">
                                <a href="shop-item.html" class="content-link">USB 3.0 HUB</a>
                            </div>
                            <div class="item-price">$67.05</div>
                            <div class="item-quantity">
                                <div class="field-group field-spin-sides">
                                    <div class="field-wrap">
                                        <input class="field-control montserrat-bold alt-color text-sm text-center" type="text" name="quantity" value="1" min="0" max="100" data-action-role="field-wheel-spin field-arrows-spin" autocomplete="off">
                                        <span class="field-back"></span>
                                        <span class="field-actions">
                                            <span class="field-increment" data-action-role="field-increment"><i class="fas fa-plus" aria-hidden="true"></i></span>
                                            <span class="field-decrement" data-action-role="field-decrement"><i class="fas fa-minus" aria-hidden="true"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-total">$67.05</div>
                            <div class="item-remove">
                                <a href="#" class="remove"><i class="fas fa-times"></i></a>
                            </div>
                        </div>
                        <div class="item cart-item-line" data-inview-showup="showup-translate-up">
                            <div class="item-image">
                                <div class="responsive-1by1">
                                    <img src="https://dummyimage.commyimage.com/500x500" alt="" />
                                </div>
                            </div>
                            <div class="item-name">
                                <a href="shop-item.html" class="content-link">Cable Organizer</a>
                            </div>
                            <div class="item-price">$15.25</div>
                            <div class="item-quantity">
                                <div class="field-group field-spin-sides">
                                    <div class="field-wrap">
                                        <input class="field-control montserrat-bold alt-color text-sm text-center" type="text" name="quantity" value="1" min="0" max="100" data-action-role="field-wheel-spin field-arrows-spin" autocomplete="off">
                                        <span class="field-back"></span>
                                        <span class="field-actions">
                                            <span class="field-increment" data-action-role="field-increment"><i class="fas fa-plus" aria-hidden="true"></i></span>
                                            <span class="field-decrement" data-action-role="field-decrement"><i class="fas fa-minus" aria-hidden="true"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-total">$15.25</div>
                            <div class="item-remove">
                                <a href="#" class="remove"><i class="fas fa-times"></i></a>
                            </div>
                        </div>
                        <div class="item cart-item-line" data-inview-showup="showup-translate-up">
                            <div class="item-image">
                                <div class="responsive-1by1">
                                    <img src="https://dummyimage.commyimage.com/500x500" alt="" />
                                </div>
                            </div>
                            <div class="item-name">
                                <a href="shop-item.html" class="content-link">10" Octa Core Tablet</a>
                            </div>
                            <div class="item-price">$145.99</div>
                            <div class="item-quantity">
                                <div class="field-group field-spin-sides">
                                    <div class="field-wrap">
                                        <input class="field-control montserrat-bold alt-color text-sm text-center" type="text" name="quantity" value="1" min="0" max="100" data-action-role="field-wheel-spin field-arrows-spin" autocomplete="off">
                                        <span class="field-back"></span>
                                        <span class="field-actions">
                                            <span class="field-increment" data-action-role="field-increment"><i class="fas fa-plus" aria-hidden="true"></i></span>
                                            <span class="field-decrement" data-action-role="field-decrement"><i class="fas fa-minus" aria-hidden="true"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-total">$145.99</div>
                            <div class="item-remove">
                                <a href="#" class="remove"><i class="fas fa-times"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row cols-md rows-md offs-xl" data-inview-showup="showup-translate-up">
                    <div class="md-col-3 sm-col-6">
                        <button class="btn btns-bordered text-upper col-12">clear shopping cart</button>
                    </div>
                    <div class="md-col-3 sm-col-6">
                        <button class="btn btns-bordered text-upper col-12">update shopping cart</button>
                    </div>
                    <div class="md-col-3 md-push-3 sm-col-12">
                        <a href="#" class="btn btns-bordered text-upper col-12">continue shopping</a>
                    </div>
                </div>
            </form>
            <div class="muted-bg block-md" data-inview-showup="showup-translate-up">
                <div class="row cols-lg rows-lg">
                    <div class="sm-col-6">
                        <form action="cart.html" method="POST" class="offs-md">
                            <h5 class="text-upper">Coupon discount</h5>
                            <div class="row cols-md rows-md">
                                <div class="sm-col-7">
                                    <div class="field-group">
                                        <div class="field-wrap">
                                            <input class="field-control" name="coupon" placeholder="Enter your code here!" required="required" />
                                            <span class="field-back"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="sm-col-5">
                                    <button class="btn btns-bordered text-upper col-12">apply coupon</button>
                                </div>
                            </div>
                        </form>
                        <form action="cart.html" method="POST">
                            <h5 class="text-upper">Check availability</h5>
                            <div class="row cols-md rows-md">
                                <div class="sm-col-7">
                                    <div class="field-group">
                                        <div class="field-wrap">
                                            <input class="field-control" name="availability" placeholder="Enter Pin Code" required="required" />
                                            <span class="field-back"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="sm-col-5">
                                    <button class="btn btns-bordered text-upper col-12">check</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="sm-col-4 sm-push-2">
                        <div class="cart-total-line offs-sm shift-sm">
                            <div class="title text-upper">Sub total</div>
                            <div class="value">$126.00</div>
                        </div>
                        <div class="cart-total-line text-sm">
                            <div class="title text-upper text-semibold">Grand total</div>
                            <div class="value text-colorful text-bold">$126.00</div>
                        </div>
                        <div class="top-separator out-lg"></div>
                        <nuxt-link :to="{ name: 'checkout' }" class="btn text-upper col-12">Proceed to checkout</nuxt-link>
                        <div class="text-right text-muted shift-md">Some extra text *</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
export default {
  mounted () {
    this.$initLoad()
  }
}
</script>

<style>

</style>
