<!--<template>-->
<!--  <div class="container">-->
<!--      <Chat :messages="resultMessage"/>-->
<!--    <section class="chat-area">-->
<!--      <div class="container">-->
<!--        <div class="content-text clearfix offs-md col-8" data-inview-showup="showup-translate-up">-->
<!--          <h1>Chat Area</h1>-->
<!--          <h2>This chat area is used for communication between customers and technicians.</h2>-->
<!--          <h3>Use it wisely, and make sure you don't use harsh words in conversation.</h3>-->
<!--          <h4>Thank you for your attention and have a nice day</h4>-->
<!--        </div>-->
<!--&lt;!&ndash;        <a @click="readMessage" href="javascript:void(0)" class="btn text-upper" data-inview-showup="showup-translate-up">read message</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a @click="test" href="javascript:void(0)" class="btn text-upper" data-inview-showup="showup-translate-up">parsing message</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a @click="readMessage" href="javascript:void(0)" class="btn text-upper" data-inview-showup="showup-translate-up">back to homepage</a>&ndash;&gt;-->
<!--      </div>-->
<!--    </section>-->
<!--  </div>-->
<!--</template>-->

<!--<script>-->
<!--  import CloseIcon from 'vue-beautiful-chat/src/assets/close-icon.png'-->
<!--  import OpenIcon from 'vue-beautiful-chat/src/assets/logo-no-bg.svg'-->
<!--  import FileIcon from 'vue-beautiful-chat/src/assets/file.svg'-->
<!--  import CloseIconSvg from 'vue-beautiful-chat/src/assets/close.svg'-->
<!--  import { db } from "~/plugins/firebase"-->
<!--  export default {-->
<!--    // layout: 'belajar-gratis-layout',-->
<!--    data() {-->
<!--      return {-->
<!--        icons:{-->
<!--          open:{-->
<!--            img: OpenIcon,-->
<!--            name: 'default',-->
<!--          },-->
<!--          close:{-->
<!--            img: CloseIcon,-->
<!--            name: 'default',-->
<!--          },-->
<!--          file:{-->
<!--            img: FileIcon,-->
<!--            name: 'default',-->
<!--          },-->
<!--          closeSvg:{-->
<!--            img: CloseIconSvg,-->
<!--            name: 'default',-->
<!--          },-->
<!--        },-->
<!--        participants: [-->
<!--          {-->
<!--            id: 'user1',-->
<!--            name: 'Matteo',-->
<!--            imageUrl: 'https://cdn.rimember.id/web-images/member-images/default-images.png'-->
<!--          },-->
<!--          {-->
<!--            id: 'user2',-->
<!--            name: 'Support',-->
<!--            imageUrl: 'https://cdn.rimember.id/web-images/member-images/default-images.png'-->
<!--          }-->
<!--        ], // the list of all the participant of the conversation. `name` is the user name, `id` is used to establish the author of a message, `imageUrl` is supposed to be the user avatar.-->
<!--        titleImageUrl: 'https://a.slack-edge.com/66f9/img/avatars-teams/ava_0001-34.png',-->
<!--        messageList: [-->
<!--          { type: 'text', author: `me`, data: { text: `Say yes!` } },-->
<!--          { type: 'text', author: `user1`, data: { text: `No.` } },-->
<!--          { type: 'text', author: `user1`, data: { text: `No.` } },-->
<!--          { type: 'text', author: `user1`, data: { text: `No.` } },-->
<!--          { type: 'text', author: `user1`, data: { text: `No.` } },-->
<!--          // { type: 'text', author: `me`, data: { text: `BACOT` } },-->
<!--        ], // the list of the messages to show, can be paginated and adjusted dynamically-->
<!--        newMessagesCount: 0,-->
<!--        resultMessage: [],-->
<!--        fbMessage: [],-->
<!--        isChatOpen: false, // to determine whether the chat window should be open or closed-->
<!--        showTypingIndicator: '', // when set to a value matching the participant.id it shows the typing indicator for the specific user-->
<!--        colors: {-->
<!--          header: {-->
<!--            bg: '#4e8cff',-->
<!--            text: '#ffffff'-->
<!--          },-->
<!--          launcher: {-->
<!--            bg: '#4e8cff'-->
<!--          },-->
<!--          messageList: {-->
<!--            bg: '#ffffff'-->
<!--          },-->
<!--          sentMessage: {-->
<!--            bg: '#4e8cff',-->
<!--            text: '#ffffff'-->
<!--          },-->
<!--          receivedMessage: {-->
<!--            bg: '#eaeaea',-->
<!--            text: '#222222'-->
<!--          },-->
<!--          userInput: {-->
<!--            bg: '#f4f7f9',-->
<!--            text: '#565867'-->
<!--          }-->
<!--        }, // specifies the color scheme for the component-->
<!--        alwaysScrollToBottom: false, // when set to true always scrolls the chat to the bottom when new events are in (new message, user starts typing...)-->
<!--        messageStyling: true // enables *bold* /emph/ _underline_ and such (more info at github.com/mattezza/msgdown)-->
<!--      }-->
<!--    },-->
<!--    head () {-->
<!--      return {-->
<!--        title: 'belajar-gratis',-->
<!--        meta: [-->
<!--          { hid: 'description', name: 'description', content: 'My custom description' }-->
<!--        ],-->
<!--        link: [-->
<!--          // { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css', type: 'text/css'},-->

<!--        ],-->
<!--        script: [-->
<!--          // { src: 'https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js', body: true },-->
<!--          // { src: 'https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js', body: true },-->
<!--          // { src: 'https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js', body: true },-->
<!--        ]-->
<!--      }-->
<!--    },-->
<!--    methods: {-->
<!--      test(){-->
<!--        // Object.keys(this.fbMessage).forEach(function(key) {-->
<!--        //-->
<!--        //   console.log(key, this.fbMessage[key]);-->
<!--        //-->
<!--        // });-->
<!--        Object.entries(this.fbMessage).forEach(([key, val]) => {-->
<!--          let chat = {-->
<!--            type: 'text',-->
<!--            author: val.messageUser.split('-')[0] === 'user' ? 'me' : val.messageUser,-->
<!--            data: {-->
<!--              text: val.messageText-->
<!--            }-->
<!--          }-->
<!--          this.resultMessage.push(chat)-->
<!--          // this.messageList.push(chat)-->
<!--          // console.log(key); // the name of the current key.-->
<!--          // console.log(val); // the value of the current key.-->
<!--        });-->
<!--        // console.log(this.resultMessage)-->
<!--        // console.log(this.messageList)-->
<!--      },-->
<!--      readMessage(){-->
<!--        // READ-->
<!--        // let data = db.ref('chat/1579120792')-->
<!--        // let self = this;-->
<!--        // data.on('value', function(snapshot) {-->
<!--        //   // this.messageList = snapshot.val()-->
<!--        //   // console.log(snapshot.val())-->
<!--        //   // console.log(this.messageList)-->
<!--        //   self.fbMessage = snapshot.val();-->
<!--        // });-->
<!--        // this.test()-->
<!--        // console.log(this.fbMessage)-->
<!--      },-->
<!--      sendMessage (text) {-->
<!--        if (text.length > 0) {-->
<!--          this.newMessagesCount = this.isChatOpen ? this.newMessagesCount : this.newMessagesCount + 1-->
<!--          this.onMessageWasSent({ author: 'support', type: 'text', data: { text } })-->
<!--        }-->
<!--      },-->
<!--      onMessageWasSent (message) {-->
<!--        // called when the user sends a message-->
<!--        this.messageList = [ ...this.messageList, message ]-->
<!--      },-->
<!--      openChat () {-->
<!--        // called when the user clicks on the fab button to open the chat-->
<!--        this.isChatOpen = true-->
<!--        this.newMessagesCount = 0-->
<!--      },-->
<!--      closeChat () {-->
<!--        // called when the user clicks on the botton to close the chat-->
<!--        this.isChatOpen = false-->
<!--      },-->
<!--      handleScrollToTop () {-->
<!--        // called when the user scrolls message list to top-->
<!--        // leverage pagination for loading another page of messages-->
<!--      },-->
<!--      handleOnType () {-->
<!--        console.log('Emit typing event')-->
<!--      },-->
<!--      editMessage(message){-->
<!--        const m = this.messageList.find(m=>m.id === message.id);-->
<!--        m.isEdited = true;-->
<!--        m.data.text = message.data.text;-->
<!--      }-->
<!--    },-->
<!--    created(){-->
<!--      this.readMessage()-->
<!--      // console.log(this.messageList)-->
<!--      // console.log(db.ref('chat/1568571044'))-->
<!--      // WRITE-->
<!--      // db.ref('chat/'+'1579120792').push({-->
<!--      //   messageText: 'woi ini dari web sesi 2',-->
<!--      //   messageTime: parseInt(this.$moment().format('x')),-->
<!--      //   messageUser: 'user-4',-->
<!--      // })-->

<!--    }-->
<!--  }-->
<!--</script>-->

<!--<style scoped>-->
<!--.chat-area{-->
<!--  margin-top: 100px;-->
<!--  position: fixed;-->
<!--}-->
<!--</style>-->
