<template>
  <div>
    <Headers />
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.commyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back"></div>
        <div class="container page-info">
            <div class="section-alt-head container-md">
                <h1 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Checkout</h1>
            </div>
        </div>
        <div class="section-footer">
            <div class="container" data-inview-showup="showup-translate-down">
                <ul class="page-path">
                    <li>
                      <nuxt-link :to="{ name: 'index' }">Home</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>
                      <nuxt-link :to="{ name: 'shop' }">Shop</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>Checkout</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="content-section">
        <div class="container">
            <form action="order-confirmation.html">
                <div class="row cols-lg rows-lg">
                    <div class="sm-col-6" data-inview-showup="showup-translate-right">
                        <h4 class="text-upper">Billing Details</h4>
                        <div class="field-group">
                            <div class="field-wrap">
                                <input class="field-control" name="name" placeholder="Name" required="required" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="field-wrap">
                                <input class="field-control" name="email" type="email" placeholder="Email" required="required" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="field-wrap">
                                <input class="field-control" name="company" placeholder="Company" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="field-wrap">
                                <textarea class="field-control" name="address" placeholder="Address" required="required"></textarea>
                                <span class="field-back"></span>
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="field-wrap">
                                <input class="field-control" name="town" placeholder="Town / City" required="required" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="field-wrap">
                                <input class="field-control" name="zip" placeholder="Postcode / ZIP" required="required" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="field-wrap">
                                <input class="field-control" name="phone" placeholder="Phone" required="required" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="checkbox">
                                <label>
                                    <input class="field-control" name="shipToDifferentAddress" data-action-role="show-block" data-block-name="shippingAddress" type="checkbox" />
                                    <span class="check-icon">
                                        <span class="check-block">
                                            <span class="check-pin"></span>
                                        </span>
                                    </span>
                                    <span class="label">Ship to a different address?</span>
                                </label>
                            </div>
                        </div>
                        <div class="collapse" data-block="shippingAddress">
                            <div class="top-separator out-md"></div>
                            <div class="field-group">
                                <div class="field-wrap">
                                    <input class="field-control" name="shippmentName" placeholder="Name" required="required" />
                                    <span class="field-back"></span>
                                </div>
                            </div>
                            <div class="field-group">
                                <div class="field-wrap">
                                    <input class="field-control" name="shippmentEmail" type="email" placeholder="Email" required="required" />
                                    <span class="field-back"></span>
                                </div>
                            </div>
                            <div class="field-group">
                                <div class="field-wrap">
                                    <input class="field-control" name="shippmentCompany" placeholder="Company" />
                                    <span class="field-back"></span>
                                </div>
                            </div>
                            <div class="field-group">
                                <div class="field-wrap">
                                    <textarea class="field-control" name="shippmentAddress" placeholder="Address" required="required"></textarea>
                                    <span class="field-back"></span>
                                </div>
                            </div>
                            <div class="field-group">
                                <div class="field-wrap">
                                    <input class="field-control" name="shippmentTown" placeholder="Town / City" required="required" />
                                    <span class="field-back"></span>
                                </div>
                            </div>
                            <div class="field-group">
                                <div class="field-wrap">
                                    <input class="field-control" name="shippmentZip" placeholder="Postcode / ZIP" required="required" />
                                    <span class="field-back"></span>
                                </div>
                            </div>
                            <div class="field-group">
                                <div class="field-wrap">
                                    <input class="field-control" name="shippmentPhone" placeholder="Phone" required="required" />
                                    <span class="field-back"></span>
                                </div>
                            </div>
                            <div class="top-separator out-md"></div>
                        </div>
                        <div class="field-group shift-md">
                            <div class="field-wrap">
                                <textarea class="field-control" name="message" placeholder="Order notes" required="required"></textarea>
                                <span class="field-back"></span>
                            </div>
                        </div>
                    </div>
                    <div class="sm-col-6" data-inview-showup="showup-translate-left">
                        <h4 class="text-upper">Your Order</h4>
                        <div class="checkout-total-line main-bg">
                            <div class="title text-upper">Product</div>
                            <div class="value text-upper">Total</div>
                        </div>
                        <div class="ins-sm">
                            <div class="checkout-total-line">
                                <div class="title">USB 3.0 HUB x 1</div>
                                <div class="value">$67.05</div>
                            </div>
                            <div class="checkout-total-line">
                                <div class="title">Cable Organizer x 1</div>
                                <div class="value">$15.25</div>
                            </div>
                            <div class="checkout-total-line">
                                <div class="title">10" Octa Core Tablet x 1</div>
                                <div class="value">$145.99</div>
                            </div>
                        </div>
                        <div class="muted-bg ins-sm offs-lg">
                            <div class="checkout-total-line text-sm text-semibold">
                                <div class="title text-upper">Sub total</div>
                                <div class="value">$401.35</div>
                            </div>
                            <div class="checkout-total-line text-semibold">
                                <div class="title text-upper">Shipping</div>
                                <div class="value">
                                    <div class="value-line">Flat rate: $0.00</div>
                                    <div class="value-line">Free Shipping</div>
                                </div>
                            </div>
                            <div class="checkout-total-separator"></div>
                            <div class="checkout-total-line text-sm">
                                <div class="title text-upper text-semibold">Total</div>
                                <div class="value text-colorful text-bold">$401.35</div>
                            </div>
                        </div>
                        <h4 class="text-upper">Payment Details</h4>
                        <p>Please use your Order ID as the payment reference. Your order won't be shipped until the funds have cleared in our account.</p>
                        <div class="field-groups offs-lg">
                            <div class="field-group alt-color text-semibold">
                                <div class="radio">
                                    <label>
                                        <input class="field-control" name="paymentType" type="radio" value="check" />
                                        <span class="check-icon">
                                            <span class="check-block">
                                                <span class="check-pin"></span>
                                            </span>
                                        </span>
                                        <span class="label">Check Payment</span>
                                    </label>
                                </div>
                            </div>
                            <div class="field-group alt-color text-semibold">
                                <div class="radio">
                                    <label>
                                        <input class="field-control" name="paymentType" type="radio" value="cash" />
                                        <span class="check-icon">
                                            <span class="check-block">
                                                <span class="check-pin"></span>
                                            </span>
                                        </span>
                                        <span class="label">Cash On Delivery</span>
                                    </label>
                                </div>
                            </div>
                            <div class="field-group alt-color text-semibold">
                                <div class="radio">
                                    <label>
                                        <input class="field-control" name="paymentType" type="radio" data-action-role="show-block" data-block-name="paypalDetails" />
                                        <span class="check-icon">
                                            <span class="check-block">
                                                <span class="check-pin"></span>
                                            </span>
                                        </span>
                                        <span class="label">PayPal</span>
                                    </label>
                                </div>
                            </div>
                            <div class="collapse shift-sm" data-block="paypalDetails">
                                <img class="image" src="/lib/images/icons/paypal.jpg" alt="" />
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="checkbox">
                                <label>
                                    <input class="field-control" name="terms" type="checkbox" />
                                    <span class="check-icon">
                                        <span class="check-block">
                                            <span class="check-pin"></span>
                                        </span>
                                    </span>
                                    <span class="label">I've read &amp; accept the
                                        <nuxt-link :to="{ name: 'termscondition' }">terms &amp; conditions</nuxt-link>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <button class="btn text-upper shift-md col-12 md-col-8 lg-col-6">Place order</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
export default {
  mounted () {
    this.$initLoad()
  }
}
</script>

<style>

</style>
