<template>
  <div>
    <Headers />
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back"></div>
        <div class="container page-info">
            <div class="section-alt-head container-md">
                <h1 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Order Confirmation</h1>
            </div>
        </div>
        <div class="section-footer">
            <div class="container" data-inview-showup="showup-translate-down">
                <ul class="page-path">
                    <li>
                        <nuxt-link to="/">Home</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>
                        <nuxt-link to='/order?m=service-center'>Order</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>Order Confirmation</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="content-section">
        <div class="container">
            <div class="content-text clearfix offs-md" data-inview-showup="showup-translate-up">
                <p>Thank you, we've reciewved your order. Our managers will contact you soon.</p>
            </div>
            <a href="index.html" class="btn text-upper" data-inview-showup="showup-translate-up">back to homepage</a>
        </div>
    </section>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
export default {
  mounted () {
    this.$initLoad()
  }
}
</script>

<style>

</style>
