<template>
  <div>
    <Headers />
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.commyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back"></div>
        <div class="container page-info">
            <div class="section-alt-head container-md">
                <h1 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Contact Us</h1>
                <p data-inview-showup="showup-translate-left">A little something about our company</p>
            </div>
        </div>
        <div class="section-footer">
            <div class="container" data-inview-showup="showup-translate-down">
                <ul class="page-path">
                    <li>
                      <nuxt-link :to="{ name: 'index' }">Home</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>Contact Us</li>
                </ul>
            </div>
        </div>
    </section>
    <Maps />
    <div class="content-section container">
        <div class="row cols-lg rows-lg">
            <div class="sm-col-6">
                <section data-inview-showup="showup-translate-right">
                    <h2 class="text-upper">How to find us</h2>
                    <p class="offs-lg">Our goal is to provide the best customer service and to answer all of your questions in a timely manner.
                    </p>
                    <div class="rows-md">
                        <div class="row cols-md rows-md">
                            <div class="md-col-6">
                                <div class="info-item">
                                    <div class="icon">
                                        <img src="/lib/images/icons/side/phone.png" alt="" />
                                    </div>
                                    <div class="text">(555) 555-0312</div>
                                </div>
                            </div>
                            <div class="md-col-6">
                                <div class="info-item">
                                    <div class="icon">
                                        <img src="/lib/images/icons/side/phone1.png" alt="" />
                                    </div>
                                    <div class="text">(555) 555-0312</div>
                                </div>
                            </div>
                        </div>
                        <div class="row cols-md rows-md">
                            <div class="md-col-6">
                                <div class="info-item">
                                    <div class="icon">
                                        <img src="/lib/images/icons/side/skype.png" alt="" />
                                    </div>
                                    <div class="text">(555) 555-0312</div>
                                </div>
                            </div>
                            <div class="md-col-6">
                                <div class="info-item">
                                    <div class="icon">
                                        <img src="/lib/images/icons/side/instagram.png" alt="" />
                                    </div>
                                    <div class="text">#profix_service</div>
                                </div>
                            </div>
                        </div>
                        <div class="row cols-md rows-md">
                            <div class="md-col-6">
                                <div class="info-item">
                                    <div class="icon">
                                        <img src="/lib/images/icons/side/email.png" alt="" />
                                    </div>
                                    <div class="text">info@profix.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="sm-col-6">
                <section class="block-md sm-fix-container muted-bg" data-inview-showup="showup-translate-left">
                    <h5 class="offs-md">Send Us a Message</h5>
                    <form>
                        <div class="field-group">
                            <div class="field-wrap">
                                <input class="field-control" name="name" placeholder="Name" required="required" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="field-wrap">
                                <input class="field-control" name="email" type="email" placeholder="Email" required="required" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="field-wrap">
                                <input class="field-control" name="subject" placeholder="Subject" required="required" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="field-wrap">
                                <textarea class="field-control" name="message" placeholder="Message" required="required"></textarea>
                                <span class="field-back"></span>
                            </div>
                        </div>
                        <div class="btn-block">
                            <button class="btn text-upper ajax-disabled" type="submit">
                                send message
                            </button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
export default {
  mounted () {
    this.$initLoad()
    this.$initGmap()
  }
}
</script>

<style>

</style>
