<template>
  <div>
    <Headers />
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back"></div>
        <div class="container page-info">
            <div class="section-alt-head container-md">
                <h1 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">FAQ</h1>
                <p data-inview-showup="showup-translate-left">A little something about our company</p>
            </div>
        </div>
        <div class="section-footer">
            <div class="container" data-inview-showup="showup-translate-down">
                <ul class="page-path">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>FAQ</li>
                </ul>
            </div>
        </div>
    </section>
    <div class="clearfix page-sidebar-right container">
        <div class="page-content">
            <section class="content-section">
                <h2 data-inview-showup="showup-translate-up">FAQs</h2>
                <p data-inview-showup="showup-translate-up">Below is a list of Frequently Asked Questions
                </p>
                <div class="accordion">
                    <div class="accordion-item active" data-inview-showup="showup-translate-up">
                        <a class="accordion-title toggle-line-right">
                            <span class="toggle-icon pull-right"><i class="fas fa-chevron-down" aria-hidden="true"></i></span> Repair any complexity level
                        </a>
                        <div class="accordion-content toggle-block muted-bg">
                            <p>The most comprehensive repairs available at Profix. Any device, mobile, tablet or laptop can be repaired or upgraded by us, learn more about us and see why we are the best choice for device repairs and upgrades. We have a fully trained, experienced service department ready to handle all of your service needs. The most comprehensive repairs available at Profix. Any device, mobile, tablet or laptop can be repaired or upgraded by us, learn more about us and see why we are the best choice for device repairs and upgrades. We have a fully trained, experienced service department ready to handle all of your service needs. The most comprehensive repairs available at Profix. Any device, mobile, tablet or laptop can be repaired or upgraded by us, learn more about us and see why we are the best choice for device repairs and upgrades. We have a fully trained, experienced service department ready to handle all of your service needs.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item" data-inview-showup="showup-translate-up">
                        <a class="accordion-title toggle-line-right">
                            <span class="toggle-icon pull-right"><i class="fas fa-chevron-down" aria-hidden="true"></i></span> Hardware Maintenance
                        </a>
                        <div class="accordion-content toggle-block muted-bg">
                            <p>The most comprehensive repairs available at Profix. Any device, mobile, tablet or laptop can be repaired or upgraded by us, learn more about us and see why we are the best choice for device repairs and upgrades. We have a fully trained, experienced service department ready to handle all of your service needs. The most comprehensive repairs available at Profix. Any device, mobile, tablet or laptop can be repaired or upgraded by us, learn more about us and see why we are the best choice for device repairs and upgrades. We have a fully trained, experienced service department ready to handle all of your service needs. The most comprehensive repairs available at Profix. Any device, mobile, tablet or laptop can be repaired or upgraded by us, learn more about us and see why we are the best choice for device repairs and upgrades. We have a fully trained, experienced service department ready to handle all of your service needs.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item" data-inview-showup="showup-translate-up">
                        <a class="accordion-title toggle-line-right">
                            <span class="toggle-icon pull-right"><i class="fas fa-chevron-down" aria-hidden="true"></i></span> Desktop & laptop repair
                        </a>
                        <div class="accordion-content toggle-block muted-bg">
                            <p>The most comprehensive repairs available at Profix. Any device, mobile, tablet or laptop can be repaired or upgraded by us, learn more about us and see why we are the best choice for device repairs and upgrades. We have a fully trained, experienced service department ready to handle all of your service needs. The most comprehensive repairs available at Profix. Any device, mobile, tablet or laptop can be repaired or upgraded by us, learn more about us and see why we are the best choice for device repairs and upgrades. We have a fully trained, experienced service department ready to handle all of your service needs. The most comprehensive repairs available at Profix. Any device, mobile, tablet or laptop can be repaired or upgraded by us, learn more about us and see why we are the best choice for device repairs and upgrades. We have a fully trained, experienced service department ready to handle all of your service needs.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item" data-inview-showup="showup-translate-up">
                        <a class="accordion-title toggle-line-right">
                            <span class="toggle-icon pull-right"><i class="fas fa-chevron-down" aria-hidden="true"></i></span> Phone repair
                        </a>
                        <div class="accordion-content toggle-block muted-bg">
                            <p>The most comprehensive repairs available at Profix. Any device, mobile, tablet or laptop can be repaired or upgraded by us, learn more about us and see why we are the best choice for device repairs and upgrades. We have a fully trained, experienced service department ready to handle all of your service needs. The most comprehensive repairs available at Profix. Any device, mobile, tablet or laptop can be repaired or upgraded by us, learn more about us and see why we are the best choice for device repairs and upgrades. We have a fully trained, experienced service department ready to handle all of your service needs. The most comprehensive repairs available at Profix. Any device, mobile, tablet or laptop can be repaired or upgraded by us, learn more about us and see why we are the best choice for device repairs and upgrades. We have a fully trained, experienced service department ready to handle all of your service needs.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <aside class="page-sidebar content-section">
            <section class="side-content-section" data-inview-showup="showup-translate-up">
                <h5 class="shift-sm offs-md">Our Services</h5>
                <ul class="spaced-list text-medium solid-color">
                    <li>
                        <a class="muted-solid-link block-md" href="#">Data becup & recovery</a>
                    </li>
                    <li>
                        <a class="muted-solid-link block-md" href="#">Repair smartphone</a>
                    </li>
                    <li>
                        <a class="muted-solid-link block-md" href="#">Laptop & Mac upgrade</a>
                    </li>
                    <li>
                        <a class="muted-solid-link block-md" href="#">Tablet repair</a>
                    </li>
                    <li>
                        <a class="muted-solid-link block-md" href="#">Network solution</a>
                    </li>
                </ul>
            </section>
            <div class="line-sides main-bg out-lg" data-inview-showup="showup-translate-up"></div>
            <section class="side-content-section" data-inview-showup="showup-translate-up">
                <h5 class="shift-sm offs-md">Recent Posts</h5>
                <ul class="list text-medium solid-color">
                    <li>
                        <a class="solid-link" href="#">6 Most Common Reasons for iPhone Repair
                            <span class="sub-block">April 17, 2017</span>
                        </a>
                    </li>
                    <li>
                        <a class="solid-link" href="#">Best Methods to Fix Broken Screen
                            <span class="sub-block">April 17, 2017</span>
                        </a>
                    </li>
                    <li>
                        <a class="solid-link" href="#">Replacing laptop and TV screens
                            <span class="sub-block">April 17, 2017</span>
                        </a>
                    </li>
                    <li>
                        <a class="solid-link" href="#">Game discs and game console ports
                            <span class="sub-block">April 17, 2017</span>
                        </a>
                    </li>
                    <li>
                        <a class="solid-link" href="#">Magnets and electric devices
                            <span class="sub-block">April 17, 2017</span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>
    </div>
    <section class="muted-bg solid-section">
        <div class="container">
            <div class="section-head text-center container-md">
                <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Can't Find What You Are Looking For?</h2>
                <p data-inview-showup="showup-translate-left">Tell us what you're looking for and we'll make a solution for it. Contact us!</p>
            </div>
            <form class="md-col-8 md-col-offs-2" data-inview-showup="showup-translate-down">
                <div class="field-group">
                    <div class="field-wrap">
                        <input class="field-control" name="name" placeholder="Name" required="required" />
                        <span class="field-back"></span>
                    </div>
                </div>
                <div class="field-group">
                    <div class="field-wrap">
                        <input class="field-control" name="email" type="email" placeholder="Email" required="required" />
                        <span class="field-back"></span>
                    </div>
                </div>
                <div class="field-group">
                    <div class="field-wrap">
                        <input class="field-control" name="subject" placeholder="Subject" required="required" />
                        <span class="field-back"></span>
                    </div>
                </div>
                <div class="field-group">
                    <div class="field-wrap">
                        <textarea class="field-control" name="message" placeholder="Ask your question here..." required="required"></textarea>
                        <span class="field-back"></span>
                    </div>
                </div>
                <div class="btn-block text-center">
                    <button class="btn sm-col-3 text-upper" type="submit">
                        submit
                    </button>
                    <div class="btn-text text-sm sides-lg text-center">or CALL
                        <span class="alt-color">(555) 555-0312</span>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
export default {
  mounted () {
    this.$initLoad()
  }
}
</script>

<style>

</style>
