<template>
  <div>
    <Headers />
    <section>
      <div class="flexslider screen-height">
        <div class="slides">
          <div class="slide">
            <img src="https://dummyimage.com/1920x1080" alt="" data-cover-image="true" />
            <div class="theme-back"></div>
            <div class="pos-center text-center col-12 text-white">
              <div class="banner-title res-text-xxl">Fast & Quick Fix</div>
              <div class="banner-subtitle res-text-md">Just send valuable laptop, PC, MAC, Mobile,<br/>Gaming Device or Smartphone and we'll take care of it.</div>
            </div>
          </div>
          <div class="slide">
            <img src="https://dummyimage.com/1920x1080" alt="" data-cover-image="true" />
            <div class="theme-back"></div>
            <div class="pos-center text-center col-12 text-white">
              <div class="banner-title res-text-xxl">Any Kind of Upgrades</div>
            </div>
          </div>
          <div class="slide">
            <img src="https://dummyimage.com/1920x1080" alt="" data-cover-image="true" />
            <div class="theme-back"></div>
            <div class="pos-center text-center col-12 text-white">
              <div class="banner-title res-text-xxl">Data Recovery</div>
              <div class="banner-subtitle res-text-md">You Lose - We'll Find</div>
            </div>
          </div>
        </div>
        <div class="flex-custom-navigation">
          <!-- Arrow Navigator -->
          <a href="#" class="flex-prev">
            <i class="fas fa-angle-left" aria-hidden="true"></i>
          </a>
          <a href="#" class="flex-next">
            <i class="fas fa-angle-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </section>
    <div class="clearfix muted-bg">
      <section class="md-stuck-top content-section">
          <div class="container hyped-block">
              <div class="row cols-md rows-md">
                <div class="md-col-6">
                  <div class="row cols-md rows-md">
                    <div class="sm-col-6">
<!--                      <div class="price-block simple" data-inview-showup="showup-translate-up">-->
<!--                        <div class="price-back"></div>-->
<!--                        <div class="price-image">-->
<!--                          <img class="image" src="/lib/images/icons/notebook-dark.png" alt="" />-->
<!--                        </div>-->
<!--                        <div class="price-title">Laptop Repair</div>-->
<!--                        <div class="price-subtext">starting at...</div>-->
<!--                        <div class="price">$20.00</div>-->
<!--                        <nuxt-link :to="{ name: 'services-item', params: { item: 'service-1' } }" class="btn-md btns-bordered btn text-upper">read more</nuxt-link>-->
<!--                      </div>-->
                    </div>
                    <div class="sm-col-6">
                      <div class="price-block simple" data-inview-showup="showup-translate-up">
                        <div class="price-back"></div>
                        <div class="price-image">
                          <img class="image" src="/lib/images/icons/computer-dark.png" alt="" />
                        </div>
                        <div class="price-title">On Site Repair</div>
                        <div class="price-subtext">Panggil teknisi raja repair untuk datang ke lokasi kamu</div>
                        <div class="price-subtext">starting at...</div>
                        <div class="price">Rp100.000</div>
                        <nuxt-link to="/order?m=on-site" class="btn-md btns-bordered btn text-upper">order now</nuxt-link>
<!--                        <nuxt-link :to="{ name: 'services-item', params: { item: 'service-1' } }" class="btn-md btns-bordered btn text-upper">read more</nuxt-link>-->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="md-col-6">
                  <div class="row cols-md rows-md">
                    <div class="sm-col-6">
                      <div class="price-block simple" data-inview-showup="showup-translate-up">
                        <div class="price-back"></div>
                        <div class="price-image">
                          <img class="image" src="/lib/images/icons/printer-dark.png" alt="" />
                        </div>
                        <div class="price-title">Service Center Repair</div>
                        <div class="price-subtext">Perbaiki di service senter raja repair terdekat</div>
                        <div class="price-subtext">starting at...</div>
                        <div class="price">Rp50.000</div>
                        <nuxt-link to="/order?m=service-center" class="btn-md btns-bordered btn text-upper">order now</nuxt-link>
<!--                        <nuxt-link :to="{ name: 'services-item', params: { item: 'service-1' } }" class="btn-md btns-bordered btn text-upper">read more</nuxt-link>-->
                      </div>
                    </div>
                    <div class="sm-col-6">
<!--                      <div class="price-block simple" data-inview-showup="showup-translate-up">-->
<!--                        <div class="price-back"></div>-->
<!--                        <div class="price-image">-->
<!--                          <img class="image" src="/lib/images/icons/mobile-dark.png" alt="" />-->
<!--                        </div>-->
<!--                        <div class="price-title">Smartphone Repair</div>-->
<!--                        <div class="price-subtext">starting at...</div>-->
<!--                        <div class="price">$45.00</div>-->
<!--                        <nuxt-link :to="{ name: 'services-item', params: { item: 'service-1' } }" class="btn-md btns-bordered btn text-upper">read more</nuxt-link>-->
<!--                      </div>-->
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </section>
      <section class="content-section">
        <div class="container">
          <div class="section-head text-center container-md">
            <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Why choose us</h2>
            <p data-inview-showup="showup-translate-left">Some Of Our Features</p>
          </div>
          <div class="row cols-md rows-lg text-center">
            <div class="md-col-6">
              <div class="row cols-md rows-lg">
                <div class="sm-col-6">
                  <div class="feature feature-side text-left" data-inview-showup="showup-translate-up">
                    <div class="feature-icon"><i class="fas fa-rocket" aria-hidden="true"></i></div>
                    <div class="feature-title text-upper">We are fast</div>
                    <div class="feature-text">Qualified Workers Lorem Ipsum is simply dummy text of the printing</div>
                  </div>
                </div>
                <div class="sm-col-6">
                  <div class="feature feature-side text-left" data-inview-showup="showup-translate-up">
                    <div class="feature-icon"><i class="fas fa-dollar-sign" aria-hidden="true"></i></div>
                    <div class="feature-title text-upper">No fix, no fee</div>
                    <div class="feature-text">Repair on Demand Lorem Ipsum is simply dummy text of the printing</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="md-col-6">
              <div class="row cols-md rows-lg">
                <div class="sm-col-6">
                  <div class="feature feature-side text-left" data-inview-showup="showup-translate-up">
                    <div class="feature-icon"><i class="far fa-calendar-check" aria-hidden="true"></i></div>
                    <div class="feature-title text-upper">30 days warranty</div>
                    <div class="feature-text">Guaranteed Service Lorem Ipsum is simply dummy text of the printing</div>
                  </div>
                </div>
                <div class="sm-col-6">
                  <div class="feature feature-side text-left" data-inview-showup="showup-translate-up">
                    <div class="feature-icon"><i class="fas fa-users" aria-hidden="true"></i></div>
                    <div class="feature-title text-upper">Expert staff</div>
                    <div class="feature-text">Available Anytime Lorem Ipsum is simply dummy text of the printing</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="with-bg solid-section">
      <div class="fix-image-wrap" data-image-src="https://dummyimage.com/1920x1080" data-parallax="scroll"></div>
      <div class="theme-back inner-shadow"></div>
      <div class="container text-center">
        <div class="section-head text-center container-md">
          <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Service process</h2>
          <p data-inview-showup="showup-translate-left">easy and effective way to get your device repaired</p>
        </div>
        <div class="service-steps text-upper" data-inview-showup="showup-scale">
          <div class="step">
            <span class="step-number">1</span>damage device
          </div>
          <div class="step">
            <span class="step-number">2</span>send it to us
          </div>
          <div class="step">
            <span class="step-number active">3</span>fast fix
          </div>
          <div class="step">
            <span class="step-number">4</span>quick return
          </div>
        </div>
      </div>
    </section>
    <section class="muted-bg solid-section">
      <div class="container">
        <div class="section-head text-center container-md">
          <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Services</h2>
          <p data-inview-showup="showup-translate-left">We offer a full range of repair services provided by an experienced and specialized team</p>
        </div>
        <div class="row cols-md rows-md">
          <div class="md-col-4 sm-col-6">
            <div class="item" data-inview-showup="showup-translate-up">
              <nuxt-link :to="{ name: 'services-item', params: { item: 'service-1' } }" class="block-link text-center">
                <span class="image-wrap">
                  <img class="image" src="https://dummyimage.com/720x405" alt="" />
                </span>
                <span class="hover">
                  <span class="hover-show">
                    <span class="back"></span>
                    <span class="content"><i class="fas fa-search" aria-hidden="true"></i></span>
                  </span>
                </span>
              </nuxt-link>
              <div class="item-content">
                <div class="item-title text-upper">
                  <nuxt-link :to="{ name: 'services-item', params: { item: 'service-1' } }">Data backup &amp; recovery</nuxt-link>
                </div>
                <div class="item-text">We working hard to build a reputation of customer satisfaction through technical excellence and friendly staff
                </div>
                <nuxt-link :to="{ name: 'services-item', params: { item: 'service-1' } }" class="btn btn-md btns-bordered pull-right text-upper">read more</nuxt-link>
              </div>
            </div>
          </div>
            <div class="md-col-4 sm-col-6">
              <div class="item" data-inview-showup="showup-translate-up">
                <nuxt-link :to="{ name: 'services-item', params: { item: 'service-1' } }" class="block-link text-center">
                  <span class="image-wrap">
                    <img class="image" src="https://dummyimage.com/720x405" alt="" />
                  </span>
                  <span class="hover">
                    <span class="hover-show">
                      <span class="back"></span>
                      <span class="content"><i class="fas fa-search" aria-hidden="true"></i></span>
                    </span>
                  </span>
                </nuxt-link>
                <div class="item-content">
                  <div class="item-title text-upper">
                    <nuxt-link :to="{ name: 'services-item', params: { item: 'service-1' } }">Laptop &amp; Mac Upgrade</nuxt-link>
                  </div>
                  <div class="item-text">We working hard to build a reputation of customer satisfaction through technical excellence and friendly staff
                  </div>
                  <nuxt-link :to="{ name: 'services-item', params: { item: 'service-1' } }" class="btn btn-md btns-bordered pull-right text-upper">read more</nuxt-link>
                </div>
              </div>
            </div>
            <div class="md-col-4 sm-col-6">
              <div class="item" data-inview-showup="showup-translate-up">
                <nuxt-link :to="{ name: 'services-item', params: { item: 'service-1' } }" class="block-link text-center">
                  <span class="image-wrap">
                    <img class="image" src="https://dummyimage.com/720x405" alt="" />
                  </span>
                  <span class="hover">
                    <span class="hover-show">
                      <span class="back"></span>
                      <span class="content"><i class="fas fa-search" aria-hidden="true"></i></span>
                    </span>
                  </span>
                </nuxt-link>
                <div class="item-content">
                  <div class="item-title text-upper">
                    <nuxt-link :to="{ name: 'services-item', params: { item: 'service-1' } }">Repair Smartphone</nuxt-link>
                  </div>
                  <div class="item-text">We working hard to build a reputation of customer satisfaction through technical excellence and friendly staff
                  </div>
                  <nuxt-link :to="{ name: 'services-item', params: { item: 'service-1' } }" class="btn btn-md btns-bordered pull-right text-upper">read more</nuxt-link>
                </div>
              </div>
            </div>
            <div class="md-col-4 sm-col-6">
              <div class="item" data-inview-showup="showup-translate-up">
                <nuxt-link :to="{ name: 'services-item', params: { item: 'service-1' } }" class="block-link text-center">
                  <span class="image-wrap">
                    <img class="image" src="https://dummyimage.com/720x405" alt="" />
                  </span>
                  <span class="hover">
                    <span class="hover-show">
                      <span class="back"></span>
                      <span class="content"><i class="fas fa-search" aria-hidden="true"></i></span>
                    </span>
                  </span>
                </nuxt-link>
                <div class="item-content">
                  <div class="item-title text-upper">
                    <nuxt-link :to="{ name: 'services-item', params: { item: 'service-1' } }">Tablet Repair</nuxt-link>
                  </div>
                  <div class="item-text">We working hard to build a reputation of customer satisfaction through technical excellence and friendly staff
                  </div>
                  <nuxt-link :to="{ name: 'services-item', params: { item: 'service-1' } }" class="btn btn-md btns-bordered pull-right text-upper">read more</nuxt-link>
                </div>
              </div>
            </div>
            <div class="md-col-4 sm-col-6">
              <div class="item" data-inview-showup="showup-translate-up">
                <nuxt-link :to="{ name: 'services-item', params: { item: 'service-1' } }" class="block-link text-center">
                  <span class="image-wrap">
                    <img class="image" src="https://dummyimage.com/720x405" alt="" />
                  </span>
                  <span class="hover">
                    <span class="hover-show">
                      <span class="back"></span>
                      <span class="content"><i class="fas fa-search" aria-hidden="true"></i></span>
                    </span>
                  </span>
                </nuxt-link>
                <div class="item-content">
                  <div class="item-title text-upper">
                    <nuxt-link :to="{ name: 'services-item', params: { item: 'service-1' } }">Repair PC &amp; Laptop Hardware</nuxt-link>
                  </div>
                  <div class="item-text">We working hard to build a reputation of customer satisfaction through technical excellence and friendly staff
                  </div>
                  <nuxt-link :to="{ name: 'services-item', params: { item: 'service-1' } }" class="btn btn-md btns-bordered pull-right text-upper">read more</nuxt-link>
                </div>
              </div>
            </div>
            <div class="md-col-4 sm-col-6">
              <div class="item" data-inview-showup="showup-translate-up">
                <nuxt-link :to="{ name: 'services-item', params: { item: 'service-1' } }" class="block-link text-center">
                  <span class="image-wrap">
                    <img class="image" src="https://dummyimage.com/720x405" alt="" />
                  </span>
                  <span class="hover">
                    <span class="hover-show">
                      <span class="back"></span>
                      <span class="content"><i class="fas fa-search" aria-hidden="true"></i></span>
                    </span>
                  </span>
                </nuxt-link>
                <div class="item-content">
                  <div class="item-title text-upper">
                    <nuxt-link :to="{ name: 'services-item', params: { item: 'service-1' } }">Network Solution</nuxt-link>
                  </div>
                  <div class="item-text">We working hard to build a reputation of customer satisfaction through technical excellence and friendly staff
                  </div>
                  <nuxt-link :to="{ name: 'services-item', params: { item: 'service-1' } }" class="btn btn-md btns-bordered pull-right text-upper">read more</nuxt-link>
                </div>
              </div>
            </div>
        </div>
        <div class="text-center shift-xl">
          <nuxt-link :to="{ name: 'services' }" class="btn text-upper" data-inview-showup="showup-translate-up"><i class="fas fa-th-large" aria-hidden="true"></i>&nbsp;&nbsp;view all services</nuxt-link>
        </div>
      </div>
    </section>
    <section class="main-bg decorated-bg text-center tight solid-section">
      <div class="container">
        <div class="row cols-md rows-xl" data-inview-showup="showup-translate-up">
          <div class="sm-col-3">
            <div class="counter">
              <div class="counter-title text-upper">Happy client</div>
              <div class="counter-value" data-waypoint-counter="3720">3720</div>
            </div>
          </div>
          <div class="sm-col-3">
            <div class="counter">
              <div class="counter-title text-upper">Finished projects</div>
              <div class="counter-value" data-waypoint-counter="4170">4170</div>
            </div>
          </div>
          <div class="sm-col-3">
            <div class="counter">
              <div class="counter-title text-upper">Computer serviced</div>
              <div class="counter-value" data-waypoint-counter="2730">2730</div>
            </div>
          </div>
          <div class="sm-col-3">
            <div class="counter">
              <div class="counter-title text-upper">Mobile serviced</div>
              <div class="counter-value" data-waypoint-counter="1510">1510</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="content-section">
      <div class="container">
        <div class="section-head text-center container-md">
          <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">What people say</h2>
          <p data-inview-showup="showup-translate-left">Real customers reviews</p>
        </div>
        <div class="owl-carousel" data-inview-showup="showup-translate-up" data-owl-dots="true">
          <div class="item">
            <div class="simple-testimonial text-center">
              <div class="tt-title">Great customer support</div>
              <div class="tt-rating"><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i></div>
              <div class="tt-content">
                <div class="tt-quote">&#8220;</div>
                Thanks John, I was really pleased with Profix’s service. Would definitely recommend you and have alredy given out some of your business cards that were left with me. All the best for future succes.
              </div>
              <div class="tt-icon">
                <img src="/lib/images/icons/notebook-sm.png" alt="">
              </div>
              <div class="pexx-tt-user-title">Michale John</div>
              <div class="pexx-tt-user-subtitle">Co-Founder, InfoLabs</div>
            </div>
          </div>
          <div class="item">
            <div class="simple-testimonial text-center">
              <div class="tt-title">Flexible services</div>
              <div class="tt-rating"><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i></div>
              <div class="tt-content">
                <div class="tt-quote">&#8220;</div>
                Profix did great job with fixing my laptop for a good price. I recommend any body with laptop problems, they will give you excellent service to all his customers.
              </div>
              <div class="tt-icon">
                <img src="/lib/images/icons/computer-sm.png" alt="">
              </div>
              <div class="pexx-tt-user-title">Merry Smith</div>
              <div class="pexx-tt-user-subtitle">CFO, InfoTech</div>
            </div>
          </div>
          <div class="item">
            <div class="simple-testimonial text-center">
              <div class="tt-title">Excellent team</div>
              <div class="tt-rating"><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i></div>
              <div class="tt-content">
                <div class="tt-quote">&#8220;</div>
                Keep up the excellent work. Thank you so much for your help. This is simply unbelievable!
              </div>
              <div class="tt-icon">
                <img src="/lib/images/icons/printer-sm.png" alt="">
              </div>
              <div class="pexx-tt-user-title">Michale John</div>
              <div class="pexx-tt-user-subtitle">Co-Founder, InfoLabs</div>
            </div>
          </div>
          <div class="item">
            <div class="simple-testimonial text-center">
              <div class="tt-title">Flexible services</div>
              <div class="tt-rating"><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i></div>
              <div class="tt-content">
                <div class="tt-quote">&#8220;</div>
                Profix did great job with fixing my laptop for a good price. I recommend any body with laptop problems, they will give you excellent service to all his customers.
              </div>
              <div class="tt-icon">
                <img src="/lib/images/icons/mobile-sm.png" alt="">
              </div>
              <div class="pexx-tt-user-title">Merry Smith</div>
              <div class="pexx-tt-user-subtitle">CFO, InfoTech</div>
            </div>
          </div>
          <div class="item">
            <div class="simple-testimonial text-center">
              <div class="tt-title">Great customer support</div>
              <div class="tt-rating"><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i></div>
              <div class="tt-content">
                <div class="tt-quote">&#8220;</div>
                Thanks John, I was really pleased with Profix’s service. Would definitely recommend you and have alredy given out some of your business cards that were left with me. All the best for future succes.
              </div>
              <div class="tt-icon">
                <img src="/lib/images/icons/computer-sm.png" alt="">
              </div>
              <div class="pexx-tt-user-title">Michale John</div>
              <div class="pexx-tt-user-subtitle">Co-Founder, InfoLabs</div>
            </div>
          </div>
          <div class="item">
            <div class="simple-testimonial text-center">
              <div class="tt-title">Excellent team</div>
              <div class="tt-rating"><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i></div>
              <div class="tt-content">
                <div class="tt-quote">&#8220;</div>
                Keep up the excellent work. Thank you so much for your help. This is simply unbelievable!
              </div>
              <div class="tt-icon">
                <img src="/lib/images/icons/printer-sm.png" alt="">
              </div>
              <div class="pexx-tt-user-title">Michale John</div>
              <div class="pexx-tt-user-subtitle">Co-Founder, InfoLabs</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="main-bg" data-inview-showup="showup-translate-up">
      <div class="container">
        <div class="contact-table only-xs-text-center">
          <div class="contact-icon xs-hidden"><i class="fas fa-bicycle" aria-hidden="true"></i></div>
          <div class="contact-content">
            <div class="contact-title">Request free consultation</div>
            <div class="text-justify only-xs-text-justify-center">Get answers and advice from people you want it from.</div>
          </div>
          <div class="contact-btn">
            <nuxt-link :to="{ name: 'contact' }" class="btn btns-white text-upper">contact us</nuxt-link>
          </div>
        </div>
      </div>
    </section>
    <section class="text-center content-section">
      <div class="container">
        <div class="section-head text-center container-md">
            <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">We are authorized</h2>
        </div>
        <div class="owl-carousel" data-inview-showup="showup-translate-up" data-owl-responsive="2;3;4;5" data-owl-items="5">
          <div class="item">
            <a class="grayscale-link" href="#">
              <img class="image" src="https://dummyimage.com/720x405" alt="" />
            </a>
          </div>
          <div class="item">
            <a class="grayscale-link" href="#">
              <img class="image" src="https://dummyimage.com/720x405" alt="" />
            </a>
          </div>
          <div class="item">
            <a class="grayscale-link" href="#">
              <img class="image" src="https://dummyimage.com/720x405" alt="" />
            </a>
          </div>
          <div class="item">
            <a class="grayscale-link" href="#">
              <img class="image" src="https://dummyimage.com/720x405" alt="" />
            </a>
          </div>
          <div class="item">
            <a class="grayscale-link" href="#">
              <img class="image" src="https://dummyimage.com/720x405" alt="" />
            </a>
          </div>
          <div class="item">
            <a class="grayscale-link" href="#">
              <img class="image" src="https://dummyimage.com/720x405" alt="" />
            </a>
          </div>
          <div class="item">
            <a class="grayscale-link" href="#">
              <img class="image" src="https://dummyimage.com/720x405" alt="" />
            </a>
          </div>
        </div>
      </div>
    </section>
    <Maps content-position='side' />
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */

export default {
  head () {
    return {
      title: 'Indonesia Smartphone Repair',
      // titleTemplate: 'Edutore by Gramedia | '+this.metaTitle,
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        { hid: 'description', name: 'description', content: 'Selamat datang di smartphone repair terbesar di indonesia, raja repair datang untuk membantu kalian memperbaiki smartphone hanya dengan diam di rumah | with hid' },
        { property: 'og:title', content: 'Indonesia Smartphone Repair by Raja Repair' },
        { property: 'og:description', content: 'Selamat datang di smartphone repair terbesar di indonesia, raja repair datang untuk membantu kalian memperbaiki smartphone hanya dengan diam di rumah | with og desc' },
        { property: 'og:url', content: 'https://rajarepair.id' },
        { property: 'og:site_name', content: 'Raja Repair' },
        { property: 'og:image', content: 'https://cdn.rimember.id/iklan/logo-web.png' },
      ],
    }
  },
  middleware: 'router-auth',
  mounted () {
    this.$initLoad()
  },

}
</script>

<style>

</style>
