<template>
  <div>
    <RippleLoader :color="'#54f1d2'"></RippleLoader>
  </div>
</template>

<script>
  // import RippleLoader from '@bit/joshk.vue-spinners-css.ripple-loader';
  import RippleLoader from '~/components/loader/ripple.vue'
  export default (
    {
      components: {
        RippleLoader,
      },
      data: () => ({
        interval: 0,
        myInterval: null
      }),
      mounted(){
        // this.myInterval = setInterval(this.myTimer, 1000);

      },
      methods: {
        myTimer() {
          this.interval++
          if (this.interval === 10){
            clearInterval(myVar);
          }
          // let d = new Date();
          console.log('nicely done bro!!')
          console.log(this.interval)
          // let t = d.toLocaleTimeString();
          // document.getElementById("demo").innerHTML = t;
        },
        myStopFunction() {
          // clearInterval(myVar);
        }
      }
    }
  )
</script>

<style scoped>

</style>
