<template>
  <div>
    <Headers />
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back"></div>
        <div class="container page-info">
            <div class="section-alt-head container-md">
                <h1 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Advanced Search</h1>
            </div>
        </div>
        <div class="section-footer">
            <div class="container" data-inview-showup="showup-translate-down">
                <ul class="page-path">
                    <li>
                      <nuxt-link :to="{ name: 'index' }">Home</nuxt-link>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>Advanced Search</li>
                </ul>
            </div>
        </div>
    </section>
    <div class="clearfix page-sidebar-right container">
        <div class="page-content">
            <section class="content-section">
                <form class="search-form offs-xl" action="search.html" data-inview-showup="showup-translate-up">
                    <div class="row cols-md rows-md">
                        <div class="sm-col-12">
                            <div class="row cols-md rows-md">
                                <div class="sm-col-12">
                                    <div class="field-group">
                                        <div class="field-wrap">
                                            <input class="field-control" name="search" placeholder="Search Tags" required="required" />
                                            <span class="field-back"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="sm-col-6 md-col-4 lg-col-3">
                                    <div class="field-group chosen-field">
                                        <div class="field-wrap">
                                            <select class="field-control" name="sortby">
                                                <option name="sortby">Sort by</option>
                                                <option name="sortby" value="1">Newest</option>
                                                <option name="sortby" value="2">Name</option>
                                                <option name="sortby" value="3">Best match</option>
                                            </select>
                                            <span class="select-arrow"><i class="fas fa-chevron-down"></i></span>
                                            <span class="field-back"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="sm-col-6 md-col-4 lg-col-3">
                                    <div class="field-group chosen-field">
                                        <div class="field-wrap">
                                            <select class="field-control" name="date">
                                                <option name="date">Date</option>
                                                <option name="date" value="1">Today</option>
                                                <option name="date" value="2">Week</option>
                                                <option name="date" value="3">Month</option>
                                                <option name="date" value="4">Year</option>
                                            </select>
                                            <span class="select-arrow"><i class="fas fa-chevron-down"></i></span>
                                            <span class="field-back"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="sm-col-6 md-col-4 lg-col-3">
                                    <div class="field-group chosen-field">
                                        <div class="field-wrap">
                                            <select class="field-control" name="section">
                                                <option name="section">Section</option>
                                                <option name="section" value="1">Services</option>
                                                <option name="section" value="2">Project</option>
                                                <option name="section" value="3">Blog</option>
                                                <option name="section" value="4">Shop</option>
                                            </select>
                                            <span class="select-arrow"><i class="fas fa-chevron-down"></i></span>
                                            <span class="field-back"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sm-col-12">
                            <button class="btn text-upper" type="submit">
                                New Search
                            </button>
                        </div>
                    </div>
                </form>
                <div class="search-title" data-inview-showup="showup-translate-up">Search Results for:
                    <span class="colorful">computer</span>
                </div>
                <div class="search-item" data-inview-showup="showup-translate-up">
                    <h3 class="search-item-title">What is BGA</h3>
                    <div class="search-item-text">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure dig...
                    </div>
                    <a class="text-upper text-medium" href="service.html">read more</a>
                </div>
                <div class="search-item" data-inview-showup="showup-translate-up">
                    <h3 class="search-item-title">Basic of computer</h3>
                    <div class="search-item-text">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure dig...
                    </div>
                    <a class="text-upper text-medium" href="service.html">read more</a>
                </div>
                <div class="search-item" data-inview-showup="showup-translate-up">
                    <h3 class="search-item-title">What is BGA</h3>
                    <div class="search-item-text">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure dig...
                    </div>
                    <a class="text-upper text-medium" href="service.html">read more</a>
                </div>
                <div class="search-item" data-inview-showup="showup-translate-up">
                    <h3 class="search-item-title">Basic of computer</h3>
                    <div class="search-item-text">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure dig...
                    </div>
                    <a class="text-upper text-medium" href="service.html">read more</a>
                </div>
                <div class="text-center shift-lg" data-inview-showup="showup-translate-up">
                    <div class="paginator">
                        <a href="#" class="previous"><i class="fas fa-angle-left" aria-hidden="true"></i></a>
                        <span class="active">2</span>
                        <a href="#">3</a>
                        <span>...</span>
                        <a href="#">12</a>
                        <a href="#" class="next"><i class="fas fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </section>
        </div>
        <aside class="page-sidebar content-section">
            <section class="side-content-section" data-inview-showup="showup-translate-up">
                <h5 class="shift-sm offs-md">Our Services</h5>
                <ul class="spaced-list text-medium solid-color">
                    <li>
                        <a class="muted-solid-link block-md" href="#">Data becup & recovery</a>
                    </li>
                    <li>
                        <a class="muted-solid-link block-md" href="#">Repair smartphone</a>
                    </li>
                    <li>
                        <a class="muted-solid-link block-md" href="#">Laptop & Mac upgrade</a>
                    </li>
                    <li>
                        <a class="muted-solid-link block-md" href="#">Tablet repair</a>
                    </li>
                    <li>
                        <a class="muted-solid-link block-md" href="#">Network solution</a>
                    </li>
                </ul>
            </section>
            <div class="line-sides main-bg out-lg" data-inview-showup="showup-translate-up"></div>
            <section class="side-content-section" data-inview-showup="showup-translate-up">
                <h5 class="shift-sm offs-md">Categories</h5>
                <ul class="list text-medium solid-color text-upper">
                    <li>
                        <a href="#"><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;computer</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;micro chip repair</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;technology</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;iphone</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;replace</a>
                    </li>
                </ul>
            </section>
            <div class="line-sides main-bg out-lg" data-inview-showup="showup-translate-up"></div>
            <section class="side-content-section" data-inview-showup="showup-translate-up">
                <div class="block-md muted-bg">
                    <h5 class="text-upper">Free consultation</h5>
                    <p>Get answers and advice from people you want it from.</p>
                    <div class="buttons-block text-right">
                        <a class="btn btn-md text-upper" href="contact-us.html">contact us</a>
                    </div>
                </div>
            </section>
        </aside>
    </div>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
export default {
  mounted () {
    this.$initLoad()
  }
}
</script>

<style>

</style>
