<template>
  <div class="block-cart collapse" data-block="cart" data-show-block-class="animation-scale-top-right" data-hide-block-class="animation-unscale-top-right">
    <div class="cart-inner">
      <a href="#" class="close-link" data-close-block><i class="fas fa-times" aria-hidden="true"></i></a>
      <h4 class="text-upper text-center">Your cart</h4>
      <div class="items">
        <div class="items collapse" data-block="cart" data-show-block-class="animation-scale-top-right" data-hide-block-class="animation-unscale-top-right">
          <div class="shop-side-item cart-item">
            <a href="#" class="remove"><i class="fas fa-times"></i></a>
            <div class="item-side-image">
              <nuxt-link :to="{ name: 'shop-item', params: { item: 'shop-item-1' } }" class="item-image responsive-1by1">
                <img src="https://via.placeholder.com/500x500" alt="" />
              </nuxt-link>
            </div>
            <div class="item-side">
              <div class="item-title">
                <a class="item-label-sm item-label-sale item-label" href="#">sale</a>
                <nuxt-link :to="{ name: 'shop-item', params: { item: 'shop-item-1' } }" class="content-link text-upper">USB 3.0 HUB</nuxt-link>
              </div>
              <div class="item-quantity">Quantity - 1</div>
              <div class="item-prices">
                <div class="item-price">$67.05</div>
                <div class="item-old-price">$102.5</div>
              </div>
            </div>
          </div>
          <div class="shop-side-item cart-item">
            <a href="#" class="remove"><i class="fas fa-times"></i></a>
            <div class="item-side-image">
              <nuxt-link :to="{ name: 'shop-item', params: { item: 'shop-item-1' } }" class="item-image responsive-1by1">
                <img src="https://via.placeholder.com/500x500" alt="" />
              </nuxt-link>
            </div>
            <div class="item-side">
              <div class="item-title">
                <a class="item-label-sm item-label-new item-label" href="#">new</a>
                <nuxt-link :to="{ name: 'shop-item', params: { item: 'shop-item-1' } }" class="content-link text-upper">Cable Organizer</nuxt-link>
              </div>
              <div class="item-quantity">Quantity - 1</div>
              <div class="item-prices">
                <div class="item-price">$15.25</div>
              </div>
            </div>
          </div>
          <div class="shop-side-item cart-item">
            <a href="#" class="remove"><i class="fas fa-times"></i></a>
            <div class="item-side-image">
              <nuxt-link :to="{ name: 'shop-item', params: { item: 'shop-item-1' } }" class="item-image responsive-1by1">
                <img src="https://via.placeholder.com/500x500" alt="" />
              </nuxt-link>
            </div>
            <div class="item-side">
              <div class="item-title">
                <nuxt-link :to="{ name: 'shop-item', params: { item: 'shop-item-1' } }" class="content-link text-upper">10" Octa Core Tablet</nuxt-link>
              </div>
              <div class="item-quantity">Quantity - 1</div>
              <div class="item-prices">
                <div class="item-price">$145.99</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="line-sides main-bg shift-lg"></div>
      <div class="row out-md">
        <div class="col-6 cart-price-title">Subtotal:</div>
        <div class="col-6 text-right cart-price">$105.20</div>
      </div>
      <div class="line-sides main-bg offs-lg"></div>
      <div class="clearfix">
        <nuxt-link :to="{ name: 'cart' }" class="btn text-upper btn-md btns-bordered pull-left">view cart</nuxt-link>
        <nuxt-link :to="{ name: 'checkout' }" class="btn text-upper btn-md pull-right">checkout</nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>
