<template>
  <div class="singlepage-block collapse alt-bg chat-area" data-block="chat" data-show-block-class="animation-scale-top-right" data-hide-block-class="animation-unscale-top-right">
    <div class="col-12 chat-inner">
      <div class="chat-inner-content">
        <div class="chat-head">
          <div style="padding: 10px;">
            <img src="http://themesbox.in/admin-templates/gappa/html/dark/assets/images/girl.svg" class="img-profile">
            <div style="float: right;">
              <span class="ic-right">
                <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
              </span>
              <a href="#" data-close-block class="ic-right">
                <i class="fas fa-times" aria-hidden="true"></i>
              </a>
            </div>
            <div class="content-profile">
              <div class="name">
                Emily Cook
              </div>
              <div class="online">
                Online
              </div>
            </div>
          </div>
        </div>
        <div class="chat-body" ref="chatBody" style="background-image: url(http://themesbox.in/admin-templates/gappa/html/dark/assets/images/authentication-bg.jpg);">
          <div style="position: relative;">
            <div class="chat-day">
              <span>Today</span>
            </div>
            <div v-for="(message, index) in listMessage" :key="index">
              <div v-if="message.messageUser === 'me'" class="chat-message chat-message-right">
                <div class="chat-message-text">
                  <span>{{message.messageText}}</span>
<!--                  <span>Hello! please, let me know the status about project after school.</span>-->
                </div>
                <div class="chat-message-meta">
                  <span>4:18 pm<i class="fas fa-check"></i></span>
                </div>
              </div>
              <div v-if="message.messageUser !== 'me'" class="chat-message chat-message-left">
                <div class="chat-message-text">
                  <span>{{message.messageText}}</span>
<!--                  <span>I have completed 4 stages 5 stages remaining.</span>-->
                </div>
                <div class="chat-message-meta">
                  <span>4:20 pm<i class="fas fa-check"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-bottom">
          <div class="chat-action">
            <span @click="messageSend()" class="ic-act">
              <i class="fas fa-paper-plane" aria-hidden="true"></i>
            </span>
          </div>
          <div class="input">
            <input @keyup="onEnter" v-model="messageText" type="text" placeholder="Type a message ...">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    messageText: '',
    listMessage: [
      { messageText: 'Hello! please, let me know the status about project after school', messageTime: '', messageUser: 'me'},
      { messageText: 'I have completed 4 stages 5 stages remaining.', messageTime: '', messageUser: 'tech'},
      { messageText: 'Great! Thanks.', messageTime: '', messageUser: 'me'},
      { messageText: 'Are listening to me ?', messageTime: '', messageUser: 'me'},
      { messageText: 'yeah, of coursee,, what do yo want ??', messageTime: '', messageUser: 'tech'},
      { messageText: 'heh. its okayy.. im just kidding broo. relax, child dude', messageTime: '', messageUser: 'me'},
    ]
  }),
  methods: {
    onEnter(e){
      if (e.keyCode === 13) {
        this.listMessage.push({ messageText: this.messageText, messageTime: '', messageUser: 'me'})
        // console.log(this.$refs.chatBody)
        // console.log(messageDisplay.scrollHeight)
        // alert('Enter was pressed');
      } else if (e.keyCode === 50) {
        // alert('@ was pressed');
      }else{
        // console.log('another key pressed')
      }
      this.scrollToBottom()
    },
    scrollToBottom (firstLoad) {
      console.log(firstLoad)
      const _t = this
      const elChatMessage = document.getElementById('chat-body')
      if (elChatMessage) {
        if (firstLoad) {
          setTimeout(function () {
            $('#chat-body').animate({ scrollTop: elChatMessage.scrollHeight }, 500)
          }, 300)
        } else {
          $('#chat-body').animate({ scrollTop: elChatMessage.scrollHeight }, 500)
        }
      }
    },
    messageSend(){
      console.log(this.listMessage)
      this.listMessage.push({ messageText: this.messageText, messageTime: '', messageUser: 'me'})
    }
  },
  mounted() {
  }
}
</script>
