<template>
<!--  <a href="#" class="scroll-top disabled"><i class="fas fa-angle-up" aria-hidden="true"></i></a>-->
  <div class="container">
<!--    <client-only>-->
    <beautiful-chat
      :participants="participants"
      :titleImageUrl="titleImageUrl"
      :onMessageWasSent="onMessageWasSent"
      :messageList="messageList"
      :newMessagesCount="newMessagesCount"
      :isOpen="isChatOpen"
      :close="closeChat"
      :icons="icons"
      :open="openChat"
      :showEmoji="true"
      :showFile="true"
      :showTypingIndicator="showTypingIndicator"
      :colors="colors"
      :alwaysScrollToBottom="alwaysScrollToBottom"
      :messageStyling="messageStyling"
      @onType="handleOnType"
      @edit="editMessage">
    </beautiful-chat>
<!--    </client-only>-->
  </div>
</template>

<script>
  import CloseIcon from 'vue-beautiful-chat/src/assets/close-icon.png'
  import OpenIcon from 'vue-beautiful-chat/src/assets/logo-no-bg.svg'
  import FileIcon from 'vue-beautiful-chat/src/assets/file.svg'
  import CloseIconSvg from 'vue-beautiful-chat/src/assets/close.svg'
  import { db } from "~/plugins/firebase"

  export default {
    props: ['messages'],
    data() {
      return {
        icons:{
          open:{
            img: OpenIcon,
            name: 'default',
          },
          close:{
            img: CloseIcon,
            name: 'default',
          },
          file:{
            img: FileIcon,
            name: 'default',
          },
          closeSvg:{
            img: CloseIconSvg,
            name: 'default',
          },
        },
        participants: [
          {
            id: 'user1',
            name: 'Matteo',
            imageUrl: 'https://cdn.rimember.id/web-images/member-images/default-images.png'
          },
          {
            id: 'user2',
            name: 'Support',
            imageUrl: 'https://cdn.rimember.id/web-images/member-images/default-images.png'
          }
        ], // the list of all the participant of the conversation. `name` is the user name, `id` is used to establish the author of a message, `imageUrl` is supposed to be the user avatar.
        titleImageUrl: 'https://a.slack-edge.com/66f9/img/avatars-teams/ava_0001-34.png',
        messageList: [
          { type: 'text', author: `me`, data: { text: `Say yes!` } },
          { type: 'text', author: `user1`, data: { text: `No.` } },
          { type: 'text', author: `user1`, data: { text: `No.` } },
          { type: 'text', author: `user1`, data: { text: `No.` } },
          { type: 'text', author: `user1`, data: { text: `No.` } },
          // { type: 'text', author: `me`, data: { text: `BACOT` } },
        ], // the list of the messages to show, can be paginated and adjusted dynamically
        newMessagesCount: 0,
        resultMessage: [],
        overrideResult: [],
        isChatOpen: false, // to determine whether the chat window should be open or closed
        showTypingIndicator: '', // when set to a value matching the participant.id it shows the typing indicator for the specific user
        colors: {
          header: {
            bg: '#4e8cff',
            text: '#ffffff'
          },
          launcher: {
            bg: '#4e8cff'
          },
          messageList: {
            bg: '#ffffff'
          },
          sentMessage: {
            bg: '#4e8cff',
            text: '#ffffff'
          },
          receivedMessage: {
            bg: '#eaeaea',
            text: '#222222'
          },
          userInput: {
            bg: '#f4f7f9',
            text: '#565867'
          }
        }, // specifies the color scheme for the component
        alwaysScrollToBottom: false, // when set to true always scrolls the chat to the bottom when new events are in (new message, user starts typing...)
        messageStyling: true // enables *bold* /emph/ _underline_ and such (more info at github.com/mattezza/msgdown)
      }
    },
    methods: {
      readMessage(){
        // READ
        let data = db.ref('chat/1579120792')
        let self = this;
        data.on('value', function(snapshot) {
          // this.messageList = snapshot.val()
          console.log(snapshot.val())
            // console.log(this.messageList)
          self.resultMessage = snapshot.val();
        });
        Object.entries(this.resultMessage).forEach(([key, val]) => {
          let chat = {
            type: 'text',
            author: val.messageUser.split('-')[0] === 'user' ? 'me' : val.messageUser,
            data: {
              text: val.messageText
            }
          }
          // this.messageList.push(chat)
          this.overrideResult.push(chat)
          // console.log(key); // the name of the current key.
          // console.log(val); // the value of the current key.
        });
        // console.log(this.overrideResult)
      },
      sendMessage (text) {
        if (text.length > 0) {
          this.newMessagesCount = this.isChatOpen ? this.newMessagesCount : this.newMessagesCount + 1
          this.onMessageWasSent({ author: 'support', type: 'text', data: { text } })
        }
      },
      onMessageWasSent (message) {
        // called when the user sends a message
        this.messageList = [ ...this.messageList, message ]
      },
      openChat () {
        // called when the user clicks on the fab button to open the chat

        // this.messageList = this.overrideResult
        console.log(this.overrideResult)
        this.isChatOpen = true
        this.newMessagesCount = 0
      },
      closeChat () {
        // called when the user clicks on the botton to close the chat
        this.isChatOpen = false
      },
      handleScrollToTop () {
        // called when the user scrolls message list to top
        // leverage pagination for loading another page of messages
      },
      handleOnType () {
        console.log('Emit typing event')
      },
      editMessage(message){
        const m = this.messageList.find(m=>m.id === message.id);
        m.isEdited = true;
        m.data.text = message.data.text;
      }
    },
    mounted(){
      this.readMessage()
      console.log(this.messages)
    },
    created(){
      // this.readMessage()

      // console.log(db.ref('chat/1568571044'))
      // WRITE
      // db.ref('chat/'+'1579120792').push({
      //   messageText: 'woi ini dari web sesi 2',
      //   messageTime: parseInt(this.$moment().format('x')),
      //   messageUser: 'user-4',
      // })

    }
}
</script>
