<template>
  <div class="singlepage-block collapse alt-bg chat-area" data-block="chat" data-show-block-class="animation-scale-top-right" data-hide-block-class="animation-unscale-top-right">
    <div class="col-12 chat-inner">
      <div class="chat-inner-content">
        <div class="chat-head">
          <div style="padding: 10px;">
            <img src="https://cdn.rajarepair.id/assets/image/girl.svg" class="img-profile">
            <div style="float: right;">
              <span class="ic-right">
                <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
              </span>
              <a href="#" data-close-block class="ic-right" @click="$store.commit('chat/openChat', false)">
                <i class="fas fa-times" aria-hidden="true"></i>
              </a>
            </div>
            <div class="content-profile">
<!--              <div class="name">-->
<!--                Emily Cook-->
<!--              </div>-->
<!--              <div class="online">-->
<!--                Online-->
<!--              </div>-->
              <div class="name">
                {{$store.state.chat.techName}}
              </div>
              <div class="online">
                Order ID : {{$store.state.chat.no_order}}
              </div>
            </div>
          </div>
        </div>
        <div id="chat-body" class="chat-body" style="background-image: url(https://cdn.rajarepair.id/assets/image/authentication-bg.jpg);">
          <div style="position: relative;">
            <div class="chat-day">
              <span>Today</span>
            </div>
            <div v-for="(chat, index) in messages" :key="index" :class="[chat.messageUser.split('-')[0] === 'user' ? 'chat-message-right' : 'chat-message-left']" class="chat-message">
              <div class="chat-message-text">
                <span>{{ chat.messageText }}</span>
              </div>
              <div class="chat-message-meta">
                <span>{{ chat.messageTime }}<i class="fas fa-check"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-bottom">
          <div class="chat-action">
            <span class="ic-act" @click.prevent="replyMessage()">
              <i class="fas fa-paper-plane" aria-hidden="true"></i>
            </span>
          </div>
          <div class="input">
            <input v-model="messageToSent" type="text" placeholder="Type a message ..." @keypress.enter="replyMessage()">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable */
  import { mapState } from 'vuex'
  export default {
    data () {
      return {
        messageToSent: '',
      }
    },
    computed: {
      ...mapState('chat', {
        messages: state => state.messages,
        chatOpened: state => state.chatOpened,
        replyFromTech: state => state.replyFromTech
      })
    },
    methods: {
      scrollToBottom (firstLoad) {
        const _t = this
        const elChatMessage = document.getElementById('chat-body')
        if (elChatMessage) {
          if (firstLoad) {
            setTimeout(function () {
              $('#chat-body').animate({ scrollTop: elChatMessage.scrollHeight }, 500)
            }, 300)
          } else {
            $('#chat-body').animate({ scrollTop: elChatMessage.scrollHeight }, 500)
          }
        }
      },
      sendMessage () {
        this.$store.commit('chat/addMessage', {
          messageText: this.messageToSent ? this.messageToSent : 'No Message',
          messageUser: 'me',
          messageTime: '4:18 pm'
        })

        this.scrollToBottom()
      },
      replyMessage () {
        console.log(this.$moment().format('hh:mm a'))
        this.$store.commit('chat/replyMessage', {
          messageText: this.messageToSent ? this.messageToSent : 'No Message',
          messageUser: 'user-'+this.$store.state.auth.user.id,
          messageTime: parseInt(this.$moment().format('x'))
        })
        this.messageToSent = ''
        this.scrollToBottom()
      },
      loadMessages () {
        this.scrollToBottom(true)
      }
    },
    watch: {
      chatOpened: function (v) {
        // Load Messages when Chat Window Opened
        // console.log(v)
        if (v) {
          this.loadMessages()
          $('body').css('overflow-y', 'hidden')
        } else {
          $('body').css('overflow-y', 'auto')
        }
      },
      replyFromTech: function () {
        this.scrollToBottom()
        // Load Messages when Chat Window Opened
       // console.log('its reply from tech')
      },
    }
  }
</script>
