<template>
  <footer class="footer">
    <div class="container only-xs-text-justify-center">
      <div class="solid-section">
        <div class="row cols-md">
          <div class="sm-col-3">
            <div class="footer-logo">
              <img src="~/assets/img/logo-web.png" alt="rajarepair" />
            </div>
            <div class="footer-text sm-text-justify">{{$store.state.web.rr_desc}}</div>
          </div>
          <div class="sm-col-8 sm-push-1">
            <div class="row cols-md">
              <div class="sm-col-4">
                <div class="footer-title alt-color text-upper">Address</div>
                <div class="footer-text">{{$store.state.web.address}},<br/>{{$store.state.web.city}}</div>
              </div>
              <div class="sm-col-4">
                <div class="footer-title alt-color text-upper">Contacts</div>
                <div class="footer-text">{{$store.state.web.hotline}}<br/>{{$store.state.web.email}}</div>
              </div>
              <div class="sm-col-4">
                <div class="footer-title alt-color text-upper">Socials</div>
                <div class="cols-list socials cols-sm inline-block">
                  <a v-if="$store.state.web.facebook" :href="$store.state.web.facebook" target="_blank" class="list-item"><i class="fab fa-facebook-f" aria-hidden="true"></i>
                  </a>
                  <a v-if="$store.state.web.twitter" :href="$store.state.web.twitter" target="_blank" class="list-item"><i class="fab fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a v-if="$store.state.web.pinterest" :href="$store.state.web.pinterest" target="_blank" class="list-item"><i class="fab fa-pinterest" aria-hidden="true"></i>
                  </a>
                  <a v-if="$store.state.web.google" :href="$store.state.web.google" target="_blank" class="list-item"><i class="fab fa-google-plus-g" aria-hidden="true"></i>
                  </a>
                  <a v-if="$store.state.web.dribbble" :href="$store.state.web.dribbble" target="_blank" class="list-item"><i class="fab fa-dribbble" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyrights text-center top-separator ins-md">&copy; 2021 <b>RajaRepair</b>. All Rights Reserved | v{{$store.state.setting.version_control}}</div>
    </div>
  </footer>
</template>

<script>
export default {
  mounted(){
    // console.log(this.$store.state.web)
  }
}
</script>
