<template>
  <footer class="footer footer-simple alt-bg">
      <div class="container only-xs-text-justify-center ins-md">
          <div class="row">
              <div class="sm-col-7 sm-push-5 text-right">
                  <div class="cols-list social-blocks">
                    <a v-if="$store.state.web.facebook" :href="$store.state.web.facebook" target="_blank" class="list-item"><i class="fab fa-facebook-f" aria-hidden="true"></i>
                    </a>
                    <a v-if="$store.state.web.twitter" :href="$store.state.web.twitter" target="_blank" class="list-item"><i class="fab fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a v-if="$store.state.web.pinterest" :href="$store.state.web.pinterest" target="_blank" class="list-item"><i class="fab fa-pinterest" aria-hidden="true"></i>
                    </a>
                    <a v-if="$store.state.web.google" :href="$store.state.web.google" target="_blank" class="list-item"><i class="fab fa-google-plus-g" aria-hidden="true"></i>
                    </a>
                    <a v-if="$store.state.web.dribbble" :href="$store.state.web.dribbble" target="_blank" class="list-item"><i class="fab fa-dribbble" aria-hidden="true"></i>
                    </a>
                  </div>
              </div>
              <div class="sm-col-5 sm-pull-7">
                  <div class="footer-copyrights">&copy; 2017 <b>ProFix</b>. All Rights Reserved</div>
              </div>
          </div>
      </div>
  </footer>
</template>

<script>
export default {

}
</script>
