<template>
  <footer class="footer">
      <div class="container only-xs-text-justify-center">
          <div class="solid-section">
              <div class="row cols-md">
                  <div class="sm-col-3">
                      <div class="footer-logo">
                          <img src="https://via.placeholder.com/180x50" alt="ProFix" />
                      </div>
                      <div class="footer-text sm-text-justify">Profix is a Premium PSD Template. Best choice for your online store. Let purchase it to enjoy now</div>
                  </div>
                  <div class="sm-col-8 sm-push-1">
                      <div class="row cols-md">
                          <div class="sm-col-4">
                              <div class="footer-title alt-color text-upper">Address</div>
                              <div class="footer-text">Sidestate NSW 4132,
                                  <br/>Australia</div>
                          </div>
                          <div class="sm-col-4">
                              <div class="footer-title alt-color text-upper">Contacts</div>
                              <div class="footer-text">(555) 555-0312
                                  <br/>info@profix.com</div>
                          </div>
                          <div class="sm-col-4">
                              <div class="footer-title alt-color text-upper">Socials</div>
                              <div class="cols-list socials cols-sm inline-block">
                                <a v-if="$store.state.web.facebook" :href="$store.state.web.facebook" target="_blank" class="list-item"><i class="fab fa-facebook-f" aria-hidden="true"></i>
                                </a>
                                <a v-if="$store.state.web.twitter" :href="$store.state.web.twitter" target="_blank" class="list-item"><i class="fab fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a v-if="$store.state.web.pinterest" :href="$store.state.web.pinterest" target="_blank" class="list-item"><i class="fab fa-pinterest" aria-hidden="true"></i>
                                </a>
                                <a v-if="$store.state.web.google" :href="$store.state.web.google" target="_blank" class="list-item"><i class="fab fa-google-plus-g" aria-hidden="true"></i>
                                </a>
                                <a v-if="$store.state.web.dribbble" :href="$store.state.web.dribbble" target="_blank" class="list-item"><i class="fab fa-dribbble" aria-hidden="true"></i>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="footer-copyrights text-center top-separator ins-md">&copy; 2017 <b>ProFix</b>. All Rights Reserved</div>
      </div>
  </footer>
</template>

<script>
export default {

}
</script>
