<template>
  <header class="header header-over">
      <input id="header-default" type="radio" class="collapse" checked="checked" name="siteheader" />
      <input id="header-shown" type="radio" class="collapse" name="siteheader" />
      <input id="header-hidden" type="radio" class="collapse" name="siteheader" />
      <div class="infobar transparent bottom-separator xs-hidden">
          <div class="container">
              <div class="cols-list pull-left cols-md">
                  <div class="list-item">
                      <span class="info-icon"><i class="fas fa-home" aria-hidden="true"></i></span>Sidestate NSW 4132, Australia
                  </div>
                  <div class="list-item">
                      <span class="info-icon"><i class="fas fa-phone"></i></span>Help: + 88 018 4113 6251
                  </div>
              </div>
              <div class="cols-list pull-right cols-md socials">
                  <div class="list-item">
                    <a href="#" data-show-block="chat">
                      <i class="fas fa-comment" aria-hidden="true"></i>
                    </a>
                  </div>
                  <div class="list-item">
                      <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i>
                      </a>
                  </div>
                  <div class="list-item">
                      <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i>
                      </a>
                  </div>
                  <div class="list-item">
                      <a href="#"><i class="fab fa-pinterest" aria-hidden="true"></i>
                      </a>
                  </div>
                  <div class="list-item">
                      <a href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i>
                      </a>
                  </div>
                  <div class="list-item">
                      <a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i>
                      </a>
                  </div>
              </div>
          </div>
      </div>
      <nav class="stick-menu menu-wrap simple line transparent">
          <div class="menu-container menu-row">
              <div class="logo">
                  <a href="index.html">
                      <img src="http://via.placeholder.com/210x60" alt="ProFix" />
                  </a>
              </div>
              <div class="header-toggler pull-right xs-shown">
                  <label class="header-shown-sign" for="header-hidden"><i class="fas fa-times" aria-hidden="true"></i></label>
                  <label class="header-hidden-sign" for="header-shown"><i class="fas fa-bars" aria-hidden="true"></i></label>
              </div>
              <div class="clearfix xs-shown"></div>
              <MenuNav />
          </div>
      </nav>
  </header>
</template>

<script>
export default {

}
</script>
