<template>
  <header class="header header-over">
      <input id="header-default" type="radio" class="collapse" checked="checked" name="siteheader" />
      <input id="header-shown" type="radio" class="collapse" name="siteheader" />
      <input id="header-hidden" type="radio" class="collapse" name="siteheader" />
      <div class="infobar transparent bottom-separator xs-hidden transparent">
          <div class="container">
              <div class="cols-list pull-left cols-md">
                  <div class="list-item">
                      <span class="info-icon"><i class="fas fa-home" aria-hidden="true"></i></span>Sidestate NSW 4132, Australia
                  </div>
                  <div class="list-item">
                      <span class="info-icon"><i class="fas fa-phone"></i></span>Help: + 88 018 4113 6251
                  </div>
              </div>
              <div class="cols-list pull-right cols-md socials">
                  <div class="list-item">
                    <a href="#" data-show-block="chat">
                      <i class="fas fa-comment" aria-hidden="true"></i>
                    </a>
                  </div>
                  <div class="list-item">
                      <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i>
                      </a>
                  </div>
                  <div class="list-item">
                      <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i>
                      </a>
                  </div>
                  <div class="list-item">
                      <a href="#"><i class="fab fa-pinterest" aria-hidden="true"></i>
                      </a>
                  </div>
                  <div class="list-item">
                      <a href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i>
                      </a>
                  </div>
                  <div class="list-item">
                      <a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i>
                      </a>
                  </div>
              </div>
          </div>
      </div>
      <nav class="menu-wrap contacts line transparent">
          <div class="menu-container">
              <div class="menu-row sm-stick-hide">
                  <div class="logo">
                      <a href="index.html">
                          <img src="http://via.placeholder.com/210x60" alt="ProFix" />
                      </a>
                  </div>
                  <div class="menu-col xs-hidden sm-hidden text-right">
                      <div class="side-icon-block text-upper">
                          <div class="icon"><i class="fas fa-phone" aria-hidden="true"></i></div>
                          <div>Contact us</div>
                          <div class="colorful">(555) 555-0312</div>
                      </div>
                  </div>
                  <div class="menu-col xs-hidden text-center">
                      <div class="side-icon-block text-upper">
                          <div class="icon"><i class="far fa-clock" aria-hidden="true"></i></div>
                          <div>Working time</div>
                          <div class="colorful">mon - sat: 10:00 - 18:00</div>
                      </div>
                  </div>
                  <div class="menu-btn xs-hidden">
                      <a href="contact-us.html" class="btn text-upper">Make an appointment</a>
                  </div>
                  <div class="header-toggler xs-shown pull-right">
                      <label class="header-shown-sign" for="header-hidden"><i class="fas fa-times" aria-hidden="true"></i></label>
                      <label class="header-hidden-sign" for="header-shown"><i class="fas fa-bars" aria-hidden="true"></i></label>
                  </div>
                  <div class="clearfix xs-shown"></div>
              </div>
              <div class="stick-menu menu-row">
                  <MenuNav />
              </div>
          </div>
      </nav>
  </header>
</template>

<script>
export default {

}
</script>
