<template>
  <header :class="[$route.name === 'index' || $route.name === 'logout' ? 'header header-over' : 'header']">
    <input id="header-default" type="radio" class="collapse" checked="checked" name="siteheader" />
    <input id="header-shown" type="radio" class="collapse" name="siteheader" />
    <input id="header-hidden" type="radio" class="collapse" name="siteheader" />
    <div :class="[$route.name === 'index' || $route.name === 'logout' ? 'infobar transparent bottom-separator xs-hidden' : 'infobar xs-hidden']">
      <div class="container">
        <div class="cols-list pull-left cols-md">
          <div class="list-item">
            <span class="info-icon"><i class="fas fa-home" aria-hidden="true"></i></span>{{ $store.state.web.home }}
          </div>
          <div class="list-item">
            <span class="info-icon"><i class="fas fa-phone"></i></span>{{ $store.state.web.phone }}
          </div>
        </div>
        <div class="cols-list pull-right cols-md socials">
<!--          <div class="list-item">-->
<!--            <a href="#" data-show-block="chat">-->
<!--              <i class="fas fa-comment" aria-hidden="true" @click="$store.commit('chat/openChat', true)"></i>-->
<!--            </a>-->
<!--          </div>-->
          <div class="list-item">
            <a v-if="$store.state.web.twitter" :href="$store.state.web.twitter" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i>
            </a>
          </div>
          <div class="list-item">
            <a v-if="$store.state.web.facebook" :href="$store.state.web.facebook" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i>
            </a>
          </div>
          <div class="list-item">
            <a v-if="$store.state.web.pinterest" :href="$store.state.web.pinterest" target="_blank"><i class="fab fa-pinterest" aria-hidden="true"></i>
            </a>
          </div>
          <div class="list-item">
            <a v-if="$store.state.web.google" :href="$store.state.web.google" target="_blank"><i class="fab fa-google-plus-g" aria-hidden="true"></i>
            </a>
          </div>
          <div class="list-item">
            <a v-if="$store.state.web.dribbble" :href="$store.state.web.dribbble" target="_blank"><i class="fab fa-dribbble" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <nav :class="[$route.name === 'index' || $route.name === 'logout'  ? 'stick-menu menu-wrap simple line transparent' : 'stick-menu menu-wrap simple line']">
      <div class="menu-container menu-row">
        <div class="logo">
          <nuxt-link :to="{ name: 'index' }">
            <img src="~/assets/img/logo-web.png" alt="rajarepair" />
          </nuxt-link>
        </div>
        <div class="header-toggler pull-right xs-shown">
          <label class="header-shown-sign" for="header-hidden"><i class="fas fa-times" aria-hidden="true"></i></label>
          <label class="header-hidden-sign" for="header-shown"><i class="fas fa-bars" aria-hidden="true"></i></label>
        </div>
        <div class="clearfix xs-shown"></div>
        <MenuNav />
      </div>
    </nav>
  </header>
</template>

<script>
export default {
  methods: {

  }
}
</script>
