<template>
  <div class="loader-block">
    <div class="loader-back alt-bg"></div>
    <div class="loader-image">
      <img class="image" src="/lib/images/parts/loader.gif" alt="" />
    </div>
  </div>
</template>

<script>
export default {

}
</script>
