<template>
  <section class="map-section" data-inview-showup="showup-translate-right">
    <!-- <div class="gmap" data-lat="" data-lng=""></div> -->
    <gmap-map class="gmap" :center="{lat:-6.903429, lng:107.6081276}" :zoom="12">
      <gmap-marker :position="{lat:-6.903429, lng:107.6081276}">
      </gmap-marker>
      <gmap-marker :position="{lat:-6.8799501, lng:107.6281325}">
      </gmap-marker>
      <gmap-info-window :position="{lat:-6.903429, lng:107.6081276}">
        Here is Bandung
      </gmap-info-window>
      <gmap-info-window :position="{lat:-6.8799501, lng:107.6281325}">
        Here is Cimenyan
      </gmap-info-window>
    </gmap-map>
    <div class="info-wrap" :class="[vposition]">
      <div class="info-container">
        <div class="our-info main-bg" :class="[hposition]">
          <div class="info-block">
            <div class="info-title text-upper">Contact Us</div>
            <div class="info-line">
              <span class="info-icon"><i class="fas fa-map-marker-alt fa-fw" aria-hidden="true"></i></span>{{$store.state.web.address}}</div>
            <div class="info-line">
              <span class="info-icon"><i class="fas fa-phone fa-fw" aria-hidden="true"></i></span>{{$store.state.web.hotline}}</div>
            <div class="info-line">
              <span class="info-icon"><i class="far fa-envelope fa-fw" aria-hidden="true"></i></span>{{$store.state.web.email}}</div>
          </div>
          <div class="info-block">
            <div class="info-title text-upper">Opening Hours</div>
            <div class="info-line">Monday-Friday
              <span class="pull-right">10:00 - 18:00</span>
            </div>
            <div class="info-line">Saturday, Sunday
              <span class="pull-right">Closed</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    hposition: {
      type: String,
      default: ''
    },
    vposition: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    map2: {
      center: {
        lat: 41.9027835,
        lng: 12.4963655
      },
      zoom: 13
    },
    // markerIcon: require('~/assets/img/map-marker-main.svg'),
    markers: [
      {
        id: 1,
        title: 'Romes Colosseum',
        position: {
          lat: 41.8902102,
          lng: 12.4922309
        }
      },
      {
        id: 2,
        title: 'Pantheon',
        position: {
          lat: 41.8986108,
          lng: 12.4768729
        }
      }
    ],
    origin: [41.8902102, 12.4922309],
    destination: [41.8991632, 12.4730739],
    autocompleteVal: 'Rome'
  }),
  methods: {
    getRoute () {
      var self = this;
      this.directionsService = new google.maps.DirectionsService();
      this.directionsDisplay = new google.maps.DirectionsRenderer({
        polylineOptions: {
          strokeColor: "#4527A0"
        }
      });
      this.directionsDisplay.setMap(this.$refs.map2.$mapObject);
      self.directionsService.route({
        origin: { lat: this.origin[0], lng: this.origin[1] },
        destination: { lat: this.destination[0], lng: this.destination[1] },
        travelMode: 'DRIVING'
      }, function (response, status) {
        if (status === 'OK') {
          self.directionsDisplay.setDirections(response)
        } else {
          console.log('Directions request failed due to ' + status)
        }
      })
    },
  },
  mounted() {
  }
}
</script>
