<template>
  <section class="map-section" data-inview-showup="showup-translate-right">
    <!-- <div class="gmap" data-lat="" data-lng=""></div> -->
<!--    <gmap-map class="gmap" :center="{lat:-6.903429, lng:107.6081276}" :zoom="12">-->
    <gmap-map
      ref="map2"
      :center="map2.center"
      :zoom="map2.zoom"
      :options="map2.options"
      class="gmap"
    >
      <gmap-marker v-if="map4.center.lat === 0"  :position="{lat:map2.center.lat, lng:map2.center.lng}">
      </gmap-marker>
<!--      <gmap-marker :position="{lat:-6.8799501, lng:107.6281325}">-->
<!--      </gmap-marker>-->
<!--      <gmap-info-window :position="{lat:-6.903429, lng:107.6081276}">-->
<!--        Here is Bandung-->
<!--      </gmap-info-window>-->
<!--      <gmap-info-window :position="{lat:-6.8799501, lng:107.6281325}">-->
<!--        Here is Cimenyan-->
<!--      </gmap-info-window>-->
    </gmap-map>
    <div v-if="distance !== ''" class="info-wrap" :class="[vposition]">
      <div class="info-container">
        <div class="our-info main-bg" :class="[hposition]">
          <div class="info-block">
            <div class="info-title text-upper">Distance</div>
            <div class="info-line">
              <span class="info-icon"><i class="fas fa-road fa-fw" aria-hidden="true"></i></span>{{distance}}</div>
            <div class="info-line">
              <span class="info-icon"><i class="fas fa-clock fa-fw" aria-hidden="true"></i></span>{{duration}}</div>
<!--            <div class="info-line">-->
<!--              <span class="info-icon"><i class="far fa-envelope fa-fw" aria-hidden="true"></i></span>info@profix.com</div>-->
            </div>
          <div class="info-block">
            <div class="info-title text-upper">Opening Hours</div>
            <div class="info-line">Monday-Friday
              <span class="pull-right">10:00 - 18:00</span>
            </div>
            <div class="info-line">Saturday, Sunday
              <span class="pull-right">Closed</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState } from 'vuex'

export default {
  props: {
    hposition: {
      type: String,
      default: ''
    },
    vposition: {
      type: String,
      default: ''
    },
    mapx: {
      maps: 'mapx'
    }
  },
  data: () => ({
    distance: '',
    duration: '',
    currentLocation : { lat : 0, lng : 0},
    map2: {
      center: {
        lat: -6.166220899999999,
        lng: 106.79954279999993
      },
      zoom: 13
    },
    map4: {
      center: {
        lat: 0,
        lng: 0
      },
      zoom: 13
    },
    // markerIcon: require('~/assets/img/map-marker-main.svg'),
    markers: [
      {
        id: 1,
        title: 'Romes Colosseum',
        position: {
          lat: -6.166220899999999,
          lng: 106.79954279999993
        }
      },
      {
        id: 2,
        title: 'Pantheon',
        position: {
          lat: 41.8986108,
          lng: 12.4768729
        }
      }
    ],
    origin: [-6.166220899999999, 106.79954279999993],
    destination: [-6.136923599999999, 106.82438969999998],
    autocompleteVal: 'Rome'
  }),
  computed: {
    ...mapState('order', {
      scName: state => state.scName,
    }),
  },
  methods: {
    geolocation : function() {
      navigator.geolocation.getCurrentPosition((position) => {
        this.currentLocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        this.map2.center.lat = this.currentLocation.lat
        this.map2.center.lng = this.currentLocation.lng
        // console.log(this.currentLocation)
      });
    },
    // setPlace (place) {
    //   if(place) {
    //     this.map4.center.lat = place.geometry.location.lat();
    //     this.map4.center.lng = place.geometry.location.lng();
    //   }
    // },
    setPlaceServiceCenter (coordinat) {
      // console.log(coordinat)
      this.map2.center.lat = parseFloat(coordinat.lat);
      this.map2.center.lng = parseFloat(coordinat.lng);
    },
    getRoute (destination) {

      // console.log(this.scName)
      this.map4.center.lat = destination.lat
      // this.distance = 40
      // console.log(destination)
      let self = this;
      if (!this.directionsService) {
        this.directionsService = new google.maps.DirectionsService();
      }
      if (!this.directionsDisplay) {
        this.directionsDisplay = new google.maps.DirectionsRenderer({
          polylineOptions: {
            strokeColor: "#4527A0"
          }
        });
        this.directionsDisplay.setMap(this.$refs.map2.$mapObject);
      }
      // this.directionsService = new google.maps.DirectionsService();
      // this.directionsDisplay = new google.maps.DirectionsRenderer({
      //   polylineOptions: {
      //     strokeColor: "#4527A0"
      //   }
      // });
      // this.directionsDisplay.setMap(this.$refs.map2.$mapObject);
      let from = new google.maps.LatLng(this.map2.center.lat, this.map2.center.lat);
      let fromName = this.scName;
      let dest = new google.maps.LatLng(destination.lat, destination.lng);
      let destName = 'Bucuresti';
      let service = new google.maps.DistanceMatrixService();
      // console.log(from, dest)
      service.getDistanceMatrix(
        {
          origins: [from, fromName],
          destinations: [dest, destName],
          travelMode: 'DRIVING'
        }, callback);

      function callback(response, status) {
        if (status === 'OK') {
          // console.log(response)
          let origins = response.originAddresses;
          // let destinations = response.destinationAddresses;

          for (let i = 0; i < origins.length; i++) {
            let results = response.rows[i].elements;
            // console.log(results);
            for (let j = 0; j < results.length; j++) {
              // let element = results[j];
              if (results[j].status === 'OK'){
                // let distance = results[j].distance.text;
                // let duration = results[j].duration.text;
                // this.distance = distance
                // // let from = origins[i];
                // // let to = destinations[j];
                // console.log(distance, duration)
              }
              // let distance = element.distance.text;
              // let duration = element.duration.text;
              // let from = origins[i];
              // let to = destinations[j];
              // console.log(results[j])

            }
          }
        }
      }
      self.directionsService.route({
        origin: { lat: this.map2.center.lat, lng: this.map2.center.lng },
        destination: { lat: destination.lat, lng: destination.lng },
        // destination: { lat: this.destination[0], lng: this.destination[1] },
        travelMode: 'DRIVING'
      }, function (response, status) {
        // console.log(response)
        self.distance = response.routes[0].legs[0].distance.text
        self.duration = response.routes[0].legs[0].duration.text
        if (status === 'OK') {
          self.directionsDisplay.setDirections(response)
        } else {
          // console.log('Directions request failed due to ' + status)
        }
      })
    },
  },
  mounted() {
    this.geolocation();
    this.$nextTick(() => {
      // this.$refs.map2.$mapPromise.then(() => {
      //   // show route on map
      //   this.getRoute({lat: 41.8991632, lng: 12.4730739})
      // })
    });
  },
}
</script>
