<template>
  <div class="menu">
    <ul class="menu-items" :class="[addclass ? addclass : '']">
      <li>
        <nuxt-link :to="{ name: 'index' }">Home</nuxt-link>
      </li>
<!--      <li>-->
<!--        <nuxt-link :to="{ name: 'shop' }">Shop</nuxt-link>-->
<!--      </li>-->
<!--      <li>-->
<!--        <nuxt-link :to="{ name: 'order' }">Order</nuxt-link>-->
<!--      </li>-->
      <li>
        <span class="menu-item">Order</span>
        <span class="toggle-icon"><i class="fas fa-chevron-down" aria-hidden="true"></i></span>
        <ul>
          <li>
            <nuxt-link to="/order?m=service-center">On service center</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/order?m=on-site">On site / your desination</nuxt-link>
          </li>
        </ul>
      </li>
      <li>
        <nuxt-link :to="{ name: 'services' }">Services</nuxt-link>
      </li>
<!--      <li>-->
<!--        <nuxt-link :to="{ name: 'projects' }">Projects</nuxt-link>-->
<!--      </li>-->
<!--      <li>-->
<!--        <nuxt-link :to="{ name: 'blog' }">Blog</nuxt-link>-->
<!--      </li>-->
      <li>
        <span class="menu-item">About</span>
        <span class="toggle-icon"><i class="fas fa-chevron-down" aria-hidden="true"></i></span>
        <ul>
          <li>
            <nuxt-link :to="{ name: 'about' }">About Us</nuxt-link>
          </li>
          <li>
            <nuxt-link :to="{ name: 'contact' }">Contact Us</nuxt-link>
          </li>
          <li>
            <nuxt-link :to="{ name: 'faq' }">Faq</nuxt-link>
          </li>
          <li>
            <nuxt-link :to="{ name: 'termscondition' }">Terms & Conditions</nuxt-link>
          </li>
          <li>
            <nuxt-link :to="{ name: 'privacy-policy' }">Policy</nuxt-link>
          </li>
        </ul>
      </li>
      <li v-if="!$store.state.auth.isLoggedIn">
        <nuxt-link :to="{ name: 'accounts-signin' }">Sign In</nuxt-link>
      </li>
      <li v-else>
        <span class="menu-item">Hi, {{$store.state.auth.user.name.split(' ')[0]}}</span>
        <span class="toggle-icon"><i class="fas fa-chevron-down" aria-hidden="true"></i></span>
        <ul>
<!--          <li>-->
<!--            <nuxt-link :to="{ name: 'signin' }">Sign In</nuxt-link>-->
<!--          </li>-->
<!--          <li>-->
<!--            <nuxt-link :to="{ name: 'signup' }">Sign Up</nuxt-link>-->
<!--          </li>-->
<!--          <li>-->
<!--            <nuxt-link :to="{ name: 'forgotpassword' }">Forgot Password</nuxt-link>-->
<!--          </li>-->
          <li>
            <nuxt-link :to="{ name: 'profile' }">Dashboard</nuxt-link>
          </li>
          <li>
            <nuxt-link :to="{ name: 'profile-me' }">My Profile</nuxt-link>
          </li>
          <li>
            <nuxt-link :to="{ name: 'profile-orders' }">My Orders</nuxt-link>
          </li>
          <li>
            <nuxt-link :to="{ name: 'profile-tickets' }">Tickets</nuxt-link>
          </li>
          <li>
            <nuxt-link :to="{ name: 'confirmation' }">Order Confirmation</nuxt-link>
          </li>
          <li>
            <a @click="logoutUser" href="javascript:void(0)">Logout</a>
          </li>
        </ul>
      </li>
<!--      <li>-->
<!--        <span class="menu-item">Pages 1</span>-->
<!--        <span class="toggle-icon"><i class="fas fa-chevron-down" aria-hidden="true"></i></span>-->
<!--        <ul>-->
<!--          <li>-->
<!--            <nuxt-link :to="{ name: 'others-home2' }">Home 2</nuxt-link>-->
<!--          </li>-->
<!--          <li>-->
<!--            <nuxt-link :to="{ name: 'others-home3' }">Home 3</nuxt-link>-->
<!--          </li>-->
<!--          <li>-->
<!--            <nuxt-link :to="{ name: 'profile-ticketsnew' }">New Ticket</nuxt-link>-->
<!--          </li>-->
<!--          <li>-->
<!--            <nuxt-link :to="{ name: 'others-sampleheader1' }">Header 1</nuxt-link>-->
<!--          </li>-->
<!--          <li>-->
<!--            <nuxt-link :to="{ name: 'others-sampleheader2' }">Header 2</nuxt-link>-->
<!--          </li>-->
<!--          <li>-->
<!--            <nuxt-link :to="{ name: 'others-sampleheader3' }">Header 3</nuxt-link>-->
<!--          </li>-->
<!--          <li>-->
<!--            <nuxt-link :to="{ name: 'others-sampleheader4' }">Header 4</nuxt-link>-->
<!--          </li>-->
<!--          <li>-->
<!--            <nuxt-link :to="{ name: 'others-sampleheader5' }">Header 5</nuxt-link>-->
<!--          </li>-->
<!--          <li>-->
<!--            <nuxt-link :to="{ name: 'others-samplefooter1' }">Footer 1</nuxt-link>-->
<!--          </li>-->
<!--          <li>-->
<!--            <nuxt-link :to="{ name: 'others-samplefooter2' }">Footer 2</nuxt-link>-->
<!--          </li>-->
<!--          <li>-->
<!--            <nuxt-link :to="{ name: 'others-samplefooter3' }">Footer 3</nuxt-link>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>-->
<!--      <li>-->
<!--        <span class="menu-item">Pages 2</span>-->
<!--        <span class="toggle-icon"><i class="fas fa-chevron-down" aria-hidden="true"></i></span>-->
<!--        <ul>-->
<!--          <li>-->
<!--            <nuxt-link :to="{ name: 'others-contactus2' }">Contact Us 2</nuxt-link>-->
<!--          </li>-->
<!--          <li>-->
<!--            <nuxt-link :to="{ name: 'blog-item', params: { item: 'article-1' } }">Article</nuxt-link>-->
<!--          </li>-->
<!--          <li>-->
<!--            <nuxt-link :to="{ name: 'others-sidebarno' }">No Sidebar</nuxt-link>-->
<!--          </li>-->
<!--          <li>-->
<!--            <nuxt-link :to="{ name: 'others-sidebarleft' }">Sidebar Left</nuxt-link>-->
<!--          </li>-->
<!--          <li>-->
<!--            <nuxt-link :to="{ name: 'others-sidebarright' }">Sidebar Right</nuxt-link>-->
<!--          </li>-->
<!--          <li>-->
<!--            <nuxt-link :to="{ name: 'others-4041' }">Page 404 1</nuxt-link>-->
<!--          </li>-->
<!--          <li>-->
<!--            <nuxt-link :to="{ name: 'others-4042' }">Page 404 2</nuxt-link>-->
<!--          </li>-->
<!--          <li>-->
<!--            <nuxt-link :to="{ name: 'underconstruction' }">Under Construction</nuxt-link>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>-->
      <li>
        <a href="#" data-show-block="search"><i class="fas fa-search" aria-hidden="true"></i></a>
      </li>
<!--      <li class="menu-item-stick-left">-->
<!--        <a href="#" data-show-block="cart"><i class="fas fa-shopping-cart" aria-hidden="true"></i>-->
<!--          <span class="item-label-sale item-label">3</span>-->
<!--        </a>-->
<!--      </li>-->
    </ul>
    <div class="clearfix"></div>
    <div class="line-right xs-hidden"></div>
  </div>
</template>

<script>
export default {
  props: {
    addclass: {
      type: String,
      default: null
    }
  },
  methods: {
    logout(){
      this.$router.go('/')
      this.logoutUser()
      // console.log('its logged out')
    }
  }
}
</script>
