<template>
  <nav class="user-dashboard-menu">
      <ul>
          <li class="menu-item">
            <nuxt-link :to="{ name: 'profile' }">Dashboard</nuxt-link>
          </li>
          <li class="menu-item">
            <nuxt-link :to="{ name: 'profile-me' }">My Profile</nuxt-link>
          </li>
          <li class="menu-item">
            <nuxt-link :to="{ name: 'profile-orders' }">Orders</nuxt-link>
          </li>
          <li class="menu-item">
            <nuxt-link :to="{ name: 'profile-tickets' }">Tickets</nuxt-link>
          </li>
          <li class="menu-btn menu-stick-right">
            <nuxt-link :to="{ name: 'profile-ticketsnew' }" class="btn btns-bordered-alt text-upper">New Ticket</nuxt-link>
          </li>
      </ul>
  </nav>
</template>

<script>
export default {

}
</script>
