<template>
  <div class="singlepage-block collapse alt-bg" data-block="search" data-show-block-class="animation-scale-top-right" data-hide-block-class="animation-unscale-top-right">
    <a href="#" class="close-link" data-close-block><i class="fas fa-times" aria-hidden="true"></i></a>
    <div class="pos-v-center col-12">
      <div class="container">
        <div class="row cols-md rows-md">
          <div class="lg-col-9 md-col-8 sm-col-12">
            <div class="field-group">
              <div class="field-wrap">
                <input class="field-control" name="search" placeholder="Search Tags" required="required" />
                <span class="field-back"></span>
              </div>
            </div>
          </div>
          <div class="lg-col-3 md-col-4 sm-col-6">
            <button @click.prevent="$router.push({ name: 'search' })" class="btn btns-white-bordered text-upper" type="submit">
              search
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>
