<template>
  <div>
    <Headers />
    <section class="text-center with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back inner-shadow"></div>
        <div class="container">
            <img class="image offs-md" src="/lib/images/error/404-alt.png" alt="" data-inview-showup="showup-scale" />
            <div class="section-head text-center container-md">
                <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Error</h2>
                <p data-inview-showup="showup-translate-left">This page could not be found!</p>
            </div>
            <nuxt-link :to="{ name: 'index' }" class="btn text-upper" data-inview-showup="showup-translate-up">back to homepage</nuxt-link>
        </div>
    </section>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
export default {
  mounted () {
    this.$initLoad()
  }
}
</script>

<style>

</style>
