<template>
  <div>
    <Headers />
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back"></div>
        <div class="container page-info">
            <div class="section-alt-head container-md">
                <h1 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Contact Us</h1>
                <p data-inview-showup="showup-translate-left">A little something about our company</p>
            </div>
        </div>
        <div class="section-footer">
            <div class="container" data-inview-showup="showup-translate-down">
                <ul class="page-path">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>Contact Us</li>
                </ul>
            </div>
        </div>
    </section>
    <Maps />
    <section class="content-section">
        <div class="container">
            <div class="section-head text-center container-md">
                <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Request a Callback</h2>
                <p data-inview-showup="showup-translate-left">if your need personal assistance, fill the form bellow we will reply back to your asap!</p>
            </div>
            <form class="md-col-8 md-col-offs-2" data-inview-showup="showup-translate-down">
                <div class="field-group">
                    <div class="field-wrap">
                        <input class="field-control" name="name" placeholder="Name" required="required" />
                        <span class="field-back"></span>
                    </div>
                </div>
                <div class="field-group">
                    <div class="field-wrap">
                        <input class="field-control" name="email" type="email" placeholder="Email" required="required" />
                        <span class="field-back"></span>
                    </div>
                </div>
                <div class="field-group">
                    <div class="field-wrap">
                        <input class="field-control" name="subject" placeholder="Subject" required="required" />
                        <span class="field-back"></span>
                    </div>
                </div>
                <div class="field-group">
                    <div class="field-wrap">
                        <textarea class="field-control" name="message" placeholder="Message" required="required"></textarea>
                        <span class="field-back"></span>
                    </div>
                </div>
                <div class="btn-block text-center">
                    <button class="btn text-upper ajax-disabled" type="submit">
                        send message
                    </button>
                </div>
            </form>
        </div>
    </section>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
export default {
  mounted () {
    this.$initLoad()
  }
}
</script>

<style>

</style>
