<template>
  <div>
    <header class="header header-over">
        <input id="header-default" type="radio" class="collapse" checked="checked" name="siteheader" />
        <input id="header-shown" type="radio" class="collapse" name="siteheader" />
        <input id="header-hidden" type="radio" class="collapse" name="siteheader" />
        <div class="infobar transparent bottom-separator xs-hidden transparent">
            <div class="container">
                <div class="cols-list pull-left cols-md">
                    <div class="list-item">
                        <span class="info-icon"><i class="fas fa-home" aria-hidden="true"></i></span>Sidestate NSW 4132, Australia
                    </div>
                    <div class="list-item">
                        <span class="info-icon"><i class="fas fa-phone"></i></span>Help: + 88 018 4113 6251
                    </div>
                </div>
                <div class="cols-list pull-right cols-md socials">
                    <div class="list-item">
                        <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="list-item">
                        <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="list-item">
                        <a href="#"><i class="fab fa-pinterest" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="list-item">
                        <a href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="list-item">
                        <a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="menu-wrap contacts line transparent">
            <div class="menu-container">
                <div class="menu-row sm-stick-hide">
                    <div class="logo">
                        <a href="index.html">
                            <img src="https://dummyimage.com/210x60" alt="ProFix" />
                        </a>
                    </div>
                    <div class="menu-col xs-hidden sm-hidden text-right">
                        <div class="side-icon-block text-upper">
                            <div class="icon"><i class="fas fa-phone" aria-hidden="true"></i></div>
                            <div>Contact us</div>
                            <div class="colorful">(555) 555-0312</div>
                        </div>
                    </div>
                    <div class="menu-col xs-hidden text-center">
                        <div class="side-icon-block text-upper">
                            <div class="icon"><i class="far fa-clock" aria-hidden="true"></i></div>
                            <div>Working time</div>
                            <div class="colorful">mon - sat: 10:00 - 18:00</div>
                        </div>
                    </div>
                    <div class="menu-btn xs-hidden">
                        <a href="contact-us.html" class="btn text-upper">Make an appointment</a>
                    </div>
                    <div class="header-toggler xs-shown pull-right">
                        <label class="header-shown-sign" for="header-hidden"><i class="fas fa-times" aria-hidden="true"></i></label>
                        <label class="header-hidden-sign" for="header-shown"><i class="fas fa-bars" aria-hidden="true"></i></label>
                    </div>
                    <div class="clearfix xs-shown"></div>
                </div>
                <div class="stick-menu menu-row">
                  <MenuNav :addclass="null" />
                </div>
            </div>
        </nav>
    </header>
    <section>
        <div class="flexslider screen-height">
            <div class="slides">
                <div class="slide">
                    <img src="https://dummyimage.com/1920x1080" alt="" data-cover-image="true" />
                    <div class="theme-back"></div>
                    <div class="pos-center text-center col-12 text-white">
                        <div class="banner-title res-text-xxl">Fast & Quick Fix</div>
                        <div class="banner-subtitle res-text-md">Just send valuable laptop, PC, MAC, Mobile,
                            <br/>Gaming Device or Smartphone and we'll take care of it.</div>
                    </div>
                </div>
                <div class="slide">
                    <img src="https://dummyimage.com/1920x1080" alt="" data-cover-image="true" />
                    <div class="theme-back"></div>
                    <div class="pos-center text-center col-12 text-white">
                        <div class="banner-title res-text-xxl">Any Kind of Upgrades</div>
                    </div>
                </div>
                <div class="slide">
                    <img src="https://dummyimage.com/1920x1080" alt="" data-cover-image="true" />
                    <div class="theme-back"></div>
                    <div class="pos-center text-center col-12 text-white">
                        <div class="banner-title res-text-xxl">Data Recovery</div>
                        <div class="banner-subtitle res-text-md">You Lose - We'll Find</div>
                    </div>
                </div>
            </div>
            <div class="flex-custom-navigation">
                <!-- Arrow Navigator -->
                <a href="#" class="flex-prev">
                    <i class="fas fa-angle-left" aria-hidden="true"></i>
                </a>
                <a href="#" class="flex-next">
                    <i class="fas fa-angle-right" aria-hidden="true"></i>
                </a>
            </div>
            <div class="flex-custom-controls text-center"></div>
        </div>
    </section>
    <section class="muted-bg solid-section">
        <div class="container">
            <div class="section-head text-center container-md">
                <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Our pricing package</h2>
                <p data-inview-showup="showup-translate-left">Here Is Our Pricing Plan</p>
            </div>
            <div class="row cols-md rows-md">
                <div class="md-col-6">
                    <div class="row cols-md rows-md">
                        <div class="sm-col-6">
                            <div class="price-block simple" data-inview-showup="showup-translate-up">
                                <div class="price-back"></div>
                                <div class="price-image">
                                    <img class="image" src="/lib/images/icons/notebook-dark.png" alt="" />
                                </div>
                                <div class="price-title">Laptop Repair</div>
                                <div class="price-subtext">starting at...</div>
                                <div class="price">$20.00</div>
                                <ul class="price-list">
                                    <li>Urgent repairs</li>
                                    <li>Spare parts for order</li>
                                    <li>High quality of repair work</li>
                                </ul>
                                <a class="btn-md btns-bordered btn text-upper" href="#">read more</a>
                            </div>
                        </div>
                        <div class="sm-col-6">
                            <div class="price-block simple" data-inview-showup="showup-translate-up">
                                <div class="price-back"></div>
                                <div class="price-image">
                                    <img class="image" src="/lib/images/icons/computer-dark.png" alt="" />
                                </div>
                                <div class="price-title">Computer Repair</div>
                                <div class="price-subtext">starting at...</div>
                                <div class="price">$20.00</div>
                                <ul class="price-list">
                                    <li>Urgent repairs</li>
                                    <li>Spare parts for order</li>
                                    <li>High quality of repair work</li>
                                </ul>
                                <a class="btn-md btns-bordered btn text-upper" href="#">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md-col-6">
                    <div class="row cols-md rows-md">
                        <div class="sm-col-6">
                            <div class="price-block simple" data-inview-showup="showup-translate-up">
                                <div class="price-back"></div>
                                <div class="price-image">
                                    <img class="image" src="/lib/images/icons/printer-dark.png" alt="" />
                                </div>
                                <div class="price-title">Printer Repair</div>
                                <div class="price-subtext">starting at...</div>
                                <div class="price">$110.00</div>
                                <ul class="price-list">
                                    <li>Repair any complexity level</li>
                                    <li>Hardware maintenance</li>
                                    <li>Consuming marerials</li>
                                </ul>
                                <a class="btn-md btns-bordered btn text-upper" href="#">read more</a>
                            </div>
                        </div>
                        <div class="sm-col-6">
                            <div class="price-block simple" data-inview-showup="showup-translate-up">
                                <div class="price-back"></div>
                                <div class="price-image">
                                    <img class="image" src="/lib/images/icons/mobile-dark.png" alt="" />
                                </div>
                                <div class="price-title">Smartphone Repair</div>
                                <div class="price-subtext">starting at...</div>
                                <div class="price">$45.00</div>
                                <ul class="price-list">
                                    <li>Modular repair</li>
                                    <li>Spare parts for order</li>
                                    <li>Software repair</li>
                                </ul>
                                <a class="btn-md btns-bordered btn text-upper" href="#">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-section">
        <div class="container">
            <div class="section-head text-center container-md">
                <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Why choose us</h2>
                <p data-inview-showup="showup-translate-left">Some Of Our Features</p>
            </div>
            <div class="row cols-md rows-md">
                <div class="md-col-6">
                    <div class="row cols-md rows-md">
                        <div class="sm-col-6">
                            <div class="feature block-feature muted-bg" data-inview-showup="showup-translate-down">
                                <div class="feature-head">
                                    <div class="feature-icon main-bg"><i class="fas fa-rocket" aria-hidden="true"></i></div>
                                    <div class="feature-title text-upper">We are fast</div>
                                </div>
                                <div class="feature-text">Qualified Workers Lorem Ipsum is simply dummy text of the printing</div>
                            </div>
                        </div>
                        <div class="sm-col-6">
                            <div class="feature block-feature muted-bg" data-inview-showup="showup-translate-down">
                                <div class="feature-head">
                                    <div class="feature-icon main-bg"><i class="fas fa-dollar-sign" aria-hidden="true"></i></div>
                                    <div class="feature-title text-upper">No fix, no fee</div>
                                </div>
                                <div class="feature-text">Repair on Demand Lorem Ipsum is simply dummy text of the printing</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md-col-6">
                    <div class="row cols-md rows-md">
                        <div class="sm-col-6">
                            <div class="feature block-feature muted-bg" data-inview-showup="showup-translate-down">
                                <div class="feature-head">
                                    <div class="feature-icon main-bg"><i class="far fa-calendar-check" aria-hidden="true"></i></div>
                                    <div class="feature-title text-upper">30 days warranty</div>
                                </div>
                                <div class="feature-text">Guaranteed Service Lorem Ipsum is simply dummy text of the printing</div>
                            </div>
                        </div>
                        <div class="sm-col-6">
                            <div class="feature block-feature muted-bg" data-inview-showup="showup-translate-down">
                                <div class="feature-head">
                                    <div class="feature-icon main-bg"><i class="fas fa-users" aria-hidden="true"></i></div>
                                    <div class="feature-title text-upper">Expert staff</div>
                                </div>
                                <div class="feature-text">Available Anytime Lorem Ipsum is simply dummy text of the printing</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back inner-shadow"></div>
        <div class="container text-center">
            <div class="section-head text-center container-md">
                <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Service process</h2>
                <p data-inview-showup="showup-translate-left">easy and effective way to get your device repaired</p>
            </div>
            <div class="service-simple-steps text-upper" data-inview-showup="showup-translate-right">
                <div class="step">
                    <span class="step-number">1.</span>
                    <span class="step-text">damage device</span>
                </div>
                <div class="step-separator"><i class="fas fa-angle-double-right" aria-hidden="true"></i></div>
                <div class="step">
                    <span class="step-number">2.</span>
                    <span class="step-text">send it to us</span>
                </div>
                <div class="step-separator"><i class="fas fa-angle-double-right" aria-hidden="true"></i></div>
                <div class="step">
                    <span class="step-number active">3.</span>
                    <span class="step-text">fast fix</span>
                </div>
                <div class="step-separator"><i class="fas fa-angle-double-right" aria-hidden="true"></i></div>
                <div class="step">
                    <span class="step-number">4.</span>
                    <span class="step-text">quick return</span>
                </div>
            </div>
        </div>
    </section>
    <section class="muted-bg solid-section">
        <div class="container clearfix">
            <div class="side-items-head">
                <h2 class="text-upper main-bg" data-inview-showup="showup-translate-right">Services</h2>
                <p data-inview-showup="showup-translate-left">We offer a full range of repair
                    <br/>services provided by an experienced and specialized team.</p>
            </div>
            <div class="side-items">
                <div class="row cols-tiny rows-tiny">
                    <div class="md-col-4 sm-col-6">
                        <div class="item solid" data-inview-showup="showup-translate-up">
                            <a href="service.html" class="block-link text-center">
                                <span class="image-wrap">
                                    <img class="image" src="https://dummyimage.com/720x405" alt="" />
                                </span>
                                <span class="hover">
                                    <span class="hover-show">
                                        <span class="back"></span>
                                        <span class="content"><i class="fas fa-search" aria-hidden="true"></i></span>
                                    </span>
                                </span>
                            </a>
                            <div class="item-content">
                                <div class="item-title text-upper">
                                    <a href="service.html">Data backup &amp; recovery</a>
                                </div>
                                <div class="item-text">We working hard to build a reputation of customer satisfaction through technical excellence and friendly staff
                                </div>
                                <a href="service.html" class="simple-link text-medium pull-right text-upper btn-md btns-bordered">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="md-col-4 sm-col-6">
                        <div class="item solid" data-inview-showup="showup-translate-up">
                            <a href="service.html" class="block-link text-center">
                                <span class="image-wrap">
                                    <img class="image" src="https://dummyimage.com/720x405" alt="" />
                                </span>
                                <span class="hover">
                                    <span class="hover-show">
                                        <span class="back"></span>
                                        <span class="content"><i class="fas fa-search" aria-hidden="true"></i></span>
                                    </span>
                                </span>
                            </a>
                            <div class="item-content">
                                <div class="item-title text-upper">
                                    <a href="service.html">Laptop &amp; Mac Upgrade</a>
                                </div>
                                <div class="item-text">We working hard to build a reputation of customer satisfaction through technical excellence and friendly staff
                                </div>
                                <a href="service.html" class="simple-link text-medium pull-right text-upper btn-md btns-bordered">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="md-col-4 sm-col-6">
                        <div class="item solid" data-inview-showup="showup-translate-up">
                            <a href="service.html" class="block-link text-center">
                                <span class="image-wrap">
                                    <img class="image" src="https://dummyimage.com/720x405" alt="" />
                                </span>
                                <span class="hover">
                                    <span class="hover-show">
                                        <span class="back"></span>
                                        <span class="content"><i class="fas fa-search" aria-hidden="true"></i></span>
                                    </span>
                                </span>
                            </a>
                            <div class="item-content">
                                <div class="item-title text-upper">
                                    <a href="service.html">Repair Smartphone</a>
                                </div>
                                <div class="item-text">We working hard to build a reputation of customer satisfaction through technical excellence and friendly staff
                                </div>
                                <a href="service.html" class="simple-link text-medium pull-right text-upper btn-md btns-bordered">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="md-col-4 sm-col-6">
                        <div class="item solid" data-inview-showup="showup-translate-up">
                            <a href="service.html" class="block-link text-center">
                                <span class="image-wrap">
                                    <img class="image" src="https://dummyimage.com/720x405" alt="" />
                                </span>
                                <span class="hover">
                                    <span class="hover-show">
                                        <span class="back"></span>
                                        <span class="content"><i class="fas fa-search" aria-hidden="true"></i></span>
                                    </span>
                                </span>
                            </a>
                            <div class="item-content">
                                <div class="item-title text-upper">
                                    <a href="service.html">Tablet Repair</a>
                                </div>
                                <div class="item-text">We working hard to build a reputation of customer satisfaction through technical excellence and friendly staff
                                </div>
                                <a href="service.html" class="simple-link text-medium pull-right text-upper btn-md btns-bordered">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="md-col-4 sm-col-6">
                        <div class="item solid" data-inview-showup="showup-translate-up">
                            <a href="service.html" class="block-link text-center">
                                <span class="image-wrap">
                                    <img class="image" src="https://dummyimage.com/720x405" alt="" />
                                </span>
                                <span class="hover">
                                    <span class="hover-show">
                                        <span class="back"></span>
                                        <span class="content"><i class="fas fa-search" aria-hidden="true"></i></span>
                                    </span>
                                </span>
                            </a>
                            <div class="item-content">
                                <div class="item-title text-upper">
                                    <a href="service.html">Repair PC &amp; Laptop Hardware</a>
                                </div>
                                <div class="item-text">We working hard to build a reputation of customer satisfaction through technical excellence and friendly staff
                                </div>
                                <a href="service.html" class="simple-link text-medium pull-right text-upper btn-md btns-bordered">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="md-col-4 sm-col-6">
                        <div class="item solid" data-inview-showup="showup-translate-up">
                            <a href="service.html" class="block-link text-center">
                                <span class="image-wrap">
                                    <img class="image" src="https://dummyimage.com/720x405" alt="" />
                                </span>
                                <span class="hover">
                                    <span class="hover-show">
                                        <span class="back"></span>
                                        <span class="content"><i class="fas fa-search" aria-hidden="true"></i></span>
                                    </span>
                                </span>
                            </a>
                            <div class="item-content">
                                <div class="item-title text-upper">
                                    <a href="service.html">Network Solution</a>
                                </div>
                                <div class="item-text">We working hard to build a reputation of customer satisfaction through technical excellence and friendly staff
                                </div>
                                <a href="service.html" class="simple-link text-medium pull-right text-upper btn-md btns-bordered">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center shift-xl">
                    <a class="btn text-upper" href="services.html" data-inview-showup="showup-translate-up"><i class="fas fa-th-large" aria-hidden="true"></i>&nbsp;&nbsp;view all services</a>
                </div>
            </div>
        </div>
    </section>
    <section class="main-bg decorated-bg text-center tight solid-section">
        <div class="container">
            <div class="row cols-md rows-xl" data-inview-showup="showup-translate-up">
                <div class="sm-col-3">
                    <div class="counter">
                        <div class="counter-title text-upper">Happy client</div>
                        <div class="counter-value" data-waypoint-counter="3720">3720</div>
                    </div>
                </div>
                <div class="sm-col-3">
                    <div class="counter">
                        <div class="counter-title text-upper">Finished projects</div>
                        <div class="counter-value" data-waypoint-counter="4170">4170</div>
                    </div>
                </div>
                <div class="sm-col-3">
                    <div class="counter">
                        <div class="counter-title text-upper">Computer serviced</div>
                        <div class="counter-value" data-waypoint-counter="2730">2730</div>
                    </div>
                </div>
                <div class="sm-col-3">
                    <div class="counter">
                        <div class="counter-title text-upper">Mobile serviced</div>
                        <div class="counter-value" data-waypoint-counter="1510">1510</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-section">
        <div class="container">
            <div class="section-head text-center container-md">
                <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">What people say</h2>
                <p data-inview-showup="showup-translate-left">Real customers reviews</p>
            </div>
            <div class="owl-carousel" data-inview-showup="showup-translate-up" data-owl-dots="true">
                <div class="item">
                    <div class="simple-testimonial text-center">
                        <div class="tt-title">Great customer support</div>
                        <div class="tt-rating"><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i></div>
                        <div class="tt-content">
                            <div class="tt-quote">&#8220;</div>
                            Thanks John, I was really pleased with Profix’s service. Would definitely recommend you and have alredy given out some of your business cards that were left with me. All the best for future succes.
                        </div>
                        <div class="tt-icon">
                            <img src="/lib/images/icons/notebook-sm.png" alt="">
                        </div>
                        <div class="pexx-tt-user-title">Michale John</div>
                        <div class="pexx-tt-user-subtitle">Co-Founder, InfoLabs</div>
                    </div>
                </div>
                <div class="item">
                    <div class="simple-testimonial text-center">
                        <div class="tt-title">Flexible services</div>
                        <div class="tt-rating"><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i></div>
                        <div class="tt-content">
                            <div class="tt-quote">&#8220;</div>
                            Profix did great job with fixing my laptop for a good price. I recommend any body with laptop problems, they will give you excellent service to all his customers.
                        </div>
                        <div class="tt-icon">
                            <img src="/lib/images/icons/computer-sm.png" alt="">
                        </div>
                        <div class="pexx-tt-user-title">Merry Smith</div>
                        <div class="pexx-tt-user-subtitle">CFO, InfoTech</div>
                    </div>
                </div>
                <div class="item">
                    <div class="simple-testimonial text-center">
                        <div class="tt-title">Excellent team</div>
                        <div class="tt-rating"><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i></div>
                        <div class="tt-content">
                            <div class="tt-quote">&#8220;</div>
                            Keep up the excellent work. Thank you so much for your help. This is simply unbelievable!
                        </div>
                        <div class="tt-icon">
                            <img src="/lib/images/icons/printer-sm.png" alt="">
                        </div>
                        <div class="pexx-tt-user-title">Michale John</div>
                        <div class="pexx-tt-user-subtitle">Co-Founder, InfoLabs</div>
                    </div>
                </div>
                <div class="item">
                    <div class="simple-testimonial text-center">
                        <div class="tt-title">Flexible services</div>
                        <div class="tt-rating"><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i></div>
                        <div class="tt-content">
                            <div class="tt-quote">&#8220;</div>
                            Profix did great job with fixing my laptop for a good price. I recommend any body with laptop problems, they will give you excellent service to all his customers.
                        </div>
                        <div class="tt-icon">
                            <img src="/lib/images/icons/mobile-sm.png" alt="">
                        </div>
                        <div class="pexx-tt-user-title">Merry Smith</div>
                        <div class="pexx-tt-user-subtitle">CFO, InfoTech</div>
                    </div>
                </div>
                <div class="item">
                    <div class="simple-testimonial text-center">
                        <div class="tt-title">Great customer support</div>
                        <div class="tt-rating"><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i></div>
                        <div class="tt-content">
                            <div class="tt-quote">&#8220;</div>
                            Thanks John, I was really pleased with Profix’s service. Would definitely recommend you and have alredy given out some of your business cards that were left with me. All the best for future succes.
                        </div>
                        <div class="tt-icon">
                            <img src="/lib/images/icons/computer-sm.png" alt="">
                        </div>
                        <div class="pexx-tt-user-title">Michale John</div>
                        <div class="pexx-tt-user-subtitle">Co-Founder, InfoLabs</div>
                    </div>
                </div>
                <div class="item">
                    <div class="simple-testimonial text-center">
                        <div class="tt-title">Excellent team</div>
                        <div class="tt-rating"><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i></div>
                        <div class="tt-content">
                            <div class="tt-quote">&#8220;</div>
                            Keep up the excellent work. Thank you so much for your help. This is simply unbelievable!
                        </div>
                        <div class="tt-icon">
                            <img src="/lib/images/icons/printer-sm.png" alt="">
                        </div>
                        <div class="pexx-tt-user-title">Michale John</div>
                        <div class="pexx-tt-user-subtitle">Co-Founder, InfoLabs</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="main-bg" data-inview-showup="showup-translate-up">
        <div class="container">
            <div class="contact-table only-xs-text-center">
                <div class="contact-icon xs-hidden"><i class="fas fa-bicycle" aria-hidden="true"></i></div>
                <div class="contact-content">
                    <div class="contact-title">Request free consultation</div>
                    <div class="text-justify only-xs-text-justify-center">Get answers and advice from people you want it from.</div>
                </div>
                <div class="contact-btn">
                    <a href="contact-us.html" class="btn btns-white text-upper">Contact Us</a>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center content-section">
        <div class="container">
            <div class="section-head text-center container-md">
                <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">We are authorized</h2>
            </div>
            <div class="owl-carousel" data-inview-showup="showup-translate-up" data-owl-responsive="2;3;4;5" data-owl-items="5">
                <div class="item">
                    <a class="grayscale-link" href="#">
                        <img class="image" src="https://dummyimage.com/720x405" alt="" />
                    </a>
                </div>
                <div class="item">
                    <a class="grayscale-link" href="#">
                        <img class="image" src="https://dummyimage.com/720x405" alt="" />
                    </a>
                </div>
                <div class="item">
                    <a class="grayscale-link" href="#">
                        <img class="image" src="https://dummyimage.com/720x405" alt="" />
                    </a>
                </div>
                <div class="item">
                    <a class="grayscale-link" href="#">
                        <img class="image" src="https://dummyimage.com/720x405" alt="" />
                    </a>
                </div>
                <div class="item">
                    <a class="grayscale-link" href="#">
                        <img class="image" src="https://dummyimage.com/720x405" alt="" />
                    </a>
                </div>
                <div class="item">
                    <a class="grayscale-link" href="#">
                        <img class="image" src="https://dummyimage.com/720x405" alt="" />
                    </a>
                </div>
                <div class="item">
                    <a class="grayscale-link" href="#">
                        <img class="image" src="https://dummyimage.com/720x405" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </section>
    <Maps hposition='side' />
    <div class="block-cart collapse" data-block="cart" data-show-block-class="animation-scale-top-right" data-hide-block-class="animation-unscale-top-right">
        <div class="cart-inner">
            <a href="#" class="close-link" data-close-block><i class="fas fa-times" aria-hidden="true"></i></a>
            <h4 class="text-upper text-center">Your cart</h4>
            <div class="items">
                <div class="items collapse" data-block="cart" data-show-block-class="animation-scale-top-right" data-hide-block-class="animation-unscale-top-right">
                    <div class="shop-side-item cart-item">
                        <a href="#" class="remove"><i class="fas fa-times"></i></a>
                        <div class="item-side-image">
                            <a href="shop-item.html" class="item-image responsive-1by1">
                                <img src="https://dummyimage.com/500x500" alt="" />
                            </a>
                        </div>
                        <div class="item-side">
                            <div class="item-title">
                                <a class="item-label-sm item-label-sale item-label" href="#">sale</a>
                                <a href="shop-item.html" class="content-link text-upper">USB 3.0 HUB</a>
                            </div>
                            <div class="item-quantity">Quantity - 1</div>
                            <div class="item-prices">
                                <div class="item-price">$67.05</div>
                                <div class="item-old-price">$102.5</div>
                            </div>
                        </div>
                    </div>
                    <div class="shop-side-item cart-item">
                        <a href="#" class="remove"><i class="fas fa-times"></i></a>
                        <div class="item-side-image">
                            <a href="shop-item.html" class="item-image responsive-1by1">
                                <img src="https://dummyimage.com/500x500" alt="" />
                            </a>
                        </div>
                        <div class="item-side">
                            <div class="item-title">
                                <a class="item-label-sm item-label-new item-label" href="#">new</a>
                                <a href="shop-item.html" class="content-link text-upper">Cable Organizer</a>
                            </div>
                            <div class="item-quantity">Quantity - 1</div>
                            <div class="item-prices">
                                <div class="item-price">$15.25</div>
                            </div>
                        </div>
                    </div>
                    <div class="shop-side-item cart-item">
                        <a href="#" class="remove"><i class="fas fa-times"></i></a>
                        <div class="item-side-image">
                            <a href="shop-item.html" class="item-image responsive-1by1">
                                <img src="https://dummyimage.com/500x500" alt="" />
                            </a>
                        </div>
                        <div class="item-side">
                            <div class="item-title">
                                <a href="shop-item.html" class="content-link text-upper">10" Octa Core Tablet</a>
                            </div>
                            <div class="item-quantity">Quantity - 1</div>
                            <div class="item-prices">
                                <div class="item-price">$145.99</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-sides main-bg shift-lg"></div>
            <div class="row out-md">
                <div class="col-6 cart-price-title">Subtotal:</div>
                <div class="col-6 text-right cart-price">$105.20</div>
            </div>
            <div class="line-sides main-bg offs-lg"></div>
            <div class="clearfix">
                <a href="./cart.html" class="btn text-upper btn-md btns-bordered pull-left">view cart</a>
                <a href="./checkout.html" class="btn text-upper btn-md pull-right">checkout</a>
            </div>
        </div>
    </div>
    <a href="#" class="scroll-top disabled"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <div class="singlepage-block collapse alt-bg" data-block="search" data-show-block-class="animation-scale-top-right" data-hide-block-class="animation-unscale-top-right">
        <a href="#" class="close-link" data-close-block><i class="fas fa-times" aria-hidden="true"></i></a>
        <div class="pos-v-center col-12">
            <div class="container">
                <div class="row cols-md rows-md">
                    <div class="lg-col-9 md-col-8 sm-col-12">
                        <div class="field-group">
                            <div class="field-wrap">
                                <input class="field-control" name="search" placeholder="Search Tags" required="required" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                    </div>
                    <div class="lg-col-3 md-col-4 sm-col-6">
                        <button class="btn btns-white-bordered text-upper" type="submit">
                            search
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loader-block">
        <div class="loader-back alt-bg"></div>
        <div class="loader-image">
            <img class="image" src="/lib/images/parts/loader.gif" alt="" />
        </div>
    </div>
    <footer class="footer footer-simple alt-bg">
        <div class="container only-xs-text-justify-center ins-md">
            <div class="row">
                <div class="sm-col-7 sm-push-5 text-right">
                    <div class="cols-list social-blocks">
                        <a href="#" class="list-item"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                        <a href="#" class="list-item"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                        <a href="#" class="list-item"><i class="fab fa-pinterest" aria-hidden="true"></i></a>
                        <a href="#" class="list-item"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a>
                        <a href="#" class="list-item"><i class="fab fa-dribbble" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="sm-col-5 sm-pull-7">
                    <div class="footer-copyrights">&copy; 2017 <b>ProFix</b>. All Rights Reserved</div>
                </div>
            </div>
        </div>
    </footer>
  </div>
</template>

<script>
/* eslint-disable */
export default {
  mounted () {
    this.$initLoad()
  }
}
</script>

<style>

</style>
