<template>
  <div>
    <header class="header header-over">
        <input id="header-default" type="radio" class="collapse" checked="checked" name="siteheader" />
        <input id="header-shown" type="radio" class="collapse" name="siteheader" />
        <input id="header-hidden" type="radio" class="collapse" name="siteheader" />
        <div class="infobar transparent xs-hidden">
            <div class="container">
                <div class="cols-list pull-left cols-md">
                    <div class="list-item">
                        <span class="info-icon"><i class="fas fa-home" aria-hidden="true"></i></span>Sidestate NSW 4132, Australia
                    </div>
                    <div class="list-item">
                        <span class="info-icon"><i class="fas fa-phone"></i></span>Help: + 88 018 4113 6251
                    </div>
                </div>
                <div class="cols-list pull-right cols-md socials">
                    <div class="list-item">
                        <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="list-item">
                        <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="list-item">
                        <a href="#"><i class="fab fa-pinterest" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="list-item">
                        <a href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="list-item">
                        <a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="stick-menu menu-wrap pannel line">
            <div class="menu-container">
                <div class="menu-row">
                    <div class="logo">
                        <a href="index.html">
                            <img src="https://dummyimage.com/180x50" alt="ProFix" />
                        </a>
                    </div>
                    <div class="header-toggler pull-right xs-shown">
                        <label class="header-shown-sign" for="header-hidden"><i class="fas fa-times" aria-hidden="true"></i></label>
                        <label class="header-hidden-sign" for="header-shown"><i class="fas fa-bars" aria-hidden="true"></i></label>
                    </div>
                    <div class="clearfix xs-shown"></div>
                    <MenuNav :addclass="null" />
                </div>
            </div>
        </nav>
    </header>
    <section class="banner banner-image">
        <img src="https://dummyimage.com/1920x1080" alt="" data-cover-image="true" />
        <div class="theme-back"></div>
        <div class="pos-center text-center col-12 text-white">
            <div class="banner-title res-text-xxl">Fast & Quick Fix</div>
            <div class="banner-subtitle res-text-md">Just send valuable laptop, PC, MAC, Mobile,
                <br/>Gaming Device or Smartphone and we'll take care of it.</div>
        </div>
    </section>
    <section class="clearfix solid-border-top alt-bg">
        <div class="container hyped-block">
            <div class="row cols-md rows-md">
                <div class="md-col-6">
                    <div class="row cols-md rows-md">
                        <div class="sm-col-6">
                            <div class="price-block short" data-inview-showup="showup-scale">
                                <a href="services.html" class="price-image">
                                    <img class="active-image" src="/lib/images/icons/notebook-blue.png" alt="" />
                                    <img class="image" src="/lib/images/icons/notebook-white.png" alt="" />
                                </a>
                                <div class="price-title">Laptop Repair</div>
                                <a class="text-medium simple-link text-upper" href="#">read more</a>
                            </div>
                        </div>
                        <div class="sm-col-6">
                            <div class="price-block short" data-inview-showup="showup-scale">
                                <a href="services.html" class="price-image">
                                    <img class="active-image" src="/lib/images/icons/computer-blue.png" alt="" />
                                    <img class="image" src="/lib/images/icons/computer-white.png" alt="" />
                                </a>
                                <div class="price-title">Computer Repair</div>
                                <a class="text-medium simple-link text-upper" href="#">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md-col-6">
                    <div class="row cols-md rows-md">
                        <div class="sm-col-6">
                            <div class="price-block short" data-inview-showup="showup-scale">
                                <a href="services.html" class="price-image">
                                    <img class="active-image" src="/lib/images/icons/printer-blue.png" alt="" />
                                    <img class="image" src="/lib/images/icons/printer-white.png" alt="" />
                                </a>
                                <div class="price-title">Printer Repair</div>
                                <a class="text-medium simple-link text-upper" href="#">read more</a>
                            </div>
                        </div>
                        <div class="sm-col-6">
                            <div class="price-block short" data-inview-showup="showup-scale">
                                <a href="services.html" class="price-image">
                                    <img class="active-image" src="/lib/images/icons/mobile-blue.png" alt="" />
                                    <img class="image" src="/lib/images/icons/mobile-white.png" alt="" />
                                </a>
                                <div class="price-title">Smartphone Repair</div>
                                <a class="text-medium simple-link text-upper" href="#">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="muted-bg solid-section">
        <div class="container">
            <div class="section-head text-center container-md">
                <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Why choose us</h2>
                <p data-inview-showup="showup-translate-left">Some Of Our Features</p>
            </div>
            <div class="row cols-md rows-lg text-center">
                <div class="md-col-6">
                    <div class="row cols-md rows-lg">
                        <div class="sm-col-6">
                            <div class="feature solid-feature" data-inview-showup="showup-translate-down">
                                <div class="feature-icon main-bg"><i class="fas fa-rocket" aria-hidden="true"></i></div>
                                <div class="feature-title text-upper">We are fast</div>
                                <div class="feature-text">Qualified Workers Lorem Ipsum is simply dummy text of the printing</div>
                            </div>
                        </div>
                        <div class="sm-col-6">
                            <div class="feature solid-feature" data-inview-showup="showup-translate-down">
                                <div class="feature-icon main-bg"><i class="fas fa-dollar-sign" aria-hidden="true"></i></div>
                                <div class="feature-title text-upper">No fix, no fee</div>
                                <div class="feature-text">Repair on Demand Lorem Ipsum is simply dummy text of the printing</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md-col-6">
                    <div class="row cols-md rows-lg">
                        <div class="sm-col-6">
                            <div class="feature solid-feature" data-inview-showup="showup-translate-down">
                                <div class="feature-icon main-bg"><i class="far fa-calendar-check" aria-hidden="true"></i></div>
                                <div class="feature-title text-upper">30 days warranty</div>
                                <div class="feature-text">Guaranteed Service Lorem Ipsum is simply dummy text of the printing</div>
                            </div>
                        </div>
                        <div class="sm-col-6">
                            <div class="feature solid-feature" data-inview-showup="showup-translate-down">
                                <div class="feature-icon main-bg"><i class="fas fa-users" aria-hidden="true"></i></div>
                                <div class="feature-title text-upper">Expert staff</div>
                                <div class="feature-text">Available Anytime Lorem Ipsum is simply dummy text of the printing</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="solid-section" data-inview-showup="showup-translate-up">
        <div class="container">
            <div class="row cols-xl rows-lg">
                <div class="md-col-6 md-push-6 text-center md-text-left">
                    <h2 class="text-upper text-semibold">What we do</h2>
                    <p>The most comprehensive repairs available at Profix. Any device, mobile, tablet or laptop can be repaired or upgraded by us, learn more about us and see why we are the best choice for device repairs and upgrades.</p>
                    <blockquote class="hard-line-right text-right">
                        <p>10+ Years Of Working Experience In Quality Repair Services.</p>
                    </blockquote>
                    <p>We have a fully trained, experienced service department ready to handle all of your service needs. We have been in the repair and service business since 2006.</p>
                </div>
                <div class="md-col-6 md-pull-6 md-fix-container">
                    <img class="image" src="https://dummyimage.com/720x405" alt="" />
                </div>
            </div>
        </div>
    </section>
    <section class="muted-bg solid-section" data-inview-showup="showup-translate-up">
        <div class="container">
            <div class="row cols-md rows-xl">
                <div class="md-col-3 text-center md-text-left">
                    <h3 class="text-upper text-semibold">Our team</h3>
                    <p>Meet with our qualified and expert team. We are specialized in our individual field. We have enough skill and tested. That’s why you’re getting the quality repair services.
                    </p>
                    <div class="shift-lg">
                        <a class="btn text-upper" href="contact-us.html">Contact us</a>
                    </div>
                </div>
                <div class="md-col-3 sm-col-4">
                    <div class="member sm-fix-container">
                        <div class="text-center">
                            <span class="image-wrap">
                                <img class="image" src="https://dummyimage.com/720x405" alt="" />
                            </span>
                        </div>
                        <div class="member-info white-bg text-center">
                            <div class="member-title">Alexander Smith</div>
                            <div class="member-subtitle">CEO &amp; Founder</div>
                            <div class="cols-list cols-sm socials inline-block">
                                <a href="#" class="list-item"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                <a href="#" class="list-item"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                <a href="#" class="list-item"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md-col-3 sm-col-4">
                    <div class="member sm-fix-container">
                        <div class="text-center">
                            <span class="image-wrap">
                                <img class="image" src="https://dummyimage.com/720x405" alt="" />
                            </span>
                        </div>
                        <div class="member-info white-bg text-center">
                            <div class="member-title">Bryan Lewis</div>
                            <div class="member-subtitle">Cheif Engineer</div>
                            <div class="cols-list cols-sm socials inline-block">
                                <a href="#" class="list-item"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                <a href="#" class="list-item"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                <a href="#" class="list-item"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md-col-3 sm-col-4">
                    <div class="member sm-fix-container">
                        <div class="text-center">
                            <span class="image-wrap">
                                <img class="image" src="https://dummyimage.com/720x405" alt="" />
                            </span>
                        </div>
                        <div class="member-info white-bg text-center">
                            <div class="member-title">David Hanson</div>
                            <div class="member-subtitle">Technical Manager</div>
                            <div class="cols-list cols-sm socials inline-block">
                                <a href="#" class="list-item"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                <a href="#" class="list-item"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                <a href="#" class="list-item"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="main-bg decorated-bg text-center tight solid-section">
        <div class="container">
            <div class="row cols-md rows-xl" data-inview-showup="showup-translate-up">
                <div class="sm-col-3">
                    <div class="counter">
                        <div class="counter-title text-upper">Happy client</div>
                        <div class="counter-value" data-waypoint-counter="3720">3720</div>
                    </div>
                </div>
                <div class="sm-col-3">
                    <div class="counter">
                        <div class="counter-title text-upper">Finished projects</div>
                        <div class="counter-value" data-waypoint-counter="4170">4170</div>
                    </div>
                </div>
                <div class="sm-col-3">
                    <div class="counter">
                        <div class="counter-title text-upper">Computer serviced</div>
                        <div class="counter-value" data-waypoint-counter="2730">2730</div>
                    </div>
                </div>
                <div class="sm-col-3">
                    <div class="counter">
                        <div class="counter-title text-upper">Mobile serviced</div>
                        <div class="counter-value" data-waypoint-counter="1510">1510</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back inner-shadow"></div>
        <div class="container text-center">
            <div class="section-head text-center container-md">
                <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Service process</h2>
                <p data-inview-showup="showup-translate-left">easy and effective way to get your device repaired</p>
            </div>
            <div class="service-steps text-upper" data-inview-showup="showup-scale">
                <div class="step">
                    <span class="step-number">1</span>damage device</div>
                <div class="step">
                    <span class="step-number">2</span>send it to us</div>
                <div class="step">
                    <span class="step-number active">3</span>fast fix</div>
                <div class="step">
                    <span class="step-number">4</span>quick return</div>
            </div>
        </div>
    </section>
    <section class="content-section">
        <div class="container">
            <div class="section-head text-center container-md">
                <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">What people say</h2>
                <p data-inview-showup="showup-translate-left">Real customers reviews</p>
            </div>
            <div class="owl-carousel" data-inview-showup="showup-translate-up" data-owl-dots="true">
                <div class="item">
                    <div class="simple-testimonial text-center">
                        <div class="tt-title">Great customer support</div>
                        <div class="tt-rating"><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i></div>
                        <div class="tt-content">
                            <div class="tt-quote">&#8220;</div>
                            Thanks John, I was really pleased with Profix’s service. Would definitely recommend you and have alredy given out some of your business cards that were left with me. All the best for future succes.
                        </div>
                        <div class="tt-icon">
                            <img src="/lib/images/icons/notebook-sm.png" alt="">
                        </div>
                        <div class="pexx-tt-user-title">Michale John</div>
                        <div class="pexx-tt-user-subtitle">Co-Founder, InfoLabs</div>
                    </div>
                </div>
                <div class="item">
                    <div class="simple-testimonial text-center">
                        <div class="tt-title">Flexible services</div>
                        <div class="tt-rating"><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i></div>
                        <div class="tt-content">
                            <div class="tt-quote">&#8220;</div>
                            Profix did great job with fixing my laptop for a good price. I recommend any body with laptop problems, they will give you excellent service to all his customers.
                        </div>
                        <div class="tt-icon">
                            <img src="/lib/images/icons/computer-sm.png" alt="">
                        </div>
                        <div class="pexx-tt-user-title">Merry Smith</div>
                        <div class="pexx-tt-user-subtitle">CFO, InfoTech</div>
                    </div>
                </div>
                <div class="item">
                    <div class="simple-testimonial text-center">
                        <div class="tt-title">Excellent team</div>
                        <div class="tt-rating"><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i></div>
                        <div class="tt-content">
                            <div class="tt-quote">&#8220;</div>
                            Keep up the excellent work. Thank you so much for your help. This is simply unbelievable!
                        </div>
                        <div class="tt-icon">
                            <img src="/lib/images/icons/printer-sm.png" alt="">
                        </div>
                        <div class="pexx-tt-user-title">Michale John</div>
                        <div class="pexx-tt-user-subtitle">Co-Founder, InfoLabs</div>
                    </div>
                </div>
                <div class="item">
                    <div class="simple-testimonial text-center">
                        <div class="tt-title">Flexible services</div>
                        <div class="tt-rating"><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i></div>
                        <div class="tt-content">
                            <div class="tt-quote">&#8220;</div>
                            Profix did great job with fixing my laptop for a good price. I recommend any body with laptop problems, they will give you excellent service to all his customers.
                        </div>
                        <div class="tt-icon">
                            <img src="/lib/images/icons/mobile-sm.png" alt="">
                        </div>
                        <div class="pexx-tt-user-title">Merry Smith</div>
                        <div class="pexx-tt-user-subtitle">CFO, InfoTech</div>
                    </div>
                </div>
                <div class="item">
                    <div class="simple-testimonial text-center">
                        <div class="tt-title">Great customer support</div>
                        <div class="tt-rating"><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i></div>
                        <div class="tt-content">
                            <div class="tt-quote">&#8220;</div>
                            Thanks John, I was really pleased with Profix’s service. Would definitely recommend you and have alredy given out some of your business cards that were left with me. All the best for future succes.
                        </div>
                        <div class="tt-icon">
                            <img src="/lib/images/icons/computer-sm.png" alt="">
                        </div>
                        <div class="pexx-tt-user-title">Michale John</div>
                        <div class="pexx-tt-user-subtitle">Co-Founder, InfoLabs</div>
                    </div>
                </div>
                <div class="item">
                    <div class="simple-testimonial text-center">
                        <div class="tt-title">Excellent team</div>
                        <div class="tt-rating"><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i><i class="tt-star fa fa-star" aria-hidden="true"></i></div>
                        <div class="tt-content">
                            <div class="tt-quote">&#8220;</div>
                            Keep up the excellent work. Thank you so much for your help. This is simply unbelievable!
                        </div>
                        <div class="tt-icon">
                            <img src="/lib/images/icons/printer-sm.png" alt="">
                        </div>
                        <div class="pexx-tt-user-title">Michale John</div>
                        <div class="pexx-tt-user-subtitle">Co-Founder, InfoLabs</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="solid-section muted-bg">
        <div class="container">
            <div class="row cols-lg rows-lg">
                <div class="sm-col-6">
                    <section data-inview-showup="showup-translate-right">
                        <h2 class="text-upper">How to find us</h2>
                        <p class="offs-lg">Our goal is to provide the best customer service and to answer all of your questions in a timely manner.
                        </p>
                        <div class="rows-md">
                            <div class="row cols-md rows-md">
                                <div class="md-col-6">
                                    <div class="info-item">
                                        <div class="icon">
                                            <img src="/lib/images/icons/side/phone.png" alt="" />
                                        </div>
                                        <div class="text">(555) 555-0312</div>
                                    </div>
                                </div>
                                <div class="md-col-6">
                                    <div class="info-item">
                                        <div class="icon">
                                            <img src="/lib/images/icons/side/phone1.png" alt="" />
                                        </div>
                                        <div class="text">(555) 555-0312</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row cols-md rows-md">
                                <div class="md-col-6">
                                    <div class="info-item">
                                        <div class="icon">
                                            <img src="/lib/images/icons/side/skype.png" alt="" />
                                        </div>
                                        <div class="text">(555) 555-0312</div>
                                    </div>
                                </div>
                                <div class="md-col-6">
                                    <div class="info-item">
                                        <div class="icon">
                                            <img src="/lib/images/icons/side/instagram.png" alt="" />
                                        </div>
                                        <div class="text">#profix_service</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row cols-md rows-md">
                                <div class="md-col-6">
                                    <div class="info-item">
                                        <div class="icon">
                                            <img src="/lib/images/icons/side/email.png" alt="" />
                                        </div>
                                        <div class="text">info@profix.com</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="sm-col-6">
                    <section class="block-md sm-fix-container" data-inview-showup="showup-translate-left">
                        <h5 class="offs-md">Send Us a Message</h5>
                        <form>
                            <div class="field-group">
                                <div class="field-wrap">
                                    <input class="field-control" name="name" placeholder="Name" required="required" />
                                    <span class="field-back"></span>
                                </div>
                            </div>
                            <div class="field-group">
                                <div class="field-wrap">
                                    <input class="field-control" name="email" type="email" placeholder="Email" required="required" />
                                    <span class="field-back"></span>
                                </div>
                            </div>
                            <div class="field-group">
                                <div class="field-wrap">
                                    <input class="field-control" name="subject" placeholder="Subject" required="required" />
                                    <span class="field-back"></span>
                                </div>
                            </div>
                            <div class="field-group">
                                <div class="field-wrap">
                                    <textarea class="field-control" name="message" placeholder="Message" required="required"></textarea>
                                    <span class="field-back"></span>
                                </div>
                            </div>
                            <div class="btn-block">
                                <button class="btn text-upper ajax-disabled" type="submit">
                                    send message
                                </button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <Maps hposition='side' vposition='top' />
    <div class="block-cart collapse" data-block="cart" data-show-block-class="animation-scale-top-right" data-hide-block-class="animation-unscale-top-right">
        <div class="cart-inner">
            <a href="#" class="close-link" data-close-block><i class="fas fa-times" aria-hidden="true"></i></a>
            <h4 class="text-upper text-center">Your cart</h4>
            <div class="items">
                <div class="items collapse" data-block="cart" data-show-block-class="animation-scale-top-right" data-hide-block-class="animation-unscale-top-right">
                    <div class="shop-side-item cart-item">
                        <a href="#" class="remove"><i class="fas fa-times"></i></a>
                        <div class="item-side-image">
                            <a href="shop-item.html" class="item-image responsive-1by1">
                                <img src="https://dummyimage.com/500x500" alt="" />
                            </a>
                        </div>
                        <div class="item-side">
                            <div class="item-title">
                                <a class="item-label-sm item-label-sale item-label" href="#">sale</a>
                                <a href="shop-item.html" class="content-link text-upper">USB 3.0 HUB</a>
                            </div>
                            <div class="item-quantity">Quantity - 1</div>
                            <div class="item-prices">
                                <div class="item-price">$67.05</div>
                                <div class="item-old-price">$102.5</div>
                            </div>
                        </div>
                    </div>
                    <div class="shop-side-item cart-item">
                        <a href="#" class="remove"><i class="fas fa-times"></i></a>
                        <div class="item-side-image">
                            <a href="shop-item.html" class="item-image responsive-1by1">
                                <img src="https://dummyimage.com/500x500" alt="" />
                            </a>
                        </div>
                        <div class="item-side">
                            <div class="item-title">
                                <a class="item-label-sm item-label-new item-label" href="#">new</a>
                                <a href="shop-item.html" class="content-link text-upper">Cable Organizer</a>
                            </div>
                            <div class="item-quantity">Quantity - 1</div>
                            <div class="item-prices">
                                <div class="item-price">$15.25</div>
                            </div>
                        </div>
                    </div>
                    <div class="shop-side-item cart-item">
                        <a href="#" class="remove"><i class="fas fa-times"></i></a>
                        <div class="item-side-image">
                            <a href="shop-item.html" class="item-image responsive-1by1">
                                <img src="https://dummyimage.com/500x500" alt="" />
                            </a>
                        </div>
                        <div class="item-side">
                            <div class="item-title">
                                <a href="shop-item.html" class="content-link text-upper">10" Octa Core Tablet</a>
                            </div>
                            <div class="item-quantity">Quantity - 1</div>
                            <div class="item-prices">
                                <div class="item-price">$145.99</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-sides main-bg shift-lg"></div>
            <div class="row out-md">
                <div class="col-6 cart-price-title">Subtotal:</div>
                <div class="col-6 text-right cart-price">$105.20</div>
            </div>
            <div class="line-sides main-bg offs-lg"></div>
            <div class="clearfix">
                <a href="./cart.html" class="btn text-upper btn-md btns-bordered pull-left">view cart</a>
                <a href="./checkout.html" class="btn text-upper btn-md pull-right">checkout</a>
            </div>
        </div>
    </div>
    <a href="#" class="scroll-top disabled"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <div class="singlepage-block collapse alt-bg" data-block="search" data-show-block-class="animation-scale-top-right" data-hide-block-class="animation-unscale-top-right">
        <a href="#" class="close-link" data-close-block><i class="fas fa-times" aria-hidden="true"></i></a>
        <div class="pos-v-center col-12">
            <div class="container">
                <div class="row cols-md rows-md">
                    <div class="lg-col-9 md-col-8 sm-col-12">
                        <div class="field-group">
                            <div class="field-wrap">
                                <input class="field-control" name="search" placeholder="Search Tags" required="required" />
                                <span class="field-back"></span>
                            </div>
                        </div>
                    </div>
                    <div class="lg-col-3 md-col-4 sm-col-6">
                        <button class="btn btns-white-bordered text-upper" type="submit">
                            search
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loader-block">
        <div class="loader-back alt-bg"></div>
        <div class="loader-image">
            <img class="image" src="/lib/images/parts/loader.gif" alt="" />
        </div>
    </div>
    <footer class="footer alt-bg">
        <div class="container only-xs-text-justify-center">
            <div class="solid-section tight">
                <div class="row cols-md">
                    <div class="sm-col-3">
                        <div class="footer-logo">
                            <img src="https://dummyimage.com/210x60" alt="ProFix" />
                        </div>
                        <div class="footer-text sm-text-justify">Profix is a Premium PSD Template. Best choice for your online store. Let purchase it to enjoy now</div>
                    </div>
                    <div class="sm-col-8 sm-push-1">
                        <div class="row cols-md">
                            <div class="sm-col-4">
                                <div class="footer-title text-upper">Additional links</div>
                                <ul class="list">
                                    <li>
                                        <a class="content-link" href="index.html">Home</a>
                                    </li>
                                    <li>
                                        <a class="content-link" href="faq.html">FAQ</a>
                                    </li>
                                    <li>
                                        <a class="content-link" href="services.html">Services</a>
                                    </li>
                                    <li>
                                        <a class="content-link" href="blog.html">Blog</a>
                                    </li>
                                    <li>
                                        <a class="content-link" href="contact-us.html">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sm-col-4">
                                <div class="footer-title text-upper">Services</div>
                                <ul class="list">
                                    <li>
                                        <a class="content-link" href="service.html">Data recovery</a>
                                    </li>
                                    <li>
                                        <a class="content-link" href="service.html">Computer repair</a>
                                    </li>
                                    <li>
                                        <a class="content-link" href="service.html">Mobile service</a>
                                    </li>
                                    <li>
                                        <a class="content-link" href="service.html">Network Solutions</a>
                                    </li>
                                    <li>
                                        <a class="content-link" href="service.html">Technical support</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sm-col-4">
                                <div class="footer-title text-upper">Socials</div>
                                <div class="cols-list social-blocks inline-block">
                                    <a href="#" class="list-item"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                    <a href="#" class="list-item"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#" class="list-item"><i class="fab fa-pinterest" aria-hidden="true"></i></a>
                                    <a href="#" class="list-item"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a>
                                    <a href="#" class="list-item"><i class="fab fa-dribbble" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyrights text-center ins-md solid-border-top">&copy; 2017 <b>ProFix</b>. All Rights Reserved</div>
        </div>
    </footer>
  </div>
</template>

<script>
/* eslint-disable */
export default {
  mounted () {
    this.$initLoad()
  }
}
</script>

<style>

</style>
