<template>
  <div>
    <Header1 />
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back"></div>
        <div class="container page-info">
            <div class="section-alt-head container-md">
                <h1 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Header 1</h1>
                <p data-inview-showup="showup-translate-left">Custom Image Header</p>
            </div>
        </div>
        <div class="section-footer">
            <div class="container" data-inview-showup="showup-translate-down">
                <ul class="page-path">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>Pages</li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>Header 1</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="muted-bg solid-section" data-inview-showup="showup-translate-up">
        <div class="container">
            <div class="row cols-xl rows-lg">
                <div class="md-col-6 text-center md-text-left">
                    <h2 class="text-upper text-semibold">What we do</h2>
                    <p>The most comprehensive repairs available at Profix. Any device, mobile, tablet or laptop can be repaired or upgraded by us, learn more about us and see why we are the best choice for device repairs and upgrades.</p>
                    <blockquote class="hard-line-right text-right">
                        <p>10+ Years Of Working Experience In Quality Repair Services.</p>
                    </blockquote>
                    <p>We have a fully trained, experienced service department ready to handle all of your service needs. We have been in the repair and service business since 2006.</p>
                </div>
                <div class="md-col-6 md-fix-container">
                    <img class="image" src="https://dummyimage.com/720x405" alt="" />
                </div>
            </div>
        </div>
    </section>
    <section class="content-section" data-inview-showup="showup-translate-up">
        <div class="container">
            <div class="row cols-md rows-xl">
                <div class="md-col-3 text-center md-text-left">
                    <h3 class="text-upper text-semibold">Our team</h3>
                    <p>Meet with our qualified and expert team. We are specialized in our individual field. We have enough skill and tested. That’s why you’re getting the quality repair services.
                    </p>
                    <div class="shift-lg">
                        <a class="btn text-upper" href="contact-us.html">Contact us</a>
                    </div>
                </div>
                <div class="md-col-3 sm-col-4">
                    <div class="member sm-fix-container">
                        <div class="text-center">
                            <span class="image-wrap">
                                <img class="image" src="https://dummyimage.com/720x405" alt="" />
                            </span>
                        </div>
                        <div class="member-info muted-bg text-center">
                            <div class="member-title">Alexander Smith</div>
                            <div class="member-subtitle">CEO &amp; Founder</div>
                            <div class="cols-list cols-sm socials inline-block">
                                <a href="#" class="list-item"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                <a href="#" class="list-item"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                <a href="#" class="list-item"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md-col-3 sm-col-4">
                    <div class="member sm-fix-container">
                        <div class="text-center">
                            <span class="image-wrap">
                                <img class="image" src="https://dummyimage.com/720x405" alt="" />
                            </span>
                        </div>
                        <div class="member-info muted-bg text-center">
                            <div class="member-title">Bryan Lewis</div>
                            <div class="member-subtitle">Cheif Engineer</div>
                            <div class="cols-list cols-sm socials inline-block">
                                <a href="#" class="list-item"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                <a href="#" class="list-item"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                <a href="#" class="list-item"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md-col-3 sm-col-4">
                    <div class="member sm-fix-container">
                        <div class="text-center">
                            <span class="image-wrap">
                                <img class="image" src="https://dummyimage.com/720x405" alt="" />
                            </span>
                        </div>
                        <div class="member-info muted-bg text-center">
                            <div class="member-title">David Hanson</div>
                            <div class="member-subtitle">Technical Manager</div>
                            <div class="cols-list cols-sm socials inline-block">
                                <a href="#" class="list-item"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                <a href="#" class="list-item"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                <a href="#" class="list-item"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="main-bg" data-inview-showup="showup-translate-up">
        <div class="container">
            <div class="contact-table only-xs-text-center">
                <div class="contact-icon xs-hidden"><i class="fas fa-bicycle" aria-hidden="true"></i></div>
                <div class="contact-content">
                    <div class="contact-title">Request free consultation</div>
                    <div class="text-justify only-xs-text-justify-center">Get answers and advice from people you want it from.</div>
                </div>
                <div class="contact-btn">
                    <a href="contact-us.html" class="btn btns-white text-upper">Contact Us</a>
                </div>
            </div>
        </div>
    </section>
    <section class="map-section" data-inview-showup="showup-translate-right">
        <div class="gmap" data-lat="-6.903429" data-lng="107.6081276"></div>
        <div class="info-wrap">
            <div class="info-container">
                <div class="our-info side main-bg">
                    <div class="info-block">
                        <div class="info-title text-upper">Contact Us</div>
                        <div class="info-line">
                            <span class="info-icon"><i class="fas fa-map-marker-alt fa-fw" aria-hidden="true"></i></span>Sidestate NSW 4132, Australia</div>
                        <div class="info-line">
                            <span class="info-icon"><i class="fas fa-phone fa-fw" aria-hidden="true"></i></span>(555) 555-0312</div>
                        <div class="info-line">
                            <span class="info-icon"><i class="far fa-envelope fa-fw" aria-hidden="true"></i></span>info@profix.com</div>
                    </div>
                    <div class="info-block">
                        <div class="info-title text-upper">Opening Hours</div>
                        <div class="info-line">Monday-Friday
                            <span class="pull-right">10:00 - 18:00</span>
                        </div>
                        <div class="info-line">Saturday, Sunday
                            <span class="pull-right">Closed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer3 />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
export default {
  mounted () {
    this.$initLoad()
    this.$initGmap()
  }
}
</script>

<style>

</style>
