<template>
  <div>
    <Headers />
    <section class="with-bg solid-section">
        <div class="fix-image-wrap" data-image-src="https://dummyimage.com/1920x1080" data-parallax="scroll"></div>
        <div class="theme-back"></div>
        <div class="container page-info">
            <div class="section-alt-head container-md">
                <h1 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Page Sidebar Left</h1>
            </div>
        </div>
        <div class="section-footer">
            <div class="container" data-inview-showup="showup-translate-down">
                <ul class="page-path">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>Pages</li>
                    <li class="path-separator"><i class="fas fa-chevron-right" aria-hidden="true"></i></li>
                    <li>Page Sidebar Left</li>
                </ul>
            </div>
        </div>
    </section>
    <div class="page-sidebar-left clearfix container">
        <div class="page-content">
            <section class="content-section">
                <div class="article">
                    <div class="cols-md offs-md" data-inview-showup="showup-translate-up">
                        <div class="table">
                            <div class="col col-tight">
                                <span class="date-square small main-bg text-center">
                                    <span class="middle-block">
                                        <span class="day">15</span>
                                        <span class="month">July</span>
                                    </span>
                                </span>
                            </div>
                            <div class="col col-middle">
                                <h3 class="reset-offs text-upper">Replacement of the north bridge, south bridge, video chip (replacement of BGA elements)</h3>
                            </div>
                        </div>
                    </div>
                    <img class="col-12 offs-md" data-inview-showup="showup-translate-up" src="https://dummyimage.com/1920x1080" alt="" />
                    <div class="category" data-inview-showup="showup-translate-up">Category:
                        <a class="text-upper" href="blog.html">micro chip repair</a>,
                        <a class="text-upper" href="blog.html">technology</a>
                    </div>
                    <div class="content-text clearfix" data-inview-showup="showup-translate-up">
                        <p>A very common and complicated malfunction in the motherboards of laptops is the failure and bridge of the laptop and video chip. Equipment Profix allows you to replace the bridge of the laptop, replacing the video chip in the shortest time. Consider some of the symptoms of this malfunction that arise in laptops Acer, Advent, Apple, Asus, Compaq, Dell, Fujitsu Siemens, Gateway, HP, IBM, Lenovo, LG, Panasonic, Samsung, Sony, Toshiba.pins than can be put on a dual in-line or flat package. The whole bottom surface of the device can be used, instead of just the perimeter. The leads are also on average shorter than with a perimeter-only type, leading to better performance at high speeds.
                            <br/> Soldering of BGA devices requires precise control and is usually done by automated processes. BGA devices are not suitable for socket mounting.normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                        <h5>Why is it necessary to replace the north bridge, replace the south bridge, replace the video chip?</h5>
                        <img class="pull-right" src="https://dummyimage.com/270x270" alt="" />
                        <p>For starters, you should explain what a chip is. BGA (Ball grid array) - this is the type of the chassis (chip), the outputs of which are balls of solder, located on the reverse side of the chip on the contact platform. This chip is installed on the motherboard using an infrared soldering station.
                            <br/> As a rule, the laptop uses the following chips: north bridge, south bridge, video chip. Each of these chips performs its specific functions and is responsible for individual parts of the motherboard.
                            <br/>
                            <b>Southbridge</b> is a BGA chip that provides communication between the motherboard and its components and functions as an input and output concentrator. In other words, the south bridge functionally includes: an SMBus bus controller, a PCI or PCI-Express controller, a DMA controller, a SATA , a power management controller, a USB controller.</p>
                        <h5>Symptoms of a south bridge laptop</h5>
                        <ul class="list">
                            <li>
                                <span class="list-mark">1.</span>The laptop does not work USB ports, or part of the ports.</li>
                            <li>
                                <span class="list-mark">2.</span>The keyboard does not work on the laptop.</li>
                            <li>
                                <span class="list-mark">3.</span>The hard disk is not detected in the laptop.</li>
                            <li>
                                <span class="list-mark">4.</span>The optical drive (CD, DVD) is not detected in the laptop.</li>
                            <li>
                                <span class="list-mark">5.</span>The laptop turns on, but immediately goes to reboot.</li>
                            <li>
                                <span class="list-mark">6.</span>The laptop does not turn on, the south bridge is heated.</li>
                        </ul>
                        <img class="image" src="https://dummyimage.com/1920x1080" alt="" />
                        <p><b>Northbridge</b> - provides connection of the motherboard to the processor, RAM and video card. The chip in the BGA package, the north bridge, determines the frequency of the system bus and the type of RAM. In budget notebooks, a video adapter (graphic core) is often integrated into the north bridge.</p>
                        <h5>Symptoms of a failure of the north bridge of the laptop</h5>
                        <ul class="list">
                            <li>
                                <span class="list-mark">1.</span>The laptop then turns on, then there is no (blade of the north bridge).</li>
                            <li>
                                <span class="list-mark">2.</span>The laptop turns on, but there is no image on the screen (there is no initialization).</li>
                            <li>
                                <span class="list-mark">3.</span>The motherboard of the laptop does not see (does not detect) the main memory, which is accompanied by short beeps of the speaker.</li>
                            <li>
                                <span class="list-mark">4.</span>Video adapter is not detected (there may be signs of video adapter failure, video chip).</li>
                        </ul>
                    </div>
                    <div class="top-separator out-lg" data-inview-showup="showup-translate-up"></div>
                    <div class="table offs-lg" data-inview-showup="showup-translate-up">
                        <div class="col col-middle">
                            <div class="author">Posted by
                                <span class="text-colorful">admin</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row cols-md pull-right share">
                                <div class="col">Share:</div>
                                <div class="col">
                                    <div class="cols-list cols-sm">
                                        <a href="#" class="list-item"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                        <a href="#" class="list-item"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#" class="list-item"><i class="fab fa-pinterest" aria-hidden="true"></i></a>
                                        <a href="#" class="list-item"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a>
                                        <a href="#" class="list-item"><i class="fab fa-dribbble" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix" data-inview-showup="showup-translate-up">
                        <a href="article.html" class="btn btn-md btns-bordered pull-left text-upper">previous</a>
                        <a href="article.html" class="btn btn-md btns-bordered pull-right text-upper">next</a>
                    </div>
                </div>
                <div class="top-separator out-lg" data-inview-showup="showup-translate-up"></div>
                <h4 class="text-upper" data-inview-showup="showup-translate-right">Comments</h4>
                <div class="comments">
                    <div class="comment" data-inview-showup="showup-translate-up">
                        <div class="icon">
                            <i class="fas fa-user" aria-hidden="true"></i>
                        </div>
                        <div class="content">
                            <div class="offs-md"><b class="alt-color">Lie Stone</b> - <i>Web Developer</i></div>
                            <div class="text-content">
                                <p>Comment example here. Nulla risus lacus, vehicula id mi vitae, auctor accumsan nulla. Sed a mi quam. In euismod urna ac massa adipiscing interdum.</p>
                            </div>
                            <div class="text-right text-xs">Jul 15, 2017</div>
                        </div>
                    </div>
                    <div class="comment" data-inview-showup="showup-translate-up">
                        <div class="icon">
                            <i class="fas fa-user" aria-hidden="true"></i>
                        </div>
                        <div class="content">
                            <div class="offs-md"><b class="alt-color">John Bond</b></div>
                            <div class="text-content">
                                <p>Comment example here. Nulla risus lacus, vehicula id mi vitae, auctor accumsan nulla. Sed a mi quam. In euismod urna ac massa adipiscing interdum.</p>
                            </div>
                            <div class="text-right text-xs">Jul 17, 2017 - 15 hours ago</div>
                        </div>
                    </div>
                </div>
                <div class="top-separator out-lg" data-inview-showup="showup-translate-up"></div>
                <form data-inview-showup="showup-translate-up">
                    <h4 class="text-upper">Leave a Comment</h4>
                    <p>Your email address will not be published. Required fields are marked *</p>
                    <div class="row cols-md rows-md offs-md">
                        <div class="sm-col-6">
                            <div class="field-group">
                                <div class="field-wrap">
                                    <input class="field-control" name="name" placeholder="Name" required="required" />
                                    <span class="field-back"></span>
                                </div>
                            </div>
                        </div>
                        <div class="sm-col-6">
                            <div class="field-group">
                                <div class="field-wrap">
                                    <input class="field-control" name="email" type="email" placeholder="Email" required="required" />
                                    <span class="field-back"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field-group">
                        <div class="field-wrap">
                            <textarea class="field-control" name="message" placeholder="Leave a comment..." required="required"></textarea>
                            <span class="field-back"></span>
                        </div>
                    </div>
                    <div class="btn-block">
                        <button class="btn text-upper" type="submit">
                            Post Comment
                        </button>
                    </div>
                </form>
            </section>
        </div>
        <aside class="page-sidebar content-section">
            <section class="side-content-section" data-inview-showup="showup-translate-up">
                <h5 class="shift-sm offs-md">Our Services</h5>
                <ul class="spaced-list text-medium solid-color">
                    <li>
                        <a class="muted-solid-link block-md" href="#">Data becup & recovery</a>
                    </li>
                    <li>
                        <a class="muted-solid-link block-md" href="#">Repair smartphone</a>
                    </li>
                    <li>
                        <a class="muted-solid-link block-md" href="#">Laptop & Mac upgrade</a>
                    </li>
                    <li>
                        <a class="muted-solid-link block-md" href="#">Tablet repair</a>
                    </li>
                    <li>
                        <a class="muted-solid-link block-md" href="#">Network solution</a>
                    </li>
                </ul>
            </section>
            <div class="line-sides main-bg out-lg" data-inview-showup="showup-translate-up"></div>
            <section class="side-content-section" data-inview-showup="showup-translate-up">
                <h5 class="shift-sm offs-md">Categories</h5>
                <ul class="list text-medium solid-color text-upper">
                    <li>
                        <a href="#"><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;computer</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;micro chip repair</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;technology</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;iphone</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;replace</a>
                    </li>
                </ul>
            </section>
            <div class="line-sides main-bg out-lg" data-inview-showup="showup-translate-up"></div>
            <section class="side-content-section" data-inview-showup="showup-translate-up">
                <div class="block-md muted-bg">
                    <h5 class="text-upper">Free consultation</h5>
                    <p>Get answers and advice from people you want it from.</p>
                    <div class="buttons-block text-right">
                        <a class="btn btn-md text-upper" href="contact-us.html">contact us</a>
                    </div>
                </div>
            </section>
        </aside>
    </div>
    <Footer />
    <Cart />
    <ScrollToTop />
    <Search />
    <LoaderBlock />
  </div>
</template>

<script>
/* eslint-disable */
export default {
  mounted () {
    this.$initLoad()
  }
}
</script>

<style>

</style>
